mpd-3.json
[{"id":"8a5558b1.861548","type":"mpd out","z":"85fdf142.afe7f","name":"","topic":"Mpd","server":"5eb692cd.84fe8c","x":505.58801651000977,"y":730.8499794006348,"wires":[["f76a7571.1fada8","4b461791.c0d3a8"]]},{"id":"eafe4274.dee34","type":"inject","z":"85fdf142.afe7f","name":"RMF-Classic","topic":"","payload":"play 0","payloadType":"str","repeat":"","crontab":"","once":false,"x":130.15198135375977,"y":774.9679908752441,"wires":[["8a5558b1.861548"]]},{"id":"26b13f87.6c265","type":"inject","z":"85fdf142.afe7f","name":"Tok-Fm","topic":"","payload":"play 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":108.09102249145508,"y":816.2959632873535,"wires":[["8a5558b1.861548"]]},{"id":"714ea56e.34db0c","type":"inject","z":"85fdf142.afe7f","name":"Trójka","topic":"","payload":"play 4","payloadType":"str","repeat":"","crontab":"","once":false,"x":115.00400161743164,"y":959.788028717041,"wires":[["8a5558b1.861548"]]},{"id":"8465f285.99fb6","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"next","payloadType":"str","repeat":"","crontab":"","once":false,"x":441.7340278625488,"y":606.7369747161865,"wires":[["8a5558b1.861548"]]},{"id":"64d5423b.acea1c","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"previous","payloadType":"str","repeat":"","crontab":"","once":false,"x":598.7500038146973,"y":609.2500057220459,"wires":[["8a5558b1.861548"]]},{"id":"1e312a34.7605a6","type":"inject","z":"85fdf142.afe7f","name":"Jedynka","topic":"","payload":"play 2","payloadType":"str","repeat":"","crontab":"","once":false,"x":115.75000381469727,"y":859.0000038146973,"wires":[["8a5558b1.861548"]]},{"id":"d9ee8997.ccfdb8","type":"inject","z":"85fdf142.afe7f","name":"Dwójka","topic":"","payload":"play 3","payloadType":"str","repeat":"","crontab":"","once":false,"x":107.75000381469727,"y":906.0000038146973,"wires":[["8a5558b1.861548"]]},{"id":"f76a7571.1fada8","type":"debug","z":"85fdf142.afe7f","name":"","active":false,"console":"false","complete":"title","x":669.0000038146973,"y":752.0000038146973,"wires":[]},{"id":"d63f9dec.e2565","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":148.75000381469727,"y":607.0000057220459,"wires":[["8a5558b1.861548"]]},{"id":"c743b276.d9d6e","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"x":300.75000381469727,"y":606.0000057220459,"wires":[["8a5558b1.861548"]]},{"id":"306f0d9c.436a72","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"setvol 60","payloadType":"str","repeat":"","crontab":"","once":false,"x":297.25000381469727,"y":514.5000057220459,"wires":[["8a5558b1.861548"]]},{"id":"2cb7955b.4fb63a","type":"inject","z":"85fdf142.afe7f","name":"listplaylists","topic":"","payload":"listplaylists","payloadType":"str","repeat":"","crontab":"","once":false,"x":166.75000381469727,"y":1092.0000038146973,"wires":[["104b2cac.56a063"]]},{"id":"6bbf1273.d61e8c","type":"comment","z":"85fdf142.afe7f","name":"OK = https://www.musicpd.org/doc/protocol/command_reference.html","info":"","x":305.00000381469727,"y":555.5000057220459,"wires":[]},{"id":"104b2cac.56a063","type":"mpd out","z":"85fdf142.afe7f","name":"","topic":"Mpd","server":"5eb692cd.84fe8c","x":497.75000381469727,"y":1095.0000038146973,"wires":[["4b461791.c0d3a8","1061f398.73c51c","885a106a.dc921"]]},{"id":"6490265f.9d7a78","type":"inject","z":"85fdf142.afe7f","name":"add SmoothCom 2 radio","topic":"","payload":"playlistadd radio http://sj256.hnux.com","payloadType":"str","repeat":"","crontab":"","once":false,"x":212.50000381469727,"y":1252.2500200271606,"wires":[["104b2cac.56a063"]]},{"id":"2dc4ca4b.9e8776","type":"inject","z":"85fdf142.afe7f","name":"listplaylist radio","topic":"","payload":"listplaylist radio","payloadType":"str","repeat":"","crontab":"","once":false,"x":170.00000381469727,"y":1148.5000038146973,"wires":[["104b2cac.56a063"]]},{"id":"f3ff28b9.04efe8","type":"inject","z":"85fdf142.afe7f","name":"listplaylistinfo radio","topic":"","payload":"listplaylistinfo radio","payloadType":"str","repeat":"","crontab":"","once":false,"x":186.25000381469727,"y":1192.2500038146973,"wires":[["104b2cac.56a063"]]},{"id":"6a85b286.005f0c","type":"inject","z":"85fdf142.afe7f","name":"commands","topic":"","payload":"commands","payloadType":"str","repeat":"","crontab":"","once":false,"x":338.50000381469727,"y":1027.7500038146973,"wires":[["104b2cac.56a063"]]},{"id":"d6776c92.44fe8","type":"inject","z":"85fdf142.afe7f","name":"decoders","topic":"","payload":"decoders","payloadType":"str","repeat":"","crontab":"","once":false,"x":532.7500038146973,"y":1027.0000038146973,"wires":[["104b2cac.56a063"]]},{"id":"2e66466e.8e864a","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"status","payloadType":"str","repeat":"","crontab":"","once":false,"x":350.00000381469727,"y":852.2500038146973,"wires":[["8a5558b1.861548"]]},{"id":"90de349e.207098","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"setvol 75","payloadType":"str","repeat":"","crontab":"","once":false,"x":477.00000381469727,"y":517.5000057220459,"wires":[["8a5558b1.861548"]]},{"id":"fee900c.717b8","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"setvol 85","payloadType":"str","repeat":"","crontab":"","once":false,"x":654.2500038146973,"y":518.0000057220459,"wires":[["8a5558b1.861548"]]},{"id":"536da18c.d8f48","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"lsinfo","payloadType":"str","repeat":"","crontab":"","once":false,"x":310.50000381469727,"y":690.5000057220459,"wires":[["8a5558b1.861548"]]},{"id":"4ada742e.78481c","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"playlist","payloadType":"str","repeat":"","crontab":"","once":false,"x":140.00000381469727,"y":1051.0000038146973,"wires":[["104b2cac.56a063"]]},{"id":"bd87b77e.e2f718","type":"http in","z":"85fdf142.afe7f","name":"","url":"/mpd/","method":"get","swaggerDoc":"","x":134.25000381469727,"y":1950.0000038146973,"wires":[["65f39b90.e48e14"]]},{"id":"86664e75.63069","type":"http in","z":"85fdf142.afe7f","name":"","url":"/mpd/:name/:val","method":"post","swaggerDoc":"","x":165.00000381469727,"y":2182.7500038146973,"wires":[["261e4d66.2d9d92"]]},{"id":"b0c1f4dc.1d6c38","type":"http response","z":"85fdf142.afe7f","name":"","x":764.0000038146973,"y":1993.5000038146973,"wires":[]},{"id":"4b461791.c0d3a8","type":"debug","z":"85fdf142.afe7f","name":"","active":true,"console":"false","complete":"false","x":687.7500038146973,"y":679.0000057220459,"wires":[]},{"id":"9e144e64.13caa","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"x":146.75000381469727,"y":1514.0000038146973,"wires":[["104b2cac.56a063"]]},{"id":"d36b2eb.1134ad","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"next","payloadType":"str","repeat":"","crontab":"","once":false,"x":300.75000381469727,"y":1511.0000038146973,"wires":[["104b2cac.56a063"]]},{"id":"22b0c404.eb372c","type":"inject","z":"85fdf142.afe7f","name":"playid","topic":"","payload":"playid","payloadType":"str","repeat":"","crontab":"","once":false,"x":487.75000381469727,"y":1512.000005722046,"wires":[["104b2cac.56a063"]]},{"id":"97c76f7d.d1bc1","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"pause","payloadType":"str","repeat":"","crontab":"","once":false,"x":146.75000381469727,"y":685.0000057220459,"wires":[["8a5558b1.861548"]]},{"id":"72ef1d91.a2c754","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"currentsong","payloadType":"str","repeat":"","crontab":"","once":false,"x":398.75000381469727,"y":1437.0000038146973,"wires":[["104b2cac.56a063"]]},{"id":"10e8c27c.3e5b3e","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"outputs","payloadType":"str","repeat":"","crontab":"","once":false,"x":158.75000381469727,"y":1325.0000038146973,"wires":[["104b2cac.56a063"]]},{"id":"66967369.987c4c","type":"debug","z":"85fdf142.afe7f","name":"","active":true,"console":"false","complete":"false","x":612.7500038146973,"y":1252.000005722046,"wires":[]},{"id":"1061f398.73c51c","type":"function","z":"85fdf142.afe7f","name":"Raport MPD","func":"var info = 'Current: ';\n\nvar cur = msg.payload[0];\nvar sta = msg.payload[0];\n\n//var cur = msg.payload.currentsong;\n//var sta = msg.payload.status;\n\n//if (sta.song) info += sta.song+'. ';\nif (sta.songid) info += sta.songid+'. ';\nif (cur.Name) info += ' #'+cur.Name;\n\nif (cur.Album) info += ' '+cur.Album;\nif (cur.Artist) info += ' = '+cur.Artist;\nif (cur.Title) info += ' - '+cur.Title;\n\nif (cur.Pos) info += ' #'+cur.Pos;\nif (sta.volume) info += ' %'+sta.volume;\nif (sta.random) info += ' RND:'+sta.random;\nif (sta.file) info += ' ='+sta.file;\n\n//if (sta.bitrate) info += ' b'+sta.bitrate;\n\nmsg.payload = info;\n\nreturn msg;","outputs":1,"noerr":0,"x":557.7500038146973,"y":1178.000005722046,"wires":[["66967369.987c4c"]]},{"id":"f0b4bd5d.86d07","type":"function","z":"85fdf142.afe7f","name":"PlayList","func":"var msg1 = {\"payload\":\"clear\"};\nvar msg2 = {\"payload\":\"play\"};\nreturn [msg1,msg,msg2];","outputs":"3","noerr":0,"x":302.75000381469727,"y":1582.0000038146973,"wires":[["104b2cac.56a063","8b8cc6f3.4acb28"],["104b2cac.56a063","1c692891.0a2c27"],["104b2cac.56a063"]]},{"id":"b50a009c.342bf","type":"inject","z":"85fdf142.afe7f","name":"radio","topic":"","payload":"load radio","payloadType":"str","repeat":"","crontab":"","once":false,"x":137.75000381469727,"y":1581.0000038146973,"wires":[["f0b4bd5d.86d07"]]},{"id":"736c7474.2f288c","type":"inject","z":"85fdf142.afe7f","name":"muzyka","topic":"","payload":"load muzyka","payloadType":"str","repeat":"","crontab":"","once":false,"x":144.75000381469727,"y":1635.0000038146973,"wires":[["f0b4bd5d.86d07"]]},{"id":"12deacc8.b59643","type":"inject","z":"85fdf142.afe7f","name":"random","topic":"","payload":"load random","payloadType":"str","repeat":"","crontab":"","once":false,"x":144.75000381469727,"y":1693.0000038146973,"wires":[["f0b4bd5d.86d07"]]},{"id":"8b8cc6f3.4acb28","type":"debug","z":"85fdf142.afe7f","name":"","active":true,"console":"false","complete":"false","x":482.75000381469727,"y":1579.0000038146973,"wires":[]},{"id":"1c692891.0a2c27","type":"debug","z":"85fdf142.afe7f","name":"","active":true,"console":"false","complete":"false","x":480.75000381469727,"y":1616.0000038146973,"wires":[]},{"id":"deb0ee9.a397c1","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"random 0","payloadType":"str","repeat":"","crontab":"","once":false,"x":154.75000381469727,"y":1417.0000038146973,"wires":[["104b2cac.56a063"]]},{"id":"b84c6512.108448","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"random 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":151.75000381469727,"y":1457.0000038146973,"wires":[["104b2cac.56a063"]]},{"id":"26f21951.0a7b26","type":"mpd out","z":"85fdf142.afe7f","name":"","topic":"Mpd","server":"5eb692cd.84fe8c","x":483.75000381469727,"y":2261.0000038146973,"wires":[["d0e1190d.3318d8"]]},{"id":"261e4d66.2d9d92","type":"function","z":"85fdf142.afe7f","name":"name/val","func":"\nvar name = msg.req.params.name;\nvar val  = msg.req.params.val;\nvar out = name +' '+val;\nif (val==='!') out = name;  \n\nif (name==='info'){out = 'currentsong';}\n    \nif (name==='vol'){\n    if(val ==='+' || val ==='-' || val ==='--'){\n        var volume = parseInt(global.get(\"mpd_volume\"));\n        if (val ==='+') volume +=5;\n        if (val ==='-') volume -=5;\n        if (val ==='--') volume -=15;\n        out = 'setvol '+volume;\n        global.set(\"mpd_volume\",volume)\n    }\n}\nmsg.payload=out;\nreturn msg;","outputs":"1","noerr":0,"x":264.75000381469727,"y":2133.0000038146973,"wires":[["26f21951.0a7b26","b0c1f4dc.1d6c38","872ce77b.8346d8"]]},{"id":"2b4cb286.4a77ee","type":"inject","z":"85fdf142.afe7f","name":"add radio","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160.75000381469727,"y":2732.0000038146973,"wires":[["6126424c.f9068c"]]},{"id":"6126424c.f9068c","type":"http request","z":"85fdf142.afe7f","name":"radioRADIO.json","method":"GET","ret":"obj","url":"https://raw.githubusercontent.com/ZnakZorro/radioRADIO/master/radio.json","tls":"","x":278.75000381469727,"y":2672.0000038146973,"wires":[["7b54d4c4.33257c","46fbaad8.3613e4"]]},{"id":"f6e33117.2e0a9","type":"debug","z":"85fdf142.afe7f","name":"","active":false,"console":"false","complete":"false","x":697.7500038146973,"y":2724.0000038146973,"wires":[]},{"id":"7b54d4c4.33257c","type":"function","z":"85fdf142.afe7f","name":"do add list","func":"var arr = msg.payload;\nvar out = 'clear\\n';\nvar klaw = '';\narr.forEach(function(r,x){\n    var c=x%20;\n    out += 'add '+r.stream+'\\n';\n    klaw += \"<button onClick='ajx(\\\"/mpd/play/\"+x+\"\\\")' class='c\"+c+\"'>\"+r.title+\"</button>\\n\";\n});\nout += 'play 0\\n';\n\nmsg.payload = out;\nvar msg2 = {payload:klaw};\nreturn [msg,msg2];","outputs":"2","noerr":0,"x":397.75000381469727,"y":2728.0000038146973,"wires":[["cf2a92c7.7437d"],["ceeec0cf.48592","7b09f808.cf4668","1255a67c.0c998a"]]},{"id":"cf2a92c7.7437d","type":"mpd out","z":"85fdf142.afe7f","name":"","topic":"","server":"5eb692cd.84fe8c","x":512.7500038146973,"y":2669.0000038146973,"wires":[["f6e33117.2e0a9"]]},{"id":"ceeec0cf.48592","type":"file","z":"85fdf142.afe7f","name":"radioButtons.html","filename":"/home/pi/red/db/radioButtons.html","appendNewline":false,"createDir":true,"overwriteFile":"true","x":687.7500038146973,"y":2774.0000038146973,"wires":[]},{"id":"7b09f808.cf4668","type":"debug","z":"85fdf142.afe7f","name":"","active":true,"console":"false","complete":"false","x":695.7500038146973,"y":2675.0000038146973,"wires":[]},{"id":"1255a67c.0c998a","type":"file","z":"85fdf142.afe7f","name":"cdn/radioButtons.html","filename":"/home/pi/node_modules/node-red/public/cdn/radio/radioButtons.html","appendNewline":false,"createDir":true,"overwriteFile":"true","x":696.7500038146973,"y":2821.0000038146973,"wires":[]},{"id":"94ec5dd9.1adba","type":"comment","z":"85fdf142.afe7f","name":"Update radio playlist","info":"","x":158.75000381469727,"y":2609.0000038146973,"wires":[]},{"id":"9eb0806c.600b7","type":"mpd in","z":"85fdf142.afe7f","name":"","topic":"Mpd","server":"5eb692cd.84fe8c","x":149.00000381469727,"y":246.0000057220459,"wires":[["5e2e59a2.73bb38","b6bd1dd8.10968"]]},{"id":"5e2e59a2.73bb38","type":"function","z":"85fdf142.afe7f","name":"MPD info","func":"var volume = msg.payload.status.volume;\nvar msg2={\"payload\":volume+' %'};\nglobal.set(\"mpd_volume\",volume); \n//msg.payload = msg.payload.status.volume + '% ' + (msg.payload.currentsong.Title || msg.payload.currentsong.Name);\nmsg.payload = (msg.payload.currentsong.Title || msg.payload.currentsong.Name);\nreturn [msg,msg2];\n\n\n\n\n/*\n{\n\t\"currentsong\": {\n\t\t\"file\": \"http://stream3.polskieradio.pl:8900/\",\n\t\t\"Title\":\"rp\",\n\t\t\"Name\": \"Polskie Radio S.A. -- Program 1 -- http://moje.polskieradio.pl\",\n\t\t\"Pos\": \"2\",\n\t\t\"Id\": \"3\"\n\t},\n\t\"status\": {\n\t\t\"volume\": \"85\",\n\t\t\"repeat\": \"0\",\n\t\t\"random\": \"0\",\n\t\t\"single\": \"0\",\n\t\t\"consume\": \"0\",\n\t\t\"playlist\": \"534\",\n\t\t\"playlistlength\": \"24\",\n\t\t\"mixrampdb\": \"0.000000\",\n\t\t\"state\": \"play\",\n\t\t\"song\": \"2\",\n\t\t\"songid\": \"3\",\n\t\t\"time\": \"0:0\",\n\t\t\"elapsed\": \"0.499\",\n\t\t\"bitrate\": \"96\",\n\t\t\"audio\": \"44100:24:2\",\n\t\t\"nextsong\": \"3\",\n\t\t\"nextsongid\": \"4\"\n\t}\n}\n*/","outputs":"2","noerr":0,"x":344.00000381469727,"y":245.0000057220459,"wires":[["30f4a8d.f2dc658"],["c27ac18c.54c7e"]]},{"id":"30f4a8d.f2dc658","type":"rbe","z":"85fdf142.afe7f","name":"Title","func":"rbe","gap":"","start":"","inout":"out","x":383.00000381469727,"y":195.0000057220459,"wires":[["f0d11e30.8f7c4","6fd226d0.570fc8"]]},{"id":"c27ac18c.54c7e","type":"rbe","z":"85fdf142.afe7f","name":"Vol","func":"rbe","gap":"","start":"","inout":"out","x":383.00000381469727,"y":292.0000057220459,"wires":[["67b7761d.c79068"]]},{"id":"f0d11e30.8f7c4","type":"switch","z":"85fdf142.afe7f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"RMF CLASSIC - STUDIO","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":544.0000038146973,"y":232.0000057220459,"wires":[["3bb09f6a.50a1e","cb267164.066b2"],["39551546.ca7fda"]]},{"id":"6fd226d0.570fc8","type":"debug","z":"85fdf142.afe7f","name":"","active":false,"console":"false","complete":"false","x":705.0000038146973,"y":136.0000057220459,"wires":[]},{"id":"67b7761d.c79068","type":"debug","z":"85fdf142.afe7f","name":"","active":false,"console":"false","complete":"false","x":626.0000038146973,"y":332.0000057220459,"wires":[]},{"id":"3bb09f6a.50a1e","type":"play audio","z":"85fdf142.afe7f","name":"","voice":"14","x":721.0000038146973,"y":279.00000381469727,"wires":[]},{"id":"cb267164.066b2","type":"debug","z":"85fdf142.afe7f","name":"","active":true,"console":"false","complete":"false","x":707.0000038146973,"y":176.0000057220459,"wires":[]},{"id":"39551546.ca7fda","type":"debug","z":"85fdf142.afe7f","name":"","active":false,"console":"false","complete":"false","x":706.0000038146973,"y":221.0000057220459,"wires":[]},{"id":"bc975b71.1d8e08","type":"function","z":"85fdf142.afe7f","name":"[0]","func":"if(msg.payload[0].Name || msg.payload[0].Title){\nmsg.payload = msg.payload[0].Name + ' ' +msg.payload[0].Title ;\n} else\nif(msg.payload[0].state || msg.payload[0].volume){\nmsg.payload = msg.payload[0].volume + '% ' +msg.payload[0].state ;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":482.00000381469727,"y":379.0000057220459,"wires":[["67b7761d.c79068","3bb09f6a.50a1e"]]},{"id":"e33f9f76.2b3cf","type":"mpd out","z":"85fdf142.afe7f","name":"","topic":"","server":"5eb692cd.84fe8c","x":330.00000381469727,"y":376.0000057220459,"wires":[["bc975b71.1d8e08","9518c038.117ab"]]},{"id":"6d38e017.a0cb8","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"currentsong","payloadType":"str","repeat":"","crontab":"","once":false,"x":161.00000381469727,"y":329.0000057220459,"wires":[["e33f9f76.2b3cf"]]},{"id":"ccbe41e8.571d8","type":"comment","z":"85fdf142.afe7f","name":"Control changes on MPD","info":"","x":207.00000381469727,"y":104.0000057220459,"wires":[]},{"id":"74710ffd.628a3","type":"inject","z":"85fdf142.afe7f","name":"","topic":"","payload":"status","payloadType":"str","repeat":"","crontab":"","once":false,"x":150.00000381469727,"y":408.0000057220459,"wires":[["e33f9f76.2b3cf"]]},{"id":"9518c038.117ab","type":"debug","z":"85fdf142.afe7f","name":"","active":true,"console":"false","complete":"false","x":509.00000381469727,"y":427.0000057220459,"wires":[]},{"id":"b6bd1dd8.10968","type":"debug","z":"85fdf142.afe7f","name":"","active":false,"console":"false","complete":"false","x":219.00000381469727,"y":185.0000057220459,"wires":[]},{"id":"885a106a.dc921","type":"debug","z":"85fdf142.afe7f","name":"","active":true,"console":"false","complete":"false","x":684.0000038146973,"y":1086.0000038146973,"wires":[]},{"id":"65f39b90.e48e14","type":"file in","z":"85fdf142.afe7f","name":"radioButtons","filename":"/home/pi/node_modules/node-red/public/cdn/radio/radiostrams.json","format":"utf8","x":243.00000381469727,"y":2008.0000038146973,"wires":[["3a9e2693.53a8da"]]},{"id":"46fbaad8.3613e4","type":"file","z":"85fdf142.afe7f","name":"cdn/radioButtons.html","filename":"/home/pi/node_modules/node-red/public/cdn/radio/radiostrams.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":397.00000381469727,"y":2823.0000019073486,"wires":[]},{"id":"cf6a4d61.f2bb1","type":"template","z":"85fdf142.afe7f","name":"{strona}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"pl\">\n<head><meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\"><meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAllBMVEUAAADgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAYpUjceAAAAMXRSTlMA+r8MIRjst2SSfkgIEXZa9Dfopp4+r20UKsS7s2Eyq2rdyoklLuODcdLPUJd52EHHmPDFnwAABR1JREFUeAHt2+luukoYx/HfAO4DovhXBBdR62Jd+tz/zZ0p6rQDjKJVSU78vMSA3+DwhEDE29vb29tbFm7apZIlzL/1P2KtH//0Wj8+Yv25YAklmyMHszELF/Qk7aDWtHHJwXPpyVi3AZ1DQC8xPSCL79HLjEtIOSzohdoNJAwZvRTrQVGll3Pwyyej16tC6rtUADbCibmmQuxNHC2pIEvELEYFcS1821JhthB8RoVxSwAcuoYZ4SnSHRjs4cNgczXzE2gwEsojYEiPtAGsfD9Ul4QZhDY9Uh9NuqYmL9UJhD090hBOvoC6HJ4beqS6fgqx8TL6Cdgdc2XAejdmpLGuxnrfVo7j1IWIhF28UWxYyn1nmOlPDvy1DHBkwJSEgF+4fAZIM0iY48SUATXUKFubA6glAuSh6gBaNwf00wFb7RzcQ5ipAU15qB4A6xEBHXQo2xpCXRcwlCP0jwFeMoBtV8FpRAg7XUBTHoV1VmHegFFWgEeKHcC3JHxBcK4H1AEsHxfA5ufVZUBYXQrg7HzQUs6AVjpgnAzwlYCeDFipAZ8QGAnzvwV0EwGueQ4I1YCeLsC6IeCQI4CfAyq6gFANKKUDFp43/jb4FgpGEJRJWAcnX/QTMFYDIIwuBlQ0Affpoku/lWVAF8LkeoD/1ICqLqAhA+y/BVQSAe27Avz/ZcC4wIAPEjw1YKUL4E8I6GcEOP/fgMEfA0wANmmVx5OWZfUP1VnAsgMqmoCOLiBML0KTNKZDG5JVXzwkwMgdEH1yKMyl+8oAz0bKaJ8nYP6QgB2ymCEpwqwA6xEBK2Qz1VVv3BQwzB+wVL6U44e5fkVAhePEWk5dxiLvZ0H23ecHuBaOzBn7uSZwsntoQCkrYImj0hf9UuOI8ejZAW4JMXNKii2OevkD5G71WwIGOOpQQhMx270poHNzwBCxf4wSFiZi3RwB3v0BbI7YWPuAevLcgDbHN9+llBCxf88N2CDWICnZ1v8VENJv5YsBVQiBGmClAwy51tPsxONpA0Y6YK4LmECYXg0IEXMog38lwJUnaHx/wBdiTUpjpvwJNAH8/HH3/oAIsRGl7blchJoA854AnxSuLyduUg2xpj7APqcP7g+gA2I77WuirTaAWefrp6IGLC8F9Ek1Q8xeUIKHGF9oA2gJ8IFcylW510wXsAK4R6oFR+zASBH5p+2kD6BKbX36JF8AGbUpJTVx1GRK1weOKumAtCBXgMaa46ixIMmwIAdxjoCNDBjfHkA7nPjLYwLbDLm8KcwVsOBKQE3e6W7yBLgtnPHWsDdpWJBm+ptSxQSY7+VE2KoBhg3s6ILIgkaVcgawgVcmORE6agBFtZAuWpeQqcnyBkghhLEakEPUQhp3GN0cEEAIbw4g1+FIsCpEtwes5bsyB8Kacls3lQR/WaZ7AtgnMGIkLEbyHOYUzUYmYnYjXlLpgC5dxTZTl2Is2NOtyvugEgZ7V7fAulSoSvEBYypUF17RAR0qlIctFaqDHhXKQZ8K9QGEVCADwAejwrARhAkVZoWYw6gYO5w0IipA9AmJN8fRot0ul8uuwI7ogdiRK4gvabcXUbdpQsEFU2Gf+KU0K0MpzbdPTAUXkO3trVROm+Fus3La/HIApdVwtxqlWbjEf35ACZeYzw/wLwe4Dw2YaZ4U6vE2pexwtxWllDkuMtLJI9ytzyjpC5c1GCV4+IMOJX3iimqiILDxB7ah+1uB3qj+W4/jT/ik/lsLb29vb29vSf8BGVGXt/uCbeIAAAAASUVORK5CYII=\"/>    \n<style>\n    body,a,li,button {font:normal 0.95em/1.7em verdana; margin:0.5em;}\n    body,a,li {background:#666; color:white;}\n    a{text-decoration:none;}\n    #info {background:#bbb; color:black;}\n</style>\n\n<link rel=\"stylesheet\" href=\"/cdn/_/style.css\">\n<script src=\"/cdn/_/script.js\"></script>\n\n<title>Radio-Red-MPD</title>\n\n<script>\nfunction $(e){return document.getElementById(e)}\n\nfunction ajx(u){\n\tif(u){\n\t    console.log(u)\n\t\tvar request=new Request(u,{method:\"POST\",mode:\"cors\",redirect:\"follow\",headers:new Headers({\"Content-Type\":\"text/plain\"})});\n\t\tfetch(u,request).then(function(e){\n\t\t\treturn e.text()\n\t\t}).then(function(out){\n\t\t\tif(out){\n\t\t\t\tconsole.log(out)\n\t\t\t\t$(\"info\").innerHTML=out;\n\t\t\t}\n\t\t});\n\t}\n}\n\n//setTimeout(function(){ajx('info')},5000);\n//setInterval(function(){ajx('info')},30000);\n\n</script>\n</head>\n<body>\n    <div id=\"info\" ></div>\n\n\n\n<div>\n<!--\n    <button onClick=\"ajx('/mpd/currentsong')\">Info</button>  \n-->\n    <button onClick=\"ajx('/mpd/stop/!')\">Stop</button>  \n    <button onClick=\"ajx('/mpd/play/!')\">Play</button>\n    <button onClick=\"ajx('/mpd/pause/!')\">Pause</button>\n    <button onClick=\"ajx('/mpd/next/!')\">Next</button>\n    <button onClick=\"ajx('/mpd/previous/!')\">Prev</button>\n    <button onClick=\"ajx('/mpd/setvol/85/')\">Vol 85</button>\n    <button onClick=\"ajx('/mpd/vol/+/')\">Vol +</button>  \n    <button onClick=\"ajx('/mpd/vol/-/')\">Vol -</button>\n    <button onClick=\"ajx('/mpd/vol/--/')\">Vol --</button>\n</div>\n\n<div>\n{{#payload.buttons}}\n<button onClick=\"ajx('/mpd/play/{{n}}')\" title=\"{{n}}\" class=\"c{{c}}\">{{t}}</button>\n{{/payload.buttons}}\n</div>\n\n</body>\n</html>\n","x":500.00000381469727,"y":1994.0000038146973,"wires":[["b0c1f4dc.1d6c38"]]},{"id":"3a9e2693.53a8da","type":"function","z":"85fdf142.afe7f","name":"klawisze","func":"var radios = JSON.parse(msg.payload);\n \nvar buttons =[];\nvar nr=0;\nradios.forEach(function(k,i){\n    //if (i>0) \n    {\n        buttons.push({t:k.title,n:nr,c:i%20});\n        nr++;\n    }\n});\nmsg.payload = {};\nmsg.payload.buttons = buttons;\nmsg.headers = {'Content-Type':'text/html;charset=utf-8'};\nreturn msg;","outputs":1,"noerr":0,"x":336.00000381469727,"y":1942.0000038146973,"wires":[["cf6a4d61.f2bb1"]]},{"id":"872ce77b.8346d8","type":"debug","z":"85fdf142.afe7f","name":"","active":false,"console":"false","complete":"false","x":584.0000038146973,"y":2141.0000038146973,"wires":[]},{"id":"d0e1190d.3318d8","type":"function","z":"85fdf142.afe7f","name":"Raport MPD","func":"var cur = 'cur';\nvar sta = 'sta';\n//if (msg.payload[0]) cur = msg.payload[0];\n//var sta = msg.payload[0];\nmsg.payload=cur;\nmsg.headers = {'Content-Type':'text/html;charset=utf-8'};\nreturn msg;\n/*\nvar info = 'Current: ';\n\nvar cur = msg.payload[0];\nvar sta = msg.payload[0];\n\n//var cur = msg.payload.currentsong;\n//var sta = msg.payload.status;\n\n//if (sta.song) info += sta.song+'. ';\nif (sta.songid) info += sta.songid+'. ';\nif (cur.Name) info += ' #'+cur.Name;\n\nif (cur.Album) info += ' '+cur.Album;\nif (cur.Artist) info += ' = '+cur.Artist;\nif (cur.Title) info += ' - '+cur.Title;\n\nif (cur.Pos) info += ' #'+cur.Pos;\nif (sta.volume) info += ' %'+sta.volume;\nif (sta.random) info += ' RND:'+sta.random;\nif (sta.file) info += ' ='+sta.file;\n\n//if (sta.bitrate) info += ' b'+sta.bitrate;\n\nmsg.payload = info;\n\nreturn msg;\n*/","outputs":1,"noerr":0,"x":644.0000038146973,"y":2212.0000038146973,"wires":[["ed416afb.aae618"]]},{"id":"ed416afb.aae618","type":"debug","z":"85fdf142.afe7f","name":"","active":false,"console":"false","complete":"false","x":728.0000038146973,"y":2302.0000038146973,"wires":[]},{"id":"5eb692cd.84fe8c","type":"mpd-server","z":"","host":"82.145.73.33","port":"6600"}]
