node-red/aleObserwator.json
[{"id":"8dc92153.1e2a7","type":"inject","z":"95bf5f26.55621","name":"Piła szablowa","topic":"","payload":"6767378032","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":60,"wires":[["d315ca01.5c7d98"]]},{"id":"d315ca01.5c7d98","type":"function","z":"95bf5f26.55621","name":"url","func":"//msg.url = \"http://allegro.pl/show_item.php?item=6767378032\";\nmsg.url = \"http://allegro.pl/show_item.php?item=\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["2752b989.f5b156"]]},{"id":"2752b989.f5b156","type":"http request","z":"95bf5f26.55621","name":"","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":140,"wires":[["4a5415ff.cf279c"]]},{"id":"e57e7360.4a664","type":"inject","z":"95bf5f26.55621","name":"Wkrętarka","topic":"","payload":"6764283482","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":100,"wires":[["d315ca01.5c7d98"]]},{"id":"be1d590c.d24898","type":"inject","z":"95bf5f26.55621","name":"Piła szablowa","topic":"","payload":"6763764621","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":160,"wires":[["d315ca01.5c7d98"]]},{"id":"4a5415ff.cf279c","type":"function","z":"95bf5f26.55621","name":"parese","func":"var ret = msg.payload.match(/\\[\\{(.*?)\\}\\]/);\n\nvar time = parseInt(msg.payload.match(/data-countdown-timestamp\\=\\\"(.*?)\\\"/)[1]);\nvar czas = (new Date(time*1000)).toLocaleString();\nvar title = msg.payload.match(/<title>(.*?)<\\/title>/)[1].split('(')[0];\n\nvar obj = JSON.parse(ret[0])[0];\nmsg.payload = obj;\n\nif (title) {obj.title=title;}\nif (czas)  {obj.czas=czas;}\n\nmsg.info = '['+(obj.active===\"yes\"?\"+\":\"-\")+'] '+obj.czas+' \\n'+obj.price+'zł \\n'+obj.title;\nmsg.payload=obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["2fcad45c.4fed2c","79b702eb.3cf5dc"]]},{"id":"a380d05b.f2eb5","type":"file in","z":"95bf5f26.55621","name":"","filename":"/home/pi/red/aletest.html","format":"utf8","x":350,"y":340,"wires":[["4a5415ff.cf279c"]]},{"id":"2fcad45c.4fed2c","type":"debug","z":"95bf5f26.55621","name":"","active":false,"console":"false","complete":"false","x":730,"y":260,"wires":[]},{"id":"79b702eb.3cf5dc","type":"debug","z":"95bf5f26.55621","name":"","active":true,"console":"false","complete":"info","x":720,"y":200,"wires":[]},{"id":"841813fb.31627","type":"inject","z":"95bf5f26.55621","name":"file test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":340,"wires":[["a380d05b.f2eb5"]]}]
