node-red/customE.json
[{"id":"926b7922.276358","type":"http response","z":"7b9cf930.61a438","name":"","statusCode":"","headers":{},"x":610,"y":160,"wires":[]},{"id":"6a0246c0.e28c38","type":"http in","z":"7b9cf930.61a438","name":"","url":"/cdn/plusminus.html","method":"get","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["c2bedcc6.de225"]]},{"id":"c2bedcc6.de225","type":"template","z":"7b9cf930.61a438","name":"plusminus.html","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<script>\n\"use strict\";\n\n\n    var protoplus = Object.create(HTMLElement.prototype);\n\n    protoplus.createdCallback = function() {\n            \n            this.steper=null;\n\n            function MouseDown(e){\n                e.preventDefault();\n                eval(this.callback+'('+ten.step+')');\n                ten.steper = setInterval(function(){\n                    eval(ten.callback+'('+ten.step+')');\n                    \n                },300);\n            }\n            \n            function MouseUp(e){\n                clearInterval(ten.steper);\n            }\n            \n        this.callback = this.getAttribute('callback');\n        this.step     = this.getAttribute('step');\n        this.innerHTML = '<button>'+ this.textContent + ' ' + this.step+'</button>';\n        this.addEventListener(\"mousedown\", MouseDown, false);\n        this.addEventListener(\"mouseup\", MouseUp, false);\n        var ten = this;\n    }\n    document.registerElement('klawisz-plus', {prototype: protoplus});\n</script>","x":420,"y":100,"wires":[["926b7922.276358"]]},{"id":"6c06dbc4.cc0304","type":"http in","z":"7b9cf930.61a438","name":"","url":"/klawisz","method":"get","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["c5a88843.8e2be8"]]},{"id":"c5a88843.8e2be8","type":"template","z":"7b9cf930.61a438","name":"klawisz.html","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n<head>\n<link rel=\"shortcut icon\" href=\"data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAERAAAAAAAAAAERAAAAAAAAAAERAAAAAAAAAAEQAAAAAAAAABEREAAAAAAAAAABEAAAAAAAAAARAAAAAAAAEQAAAAAAABEAAAAAABERAAAAABEREAAAAAAREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAP/8AAI//AADj/wAA+P8AAP5/AAD/BwAA//kAAP/8AAD/8wAA/88AAPw/AADB/wAAH/8AAP//AAD//wAA\" />\n<title>Plus Minus Step</title>\n<meta charset=\"UTF-8\">\n<style>\n    body   {margin:1em; font:normal 1.5em verdana;}\n    button {margin:0.5em; font-size:1em; padding:0.25em 1em; border-radius:0.5em;}\n    \n</style>\n<script>\n    function $(id)   {return document.getElementById(id);}\n    function fajax(fatchUrl){\n    fetch(fatchUrl)\n    .then(function(response){return response.json()})\n    .then(function(json) {\n        //if(json) {console.log(json);}\n    }).catch(function(e){console.log(\"ERR:\",String(e.name),String(e.message));})\n}\n\n    var myStep=0;\n    var  stepuj = function(step){\n        myStep = myStep + step;\n        myStep=myStep<0?0:myStep;\n        myStep=myStep>100?100:myStep;\n        $('info').innerHTML = myStep;\n        fajax('/step?step='+myStep)\n    }\n</script>\n\n<link rel=\"import\" href=\"/cdn/plusminus.html\">\n\n</head>\n<body>\n\n    <h3>Klawisz plus minus </h3>\n    <klawisz-plus step=\"10\"  callback=\"stepuj\">Plus</klawisz-plus>\n    <span id=\"info\">0</span>\n    <klawisz-plus step=\"-10\" callback=\"stepuj\">Minus</klawisz-plus>\n\n</body>\n</html>","x":410,"y":160,"wires":[["926b7922.276358"]]},{"id":"ba411ffb.bcde2","type":"http in","z":"7b9cf930.61a438","name":"","url":"/step","method":"get","upload":false,"swaggerDoc":"","x":100,"y":240,"wires":[["ce1ce580.845b18"]]},{"id":"ce1ce580.845b18","type":"function","z":"7b9cf930.61a438","name":"pass","func":"msg.payload=msg.payload.step;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["926b7922.276358","eb6da4bb.a8cd48"]]},{"id":"eb6da4bb.a8cd48","type":"debug","z":"7b9cf930.61a438","name":"","active":true,"console":"false","complete":"false","x":590,"y":280,"wires":[]},{"id":"94d4c6b3.1db328","type":"comment","z":"7b9cf930.61a438","name":"Odpalamy /klawisz","info":"","x":130,"y":40,"wires":[]}]
