node-red/flora_korki_thingspeak.json
[{"id":"c23b260e.7e1718","type":"debug","z":"b3d9928.85aaf7","name":"","active":false,"console":"false","complete":"false","x":690,"y":260,"wires":[]},{"id":"5d1defa1.35c6b","type":"exec","z":"b3d9928.85aaf7","command":"gatttool --device=C4:7C:8D:61:9F:27 --char-read -a 0x038 --adapter=hci0","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":330,"y":200,"wires":[["a905b24.ceb605","bee6ffb1.16002"],["2daecbcc.955094"],["c23b260e.7e1718"]]},{"id":"a905b24.ceb605","type":"debug","z":"b3d9928.85aaf7","name":"","active":false,"console":"false","complete":"false","x":690,"y":120,"wires":[]},{"id":"bee6ffb1.16002","type":"switch","z":"b3d9928.85aaf7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"neq","v":"","vt":"str"}],"checkall":"true","outputs":2,"x":430,"y":340,"wires":[["f1ce9f9c.4775e","25537ac8.d04f36"],["e3e741bb.fe96e","62cb81e4.03ad2"]]},{"id":"2daecbcc.955094","type":"debug","z":"b3d9928.85aaf7","name":"","active":false,"console":"false","complete":"false","x":710,"y":180,"wires":[]},{"id":"b78391f0.40fc3","type":"inject","z":"b3d9928.85aaf7","name":"co 30 min","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"x":150,"y":140,"wires":[["5d1defa1.35c6b"]]},{"id":"25537ac8.d04f36","type":"delay","z":"b3d9928.85aaf7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":260,"wires":[["5d1defa1.35c6b"]]},{"id":"f1ce9f9c.4775e","type":"debug","z":"b3d9928.85aaf7","name":"","active":true,"console":"false","complete":"false","x":670,"y":320,"wires":[]},{"id":"e3e741bb.fe96e","type":"debug","z":"b3d9928.85aaf7","name":"","active":true,"console":"false","complete":"false","x":670,"y":360,"wires":[]},{"id":"62cb81e4.03ad2","type":"function","z":"b3d9928.85aaf7","name":"Wyniki","func":"var x='Characteristic value/descriptor: 4a 10 32 2e 36 2e 32 '\nvar arr = msg.payload.split(\" \");\nvar wyniki = [];\nfor (var i in arr){\n    console.log(arr[i],arr[i].length);\n    if (arr[i].length === 2) wyniki.push(parseInt(arr[i]));\n}\nmsg.payload = wyniki;\nconsole.log(wyniki);\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":380,"wires":[["40718601.e7af48","119cd165.24cc6f"]]},{"id":"40718601.e7af48","type":"debug","z":"b3d9928.85aaf7","name":"","active":true,"console":"false","complete":"false","x":260,"y":460,"wires":[]},{"id":"119cd165.24cc6f","type":"debug","z":"b3d9928.85aaf7","name":"","active":true,"console":"false","complete":"false","x":550,"y":700,"wires":[]},{"id":"e8931a7.65e38e8","type":"exec","z":"b3d9928.85aaf7","command":"python3 /home/pi/app/flora/py/mijson3.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":240,"y":760,"wires":[["119cd165.24cc6f","4791b70.6381e48"],[],[]]},{"id":"3ca13b85.170004","type":"inject","z":"b3d9928.85aaf7","name":"co 30 min","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"x":170,"y":700,"wires":[["e8931a7.65e38e8"]]},{"id":"4791b70.6381e48","type":"function","z":"b3d9928.85aaf7","name":"miFlora URL","func":"msg.pay = msg.payload;\nvar params = \"\";\nvar url = \"\";\n\nif (msg.payload){\n    var flora = JSON.parse(msg.payload);\n    params += \"&field1=\"+flora.t;\n    params += \"&field2=\"+flora.m;\n    params += \"&field3=\"+flora.c;\n    params += \"&field4=\"+flora.l;\n    params += \"&field5=\"+flora.b;\n    url = \"https://api.thingspeak.com/update?api_key=9WX9W3LEW2QT0VGG\";\n    url += params;\n}\nmsg.payload = params;\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":840,"wires":[["c2e91837.35a0a8","b1da54f2.09bef8","67a941f.9d422c"]]},{"id":"c2e91837.35a0a8","type":"debug","z":"b3d9928.85aaf7","name":"","active":false,"console":"false","complete":"pay","x":540,"y":940,"wires":[]},{"id":"b1da54f2.09bef8","type":"switch","z":"b3d9928.85aaf7","name":"if is","property":"url","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":410,"y":840,"wires":[["ae11f141.0fbd1","91053610.bef4a8"]]},{"id":"67a941f.9d422c","type":"debug","z":"b3d9928.85aaf7","name":"","active":true,"console":"false","complete":"false","x":570,"y":1080,"wires":[]},{"id":"ae11f141.0fbd1","type":"http request","z":"b3d9928.85aaf7","name":"","method":"GET","ret":"txt","url":"","tls":"","x":570,"y":780,"wires":[[]]},{"id":"91053610.bef4a8","type":"debug","z":"b3d9928.85aaf7","name":"","active":true,"console":"false","complete":"url","x":560,"y":880,"wires":[]},{"id":"75602987.f18308","type":"http request","z":"b3d9928.85aaf7","name":"Korki.json","method":"GET","ret":"obj","url":"https://szr.szczecin.pl/utms/travel_time/listNew.action","tls":"","x":200,"y":1260,"wires":[["e5f13186.117f3","8e411719.4c39f8","67a941f.9d422c","57826757.a7e728"]]},{"id":"f73c7305.9d931","type":"inject","z":"b3d9928.85aaf7","name":"Korki co 15 minut","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":210,"y":1160,"wires":[["75602987.f18308"]]},{"id":"e5f13186.117f3","type":"debug","z":"b3d9928.85aaf7","name":"","active":false,"console":"false","complete":"payload.data","x":510,"y":1200,"wires":[]},{"id":"8e411719.4c39f8","type":"function","z":"b3d9928.85aaf7","name":"Korki all mqtt","func":"var korki =[];\nvar czasy ={}\nvar data = msg.payload.data;\nvar suma = 0;\nfor (var d in data){\n    var title = data[d].absoluteRouteName;\n    var time = parseInt(data[d].travelTimeNow)\n    //console.log(d,title,time,\"\\n\",data[d]);\n    if (!czasy[title]) czasy[title]=0;\n    czasy[title] += time;\n    suma += time;\n}\n//console.log('===============');\n//console.log(czasy);\n//console.log('===============');\n\nvar params ='';\nvar i=1;\nfor (var c in czasy){\n    //console.log(czasy[c]);\n    params += '&field'+i+'='+czasy[c];\n    i++;\n}\n//console.log(params);\nurl = \"https://api.thingspeak.com/update?api_key=GMHMPDQIGFSEK672\";\nurl += params;\nurl += '&field5='+suma;\n//console.log(url);\nmsg.payload = params;\nmsg.url = url;\nreturn msg;\n","outputs":1,"noerr":0,"x":250,"y":1380,"wires":[["d1607012.b8858"]]},{"id":"57826757.a7e728","type":"function","z":"b3d9928.85aaf7","name":"Korki zapis","func":"function pad(t) {return(\"0\" + t).slice(-2);}\n\nDate.prototype.getWeek = function(separator) {\n    var year   = this.getFullYear();\n    var dt = new Date(year,0,1);\n    return year+separator+Math.ceil((((this - dt) / 86400000) + dt.getDay()+1)/7);\n};\n\nDate.prototype.getNow = function(sep1,sep2) {\n    var year   = this.getFullYear();\n    var mounth = ('0'+String(1+this.getMonth())).slice(-2);\n    var day    = ('0'+String(this.getDate())).slice(-2);\n    var hour   = ('0'+String(this.getHours())).slice(-2);\n    var minute = ('0'+String(this.getMinutes())).slice(-2);\n    var time = year+sep1+mounth+sep1+day+' '+hour+sep2+minute;\n    return time;\n};\n\n    var d = new Date();\n    var teraz = d.getNow('-',':');\n    var week = d.getWeek('_');\n    msg.payload.date = teraz;\n    msg.payload.time = d.getTime();\n\n\nmsg.filename = '/home/pi/red/db/'+week+'_korki.json';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1300,"wires":[["b37eb560.f596c8"]]},{"id":"d1607012.b8858","type":"http request","z":"b3d9928.85aaf7","name":"Korki to mqtt","method":"GET","ret":"txt","url":"","tls":"","x":550,"y":1360,"wires":[[]]},{"id":"b37eb560.f596c8","type":"file","z":"b3d9928.85aaf7","name":"/korki.json","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":570,"y":1300,"wires":[]}]
