node-red/floraMQTT.json
[{"id":"3ca13b85.170004","type":"inject","z":"b3d9928.85aaf7","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":170,"y":120,"wires":[["e8931a7.65e38e8"]]},{"id":"e8931a7.65e38e8","type":"exec","z":"b3d9928.85aaf7","command":"python3 /home/pi/app/flora/py/mijson3.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":240,"y":200,"wires":[["119cd165.24cc6f","c35760d.a36a5a"],[],[]]},{"id":"119cd165.24cc6f","type":"debug","z":"b3d9928.85aaf7","name":"","active":true,"console":"false","complete":"false","x":670,"y":120,"wires":[]},{"id":"c35760d.a36a5a","type":"function","z":"b3d9928.85aaf7","name":"miFlora","func":"var params = '';\nif (msg.payload){\n    msg.payload = JSON.parse(msg.payload);\n    params += \"field1=\"+msg.payload.t;\n    params += \"&field2=\"+msg.payload.m;\n    params += \"&field3=\"+msg.payload.l;\n    params += \"&field4=\"+msg.payload.b;\n}\nmsg.payload = params\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["9a56a3eb.3026e","9c478532.7118b8"]]},{"id":"9a56a3eb.3026e","type":"mqtt out","z":"b3d9928.85aaf7","name":"miFlora field4","topic":"channels/241699/publish/9WX9W3LEW2QT0VGG/","qos":"0","retain":"","broker":"68ef5bbc.f4e964","x":680,"y":200,"wires":[]},{"id":"9c478532.7118b8","type":"debug","z":"b3d9928.85aaf7","name":"","active":true,"console":"false","complete":"false","x":690,"y":260,"wires":[]},{"id":"68ef5bbc.f4e964","type":"mqtt-broker","z":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"znakzorro","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
