node-red/flora_korki_thingspeak.json
[{"id":"119cd165.24cc6f","type":"debug","z":"b3d9928.85aaf7","name":"","active":true,"console":"false","complete":"false","x":530,"y":140,"wires":[]},{"id":"e8931a7.65e38e8","type":"exec","z":"b3d9928.85aaf7","command":"python3 /home/pi/app/flora/py/mijson3.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":220,"y":200,"wires":[["119cd165.24cc6f","4791b70.6381e48"],[],[]]},{"id":"3ca13b85.170004","type":"inject","z":"b3d9928.85aaf7","name":"co 30 min","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"x":150,"y":140,"wires":[["e8931a7.65e38e8"]]},{"id":"4791b70.6381e48","type":"function","z":"b3d9928.85aaf7","name":"miFlora URL","func":"msg.pay = msg.payload;\nvar params = \"\";\nvar url = \"\";\n\nif (msg.payload){\n    var flora = JSON.parse(msg.payload);\n    params += \"&field1=\"+flora.t;\n    params += \"&field2=\"+flora.m;\n    params += \"&field3=\"+flora.c;\n    params += \"&field4=\"+flora.l;\n    params += \"&field5=\"+flora.b;\n    url = \"https://api.thingspeak.com/update?api_key=9WX9W3LEW2QT0VGG\";\n    url += params;\n}\nmsg.payload = params;\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":280,"wires":[["c2e91837.35a0a8","b1da54f2.09bef8","67a941f.9d422c"]]},{"id":"c2e91837.35a0a8","type":"debug","z":"b3d9928.85aaf7","name":"","active":false,"console":"false","complete":"pay","x":520,"y":380,"wires":[]},{"id":"b1da54f2.09bef8","type":"switch","z":"b3d9928.85aaf7","name":"if is","property":"url","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":390,"y":280,"wires":[["ae11f141.0fbd1","91053610.bef4a8"]]},{"id":"67a941f.9d422c","type":"debug","z":"b3d9928.85aaf7","name":"","active":false,"console":"false","complete":"false","x":550,"y":520,"wires":[]},{"id":"ae11f141.0fbd1","type":"http request","z":"b3d9928.85aaf7","name":"","method":"GET","ret":"txt","url":"","tls":"","x":550,"y":220,"wires":[[]]},{"id":"91053610.bef4a8","type":"debug","z":"b3d9928.85aaf7","name":"","active":true,"console":"false","complete":"url","x":540,"y":320,"wires":[]},{"id":"75602987.f18308","type":"http request","z":"b3d9928.85aaf7","name":"Korki.json","method":"GET","ret":"obj","url":"https://szr.szczecin.pl/utms/travel_time/listNew.action","tls":"","x":180,"y":700,"wires":[["e5f13186.117f3","8e411719.4c39f8","67a941f.9d422c","57826757.a7e728"]]},{"id":"f73c7305.9d931","type":"inject","z":"b3d9928.85aaf7","name":"Korki co 15 minut","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":190,"y":600,"wires":[["75602987.f18308"]]},{"id":"e5f13186.117f3","type":"debug","z":"b3d9928.85aaf7","name":"","active":false,"console":"false","complete":"payload.data","x":490,"y":640,"wires":[]},{"id":"8e411719.4c39f8","type":"function","z":"b3d9928.85aaf7","name":"Korki all mqtt","func":"var korki =[];\nvar czasy ={}\nvar data = msg.payload.data;\nvar suma = 0;\nfor (var d in data){\n    var title = data[d].absoluteRouteName;\n    var time = parseInt(data[d].travelTimeNow)\n    //console.log(d,title,time,\"\\n\",data[d]);\n    if (!czasy[title]) czasy[title]=0;\n    czasy[title] += time;\n    suma += time;\n}\n//console.log('===============');\n//console.log(czasy);\n//console.log('===============');\n\nvar params ='';\nvar i=1;\nfor (var c in czasy){\n    //console.log(czasy[c]);\n    params += '&field'+i+'='+czasy[c];\n    i++;\n}\n//console.log(params);\nurl = \"https://api.thingspeak.com/update?api_key=GMHMPDQIGFSEK672\";\nurl += params;\nurl += '&field5='+suma;\n//console.log(url);\nmsg.payload = params;\nmsg.url = url;\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":820,"wires":[["d1607012.b8858"]]},{"id":"57826757.a7e728","type":"function","z":"b3d9928.85aaf7","name":"Korki zapis","func":"function pad(t) {return(\"0\" + t).slice(-2);}\n\nDate.prototype.getWeek = function(separator) {\n    var year   = this.getFullYear();\n    var dt = new Date(year,0,1);\n    return year+separator+Math.ceil((((this - dt) / 86400000) + dt.getDay()+1)/7);\n};\n\nDate.prototype.getNow = function(sep1,sep2) {\n    var year   = this.getFullYear();\n    var mounth = ('0'+String(1+this.getMonth())).slice(-2);\n    var day    = ('0'+String(this.getDate())).slice(-2);\n    var hour   = ('0'+String(this.getHours())).slice(-2);\n    var minute = ('0'+String(this.getMinutes())).slice(-2);\n    var time = year+sep1+mounth+sep1+day+' '+hour+sep2+minute;\n    return time;\n};\n\n    var d = new Date();\n    var teraz = d.getNow('-',':');\n    var week = d.getWeek('_');\n    msg.payload.date = teraz;\n    msg.payload.time = d.getTime();\n\n\nmsg.filename = '/home/pi/red/db/'+week+'_korki.json';\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":740,"wires":[["b37eb560.f596c8"]]},{"id":"d1607012.b8858","type":"http request","z":"b3d9928.85aaf7","name":"Korki to mqtt","method":"GET","ret":"txt","url":"","tls":"","x":530,"y":800,"wires":[[]]},{"id":"b37eb560.f596c8","type":"file","z":"b3d9928.85aaf7","name":"/korki.json","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":550,"y":740,"wires":[]}]
