node-red/korki.json
[{"id":"dcc21892.76d5b8","type":"inject","z":"d9c1d5a7.ec1738","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":130,"y":160,"wires":[["55abe85b.e587c8"]]},{"id":"55abe85b.e587c8","type":"http request","z":"d9c1d5a7.ec1738","name":"Korki.json","method":"GET","ret":"obj","url":"https://szr.szczecin.pl/utms/travel_time/listNew.action","tls":"","x":310,"y":180,"wires":[["358807d8.1944b8","11752598.83064a","cd56061c.5540c8"]]},{"id":"358807d8.1944b8","type":"debug","z":"d9c1d5a7.ec1738","name":"","active":false,"console":"false","complete":"payload.data","x":580,"y":180,"wires":[]},{"id":"11752598.83064a","type":"file","z":"d9c1d5a7.ec1738","name":"/korki.json","filename":"/home/pi/red/db/korki.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":580,"y":260,"wires":[]},{"id":"cd56061c.5540c8","type":"function","z":"d9c1d5a7.ec1738","name":"","func":"\nmsg.title = msg.payload.data[0].absoluteRouteName;\nmsg.time  = msg.payload.data[0].travelTimeMin15;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["8e2916e3.f79e28","cdc167d6.4ffd98"]]},{"id":"8e2916e3.f79e28","type":"debug","z":"d9c1d5a7.ec1738","name":"","active":true,"console":"false","complete":"title","x":600,"y":80,"wires":[]},{"id":"cdc167d6.4ffd98","type":"debug","z":"d9c1d5a7.ec1738","name":"","active":true,"console":"false","complete":"time","x":600,"y":120,"wires":[]}]
