node-red/mowa-trawa.json


[{"id":"8305d129.bbfff","type":"http in","z":"16e6c849.e316a8","name":"","url":"/mowa","method":"get","swaggerDoc":"","x":130,"y":140,"wires":[["d7b5ae1d.7a719"]]},{"id":"d7b5ae1d.7a719","type":"template","z":"16e6c849.e316a8","name":"{strona}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html><html lang=\"pl\">\n<head>\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<style>\n    body,a,li,button,div {font:normal 0.95em/1.7em verdana; margin:0.25em; padding:0.25em;}\n    body,a,li {background:#666; color:white;}\n    a{text-decoration:none;}\n    #info {background:#ccc; color:black;}\n</style>\n<title>Mowa trawa</title>\n\n<script>\nfunction $(e){return document.getElementById(e)}\n\n\nfunction ZapiszInfo(){\n    var body = $('info').innerHTML;//textContent;\n    var title = document.title;\n    \n    fetch(\"/mowa/save/\",{\n        headers: {\n          'Accept': 'application/json',\n          'Content-Type': 'application/json'\n        },\n        method: \"POST\",\n        mode:\"cors\",\n\t    redirect:\"follow\",\n        body: JSON.stringify({title:title, body:body})\n    }).then(function(res){ \n        //console.log(res) \n        return res.text();\n    }).then(function(out){\n        //console.log(out);\n        $(\"info\").innerHTML=out;\n    }).catch(function(res){ console.log(res) })\n}\n\ndocument.addEventListener('DOMContentLoaded', function() {\n    $(\"info\").contentEditable=true;\n});\n\n</script>\n</head>\n<body>\n<button onClick=\"ZapiszInfo()\">ZapiszInfo()</button>    \n\n<div id=\"info\" >\n    Pisz\n</div>\n\n\n</body>\n</html>\n\n\n\n\n","x":300,"y":140,"wires":[["7b39ba97.37a624","662a0384.026c6c"]]},{"id":"7b39ba97.37a624","type":"http response","z":"16e6c849.e316a8","name":"","x":630,"y":140,"wires":[]},{"id":"662a0384.026c6c","type":"debug","z":"16e6c849.e316a8","name":"","active":true,"console":"false","complete":"false","x":450,"y":200,"wires":[]},{"id":"89ba48ee.d1a7c8","type":"template","z":"16e6c849.e316a8","name":"{{payload}}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload}}}","x":470,"y":260,"wires":[["7b39ba97.37a624"]]},{"id":"cdadfa27.4a49c8","type":"function","z":"16e6c849.e316a8","name":"req.body","func":"var body = msg.req.body.body\nmsg.payload=body;\nvar teraz = '2017-02-23';\nmsg.filename = '/home/pi/red/db/zapiski/zapis_'+teraz+'.html';\n\nvar result = body.replace(/(<([^>]+)>)/ig, \" \");\nresult = result.replace(/(&.{2,4};)/ig, \" \");\n\n\nmsg1={};\n\nmsg1.payload=result;\nreturn [msg,msg1];","outputs":"2","noerr":0,"x":340,"y":360,"wires":[["c231ecbb.ebf6d","89ba48ee.d1a7c8"],["1fce7daf.391dc2","5a04904d.9a588"]]},{"id":"6d7885fa.24aacc","type":"http in","z":"16e6c849.e316a8","name":"","url":"/mowa/save/","method":"post","swaggerDoc":"","x":130,"y":360,"wires":[["cdadfa27.4a49c8"]]},{"id":"c231ecbb.ebf6d","type":"file","z":"16e6c849.e316a8","name":"Zapis do pliku","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":540,"y":320,"wires":[]},{"id":"1fce7daf.391dc2","type":"play audio","z":"16e6c849.e316a8","name":"","voice":"14","x":550,"y":380,"wires":[]},{"id":"5a04904d.9a588","type":"debug","z":"16e6c849.e316a8","name":"","active":true,"console":"false","complete":"false","x":550,"y":420,"wires":[]}]

