node-red/mpd.json
[{"id":"9d6d0d6a.34163","type":"mpd out","z":"35d29dc3.91efd2","name":"","topic":"Mpd","server":"2882fbf.8499c04","x":545.588020324707,"y":1936.1832866668701,"wires":[["d54fc570.05fcf8","7e85acf6.f6e0a4"]]},{"id":"e02217c2.b9f238","type":"inject","z":"35d29dc3.91efd2","name":"RMF-Classic","topic":"","payload":"play 0","payloadType":"str","repeat":"","crontab":"","once":false,"x":170.15198516845703,"y":1980.3012981414795,"wires":[["9d6d0d6a.34163"]]},{"id":"738c477.65c24b8","type":"inject","z":"35d29dc3.91efd2","name":"Tok-Fm","topic":"","payload":"play 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":148.09102630615234,"y":2021.6292705535889,"wires":[["9d6d0d6a.34163"]]},{"id":"31ede364.51934c","type":"inject","z":"35d29dc3.91efd2","name":"Trójka","topic":"","payload":"play 4","payloadType":"str","repeat":"","crontab":"","once":false,"x":155.0040054321289,"y":2165.1213359832764,"wires":[["9d6d0d6a.34163"]]},{"id":"6a7b8533.06ec4c","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"next","payloadType":"str","repeat":"","crontab":"","once":false,"x":481.7340316772461,"y":1812.0702819824219,"wires":[["9d6d0d6a.34163"]]},{"id":"67e0da9c.15a774","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"previous","payloadType":"str","repeat":"","crontab":"","once":false,"x":638.7500076293945,"y":1814.5833129882812,"wires":[["9d6d0d6a.34163"]]},{"id":"16f4f963.81e427","type":"inject","z":"35d29dc3.91efd2","name":"Jedynka","topic":"","payload":"play 2","payloadType":"str","repeat":"","crontab":"","once":false,"x":155.75000762939453,"y":2064.3333110809326,"wires":[["9d6d0d6a.34163"]]},{"id":"1b218b89.ebfac4","type":"inject","z":"35d29dc3.91efd2","name":"Dwójka","topic":"","payload":"play 3","payloadType":"str","repeat":"","crontab":"","once":false,"x":147.75000762939453,"y":2111.3333110809326,"wires":[["9d6d0d6a.34163"]]},{"id":"d54fc570.05fcf8","type":"debug","z":"35d29dc3.91efd2","name":"","active":false,"console":"false","complete":"title","x":709.0000076293945,"y":1957.3333110809326,"wires":[]},{"id":"77d41e8f.954b8","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":188.75000762939453,"y":1812.3333129882812,"wires":[["9d6d0d6a.34163"]]},{"id":"5a29c6fb.60ec68","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"x":340.75000762939453,"y":1811.3333129882812,"wires":[["9d6d0d6a.34163"]]},{"id":"283bfc1b.bbaea4","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"setvol 60","payloadType":"str","repeat":"","crontab":"","once":false,"x":337.25000762939453,"y":1719.8333129882812,"wires":[["9d6d0d6a.34163"]]},{"id":"6372bbac.7074b4","type":"inject","z":"35d29dc3.91efd2","name":"listplaylists","topic":"","payload":"listplaylists","payloadType":"str","repeat":"","crontab":"","once":false,"x":206.75000762939453,"y":2297.3333110809326,"wires":[["8e96b7dd.41bb88"]]},{"id":"46473fa1.882e4","type":"comment","z":"35d29dc3.91efd2","name":"OK = https://www.musicpd.org/doc/protocol/command_reference.html","info":"","x":315,"y":1657.4999809265137,"wires":[]},{"id":"8e96b7dd.41bb88","type":"mpd out","z":"35d29dc3.91efd2","name":"","topic":"Mpd","server":"2882fbf.8499c04","x":537.7500076293945,"y":2300.3333110809326,"wires":[["7e85acf6.f6e0a4","7d31cd16.aeafe4","9a286558.f5be48"]]},{"id":"9a742dcf.8c84d","type":"inject","z":"35d29dc3.91efd2","name":"add SmoothCom 2 radio","topic":"","payload":"playlistadd radio http://sj256.hnux.com","payloadType":"str","repeat":"","crontab":"","once":false,"x":252.50000762939453,"y":2457.583327293396,"wires":[["8e96b7dd.41bb88"]]},{"id":"5a73395b.dda3c8","type":"inject","z":"35d29dc3.91efd2","name":"listplaylist radio","topic":"","payload":"listplaylist radio","payloadType":"str","repeat":"","crontab":"","once":false,"x":210.00000762939453,"y":2353.8333110809326,"wires":[["8e96b7dd.41bb88"]]},{"id":"855f72cf.85879","type":"inject","z":"35d29dc3.91efd2","name":"listplaylistinfo radio","topic":"","payload":"listplaylistinfo radio","payloadType":"str","repeat":"","crontab":"","once":false,"x":226.25000762939453,"y":2397.5833110809326,"wires":[["8e96b7dd.41bb88"]]},{"id":"df92b7bd.054a28","type":"inject","z":"35d29dc3.91efd2","name":"commands","topic":"","payload":"commands","payloadType":"str","repeat":"","crontab":"","once":false,"x":378.50000762939453,"y":2233.0833110809326,"wires":[["8e96b7dd.41bb88"]]},{"id":"b48bb4b8.c88718","type":"inject","z":"35d29dc3.91efd2","name":"decoders","topic":"","payload":"decoders","payloadType":"str","repeat":"","crontab":"","once":false,"x":572.7500076293945,"y":2232.3333110809326,"wires":[["8e96b7dd.41bb88"]]},{"id":"3011ee21.dd0962","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"status","payloadType":"str","repeat":"","crontab":"","once":false,"x":390.00000762939453,"y":2057.5833110809326,"wires":[["9d6d0d6a.34163"]]},{"id":"5cc3d049.518d4","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"setvol 75","payloadType":"str","repeat":"","crontab":"","once":false,"x":517.0000076293945,"y":1722.8333129882812,"wires":[["9d6d0d6a.34163"]]},{"id":"5e0e230c.1a8bbc","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"setvol 85","payloadType":"str","repeat":"","crontab":"","once":false,"x":694.2500076293945,"y":1723.3333129882812,"wires":[["9d6d0d6a.34163"]]},{"id":"1c4aa548.a6ad6b","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"lsinfo","payloadType":"str","repeat":"","crontab":"","once":false,"x":350.50000762939453,"y":1895.8333129882812,"wires":[["9d6d0d6a.34163"]]},{"id":"418758cb.723e48","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"playlist","payloadType":"str","repeat":"","crontab":"","once":false,"x":180.00000762939453,"y":2256.3333110809326,"wires":[["8e96b7dd.41bb88"]]},{"id":"36c9633.1c13e9c","type":"http in","z":"35d29dc3.91efd2","name":"","url":"/mpd/","method":"get","swaggerDoc":"","x":97.58326721191406,"y":628.6667366027832,"wires":[["d82e254e.c573c8"]]},{"id":"54e6b18f.824ab","type":"http in","z":"35d29dc3.91efd2","name":"","url":"/mpd/:name/:val","method":"post","swaggerDoc":"","x":128.33326721191406,"y":861.4167366027832,"wires":[["6d4624c0.b92a6c"]]},{"id":"8f219ec4.d105b","type":"http response","z":"35d29dc3.91efd2","name":"","x":727.3332672119141,"y":672.1667366027832,"wires":[]},{"id":"7e85acf6.f6e0a4","type":"debug","z":"35d29dc3.91efd2","name":"","active":true,"console":"false","complete":"false","x":727.7500076293945,"y":1884.3333129882812,"wires":[]},{"id":"cf2ecabf.889b68","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"play","payloadType":"str","repeat":"","crontab":"","once":false,"x":186.75000762939453,"y":2719.3333110809326,"wires":[["8e96b7dd.41bb88"]]},{"id":"d3b390f3.eecb2","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"next","payloadType":"str","repeat":"","crontab":"","once":false,"x":340.75000762939453,"y":2716.3333110809326,"wires":[["8e96b7dd.41bb88"]]},{"id":"693df4e0.9f695c","type":"inject","z":"35d29dc3.91efd2","name":"playid","topic":"","payload":"playid","payloadType":"str","repeat":"","crontab":"","once":false,"x":527.7500076293945,"y":2717.3333129882812,"wires":[["8e96b7dd.41bb88"]]},{"id":"10f52380.fc795c","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"pause","payloadType":"str","repeat":"","crontab":"","once":false,"x":186.75000762939453,"y":1890.3333129882812,"wires":[["9d6d0d6a.34163"]]},{"id":"18502d0f.729a83","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"currentsong","payloadType":"str","repeat":"","crontab":"","once":false,"x":438.75000762939453,"y":2642.3333110809326,"wires":[["8e96b7dd.41bb88"]]},{"id":"c60ef922.754c38","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"outputs","payloadType":"str","repeat":"","crontab":"","once":false,"x":198.75000762939453,"y":2530.3333110809326,"wires":[["8e96b7dd.41bb88"]]},{"id":"3282b0b7.cbb2c","type":"debug","z":"35d29dc3.91efd2","name":"","active":true,"console":"false","complete":"false","x":652.7500076293945,"y":2457.3333129882812,"wires":[]},{"id":"7d31cd16.aeafe4","type":"function","z":"35d29dc3.91efd2","name":"Raport MPD","func":"var info = 'Current: ';\n\nvar cur = msg.payload[0];\nvar sta = msg.payload[0];\n\n//var cur = msg.payload.currentsong;\n//var sta = msg.payload.status;\n\n//if (sta.song) info += sta.song+'. ';\nif (sta.songid) info += sta.songid+'. ';\nif (cur.Name) info += ' #'+cur.Name;\n\nif (cur.Album) info += ' '+cur.Album;\nif (cur.Artist) info += ' = '+cur.Artist;\nif (cur.Title) info += ' - '+cur.Title;\n\nif (cur.Pos) info += ' #'+cur.Pos;\nif (sta.volume) info += ' %'+sta.volume;\nif (sta.random) info += ' RND:'+sta.random;\nif (sta.file) info += ' ='+sta.file;\n\n//if (sta.bitrate) info += ' b'+sta.bitrate;\n\nmsg.payload = info;\n\nreturn msg;","outputs":1,"noerr":0,"x":597.7500076293945,"y":2383.3333129882812,"wires":[["3282b0b7.cbb2c"]]},{"id":"ef4a6389.5498e","type":"function","z":"35d29dc3.91efd2","name":"PlayList","func":"var msg1 = {\"payload\":\"clear\"};\nvar msg2 = {\"payload\":\"play\"};\nreturn [msg1,msg,msg2];","outputs":"3","noerr":0,"x":342.75000762939453,"y":2787.3333110809326,"wires":[["8e96b7dd.41bb88","1fae7058.a28ff"],["8e96b7dd.41bb88","cb4ee4e8.173218"],["8e96b7dd.41bb88"]]},{"id":"9d1f5f5.b514ea","type":"inject","z":"35d29dc3.91efd2","name":"radio","topic":"","payload":"load radio","payloadType":"str","repeat":"","crontab":"","once":false,"x":177.75000762939453,"y":2786.3333110809326,"wires":[["ef4a6389.5498e"]]},{"id":"41c5ded1.d71e2","type":"inject","z":"35d29dc3.91efd2","name":"muzyka","topic":"","payload":"load muzyka","payloadType":"str","repeat":"","crontab":"","once":false,"x":184.75000762939453,"y":2840.3333110809326,"wires":[["ef4a6389.5498e"]]},{"id":"389e062f.00956a","type":"inject","z":"35d29dc3.91efd2","name":"random","topic":"","payload":"load random","payloadType":"str","repeat":"","crontab":"","once":false,"x":184.75000762939453,"y":2898.3333110809326,"wires":[["ef4a6389.5498e"]]},{"id":"1fae7058.a28ff","type":"debug","z":"35d29dc3.91efd2","name":"","active":true,"console":"false","complete":"false","x":522.7500076293945,"y":2784.3333110809326,"wires":[]},{"id":"cb4ee4e8.173218","type":"debug","z":"35d29dc3.91efd2","name":"","active":true,"console":"false","complete":"false","x":520.7500076293945,"y":2821.3333110809326,"wires":[]},{"id":"5f00a53c.ddff7c","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"random 0","payloadType":"str","repeat":"","crontab":"","once":false,"x":194.75000762939453,"y":2622.3333110809326,"wires":[["8e96b7dd.41bb88"]]},{"id":"19a1a34d.128b1d","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"random 1","payloadType":"str","repeat":"","crontab":"","once":false,"x":191.75000762939453,"y":2662.3333110809326,"wires":[["8e96b7dd.41bb88"]]},{"id":"19cf47fb.5b6148","type":"mpd out","z":"35d29dc3.91efd2","name":"","topic":"Mpd","server":"2882fbf.8499c04","x":371.0832824707031,"y":962.6667499542236,"wires":[["779b0a41.de0b94"]]},{"id":"6d4624c0.b92a6c","type":"function","z":"35d29dc3.91efd2","name":"name/val","func":"\nvar name = msg.req.params.name;\nvar val  = msg.req.params.val;\nvar out = name +' '+val;\nif (val==='!') out = name;  \n\nif (name==='info'){out = 'currentsong';}\n    \nif (name==='vol'){\n    if(val ==='+' || val ==='-' || val ==='--'){\n        var volume = parseInt(global.get(\"mpd_volume\"));\n        if (val ==='+') volume +=5;\n        if (val ==='-') volume -=5;\n        if (val ==='--') volume -=15;\n        out = 'setvol '+volume;\n        global.set(\"mpd_volume\",volume)\n    }\n}\nmsg.payload=out;\nreturn msg;","outputs":"1","noerr":0,"x":228.08326721191406,"y":811.6667366027832,"wires":[["19cf47fb.5b6148","28585029.d0b8d","963567d2.327ad8"]]},{"id":"51e817ce.8270b8","type":"inject","z":"35d29dc3.91efd2","name":"add radio","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114.0832748413086,"y":1260.6667442321777,"wires":[["4440a6f0.d1e5d8"]]},{"id":"4440a6f0.d1e5d8","type":"http request","z":"35d29dc3.91efd2","name":"radioRADIO.json","method":"GET","ret":"obj","url":"https://raw.githubusercontent.com/ZnakZorro/radioRADIO/master/radio.json","tls":"","x":232.0832748413086,"y":1200.6667442321777,"wires":[["e3ceabf3.f70dc8","e879005c.8fbce"]]},{"id":"e089c4e8.6e3998","type":"debug","z":"35d29dc3.91efd2","name":"","active":false,"console":"false","complete":"false","x":651.0832748413086,"y":1252.6667442321777,"wires":[]},{"id":"e3ceabf3.f70dc8","type":"function","z":"35d29dc3.91efd2","name":"do add list","func":"var arr = msg.payload;\nvar out = 'clear\\n';\nvar klaw = '';\narr.forEach(function(r,x){\n    var c=x%20;\n    out += 'add '+r.stream+'\\n';\n    klaw += \"<button onClick='ajx(\\\"/mpd/play/\"+x+\"\\\")' class='c\"+c+\"'>\"+r.title+\"</button>\\n\";\n});\nout += 'play 0\\n';\n\nmsg.payload = out;\nvar msg2 = {payload:klaw};\nreturn [msg,msg2];","outputs":"2","noerr":0,"x":351.0832748413086,"y":1256.6667442321777,"wires":[["53fb19c5.eee3d8"],["f85fc32.95b4c4","7f7fe146.9db76"]]},{"id":"53fb19c5.eee3d8","type":"mpd out","z":"35d29dc3.91efd2","name":"","topic":"","server":"2882fbf.8499c04","x":466.0832748413086,"y":1197.6667442321777,"wires":[["e089c4e8.6e3998"]]},{"id":"f85fc32.95b4c4","type":"debug","z":"35d29dc3.91efd2","name":"","active":false,"console":"false","complete":"false","x":649.0832748413086,"y":1203.6667442321777,"wires":[]},{"id":"7f7fe146.9db76","type":"file","z":"35d29dc3.91efd2","name":"cdn/radioButtons.html","filename":"/home/pi/node_modules/node-red/public/cdn/radio/radioButtons.html","appendNewline":false,"createDir":true,"overwriteFile":"true","x":628.083251953125,"y":1324.6667499542236,"wires":[]},{"id":"582b51c8.d025f","type":"comment","z":"35d29dc3.91efd2","name":"Update radio playlist","info":"","x":133.0832748413086,"y":1142.0001239776611,"wires":[]},{"id":"b92e4ce2.e3ca","type":"mpd in","z":"35d29dc3.91efd2","name":"","topic":"Mpd","server":"2882fbf.8499c04","x":109,"y":208.00000190734863,"wires":[["43d7ddbd.19ed64","63c2a54a.c64c8c"]]},{"id":"43d7ddbd.19ed64","type":"function","z":"35d29dc3.91efd2","name":"MPD info","func":"var volume = msg.payload.status.volume;\nvar msg2={\"payload\":volume+' %'};\nglobal.set(\"mpd_volume\",volume);\n\nvar title = (msg.payload.currentsong.Title || msg.payload.currentsong.Name);\nglobal.set(\"mpd_title\",title);\nmsg.payload = title;\nreturn [msg,msg2];\n\n\n\n\n/*\n{\n\t\"currentsong\": {\n\t\t\"file\": \"http://stream3.polskieradio.pl:8900/\",\n\t\t\"Title\":\"rp\",\n\t\t\"Name\": \"Polskie Radio S.A. -- Program 1 -- http://moje.polskieradio.pl\",\n\t\t\"Pos\": \"2\",\n\t\t\"Id\": \"3\"\n\t},\n\t\"status\": {\n\t\t\"volume\": \"85\",\n\t\t\"repeat\": \"0\",\n\t\t\"random\": \"0\",\n\t\t\"single\": \"0\",\n\t\t\"consume\": \"0\",\n\t\t\"playlist\": \"534\",\n\t\t\"playlistlength\": \"24\",\n\t\t\"mixrampdb\": \"0.000000\",\n\t\t\"state\": \"play\",\n\t\t\"song\": \"2\",\n\t\t\"songid\": \"3\",\n\t\t\"time\": \"0:0\",\n\t\t\"elapsed\": \"0.499\",\n\t\t\"bitrate\": \"96\",\n\t\t\"audio\": \"44100:24:2\",\n\t\t\"nextsong\": \"3\",\n\t\t\"nextsongid\": \"4\"\n\t}\n}\n*/","outputs":"2","noerr":0,"x":304,"y":207.00000190734863,"wires":[["1536b8c2.c115d7"],["b663f65b.940838"]]},{"id":"1536b8c2.c115d7","type":"rbe","z":"35d29dc3.91efd2","name":"Title","func":"rbe","gap":"","start":"","inout":"out","x":343,"y":157.00000190734863,"wires":[["c59c9b31.1e4938","5e234afe.803e24"]]},{"id":"b663f65b.940838","type":"rbe","z":"35d29dc3.91efd2","name":"Vol","func":"rbe","gap":"","start":"","inout":"out","x":343,"y":254.00000190734863,"wires":[["6fc4179d.6b4478","9d77a20b.c04d2"]]},{"id":"c59c9b31.1e4938","type":"switch","z":"35d29dc3.91efd2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"RMF CLASSIC - STUDIO","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":504,"y":194.00000190734863,"wires":[["9d77a20b.c04d2","aa7cf9ca.4fc968"],["816a2c0.c9dffd8"]]},{"id":"5e234afe.803e24","type":"debug","z":"35d29dc3.91efd2","name":"","active":false,"console":"false","complete":"false","x":665,"y":98.00000190734863,"wires":[]},{"id":"6fc4179d.6b4478","type":"debug","z":"35d29dc3.91efd2","name":"","active":true,"console":"false","complete":"false","x":586,"y":294.00000190734863,"wires":[]},{"id":"9d77a20b.c04d2","type":"play audio","z":"35d29dc3.91efd2","name":"","voice":"14","x":681,"y":241,"wires":[]},{"id":"aa7cf9ca.4fc968","type":"debug","z":"35d29dc3.91efd2","name":"","active":false,"console":"false","complete":"false","x":667,"y":138.00000190734863,"wires":[]},{"id":"816a2c0.c9dffd8","type":"debug","z":"35d29dc3.91efd2","name":"","active":false,"console":"false","complete":"false","x":666,"y":183.00000190734863,"wires":[]},{"id":"7fa8ce74.4ca97","type":"function","z":"35d29dc3.91efd2","name":"[0]","func":"if(msg.payload[0].Name || msg.payload[0].Title){\nmsg.payload = msg.payload[0].Name + ' ' +msg.payload[0].Title ;\n} else\nif(msg.payload[0].state || msg.payload[0].volume){\nmsg.payload = msg.payload[0].volume + '% ' +msg.payload[0].state ;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":442,"y":341.00000190734863,"wires":[["6fc4179d.6b4478","9d77a20b.c04d2"]]},{"id":"1b053c00.87f3f4","type":"mpd out","z":"35d29dc3.91efd2","name":"","topic":"","server":"2882fbf.8499c04","x":290,"y":338.00000190734863,"wires":[["7fa8ce74.4ca97","bcb8922a.93357"]]},{"id":"336765b2.59a3ba","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"currentsong","payloadType":"str","repeat":"","crontab":"","once":false,"x":121,"y":291.00000190734863,"wires":[["1b053c00.87f3f4"]]},{"id":"3e80c076.a933a","type":"comment","z":"35d29dc3.91efd2","name":"Control changes on MPD","info":"","x":167,"y":66.00000190734863,"wires":[]},{"id":"b54b6043.7cf01","type":"inject","z":"35d29dc3.91efd2","name":"","topic":"","payload":"status","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":370.00000190734863,"wires":[["1b053c00.87f3f4"]]},{"id":"bcb8922a.93357","type":"debug","z":"35d29dc3.91efd2","name":"","active":false,"console":"false","complete":"false","x":469,"y":389.00000190734863,"wires":[]},{"id":"63c2a54a.c64c8c","type":"debug","z":"35d29dc3.91efd2","name":"","active":false,"console":"false","complete":"false","x":179,"y":147.00000190734863,"wires":[]},{"id":"9a286558.f5be48","type":"debug","z":"35d29dc3.91efd2","name":"","active":true,"console":"false","complete":"false","x":724.0000076293945,"y":2291.3333110809326,"wires":[]},{"id":"d82e254e.c573c8","type":"file in","z":"35d29dc3.91efd2","name":"radiostreams.json","filename":"/usr/lib/node_modules/node-red/public/cdn/radiostreams.json","format":"utf8","x":226.33326721191406,"y":686.6667366027832,"wires":[["81ae9a50.1e3528"]]},{"id":"e879005c.8fbce","type":"file","z":"35d29dc3.91efd2","name":"cdn/radioButtons.html","filename":"/usr/lib/node_modules/node-red/public/cdn/radiostreams.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":349.3332824707031,"y":1325.6667499542236,"wires":[]},{"id":"bbe53c4c.33954","type":"template","z":"35d29dc3.91efd2","name":"{strona}","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"pl\">\n<head><meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\"><meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAllBMVEUAAADgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAbgQAYpUjceAAAAMXRSTlMA+r8MIRjst2SSfkgIEXZa9Dfopp4+r20UKsS7s2Eyq2rdyoklLuODcdLPUJd52EHHmPDFnwAABR1JREFUeAHt2+luukoYx/HfAO4DovhXBBdR62Jd+tz/zZ0p6rQDjKJVSU78vMSA3+DwhEDE29vb29tbFm7apZIlzL/1P2KtH//0Wj8+Yv25YAklmyMHszELF/Qk7aDWtHHJwXPpyVi3AZ1DQC8xPSCL79HLjEtIOSzohdoNJAwZvRTrQVGll3Pwyyej16tC6rtUADbCibmmQuxNHC2pIEvELEYFcS1821JhthB8RoVxSwAcuoYZ4SnSHRjs4cNgczXzE2gwEsojYEiPtAGsfD9Ul4QZhDY9Uh9NuqYmL9UJhD090hBOvoC6HJ4beqS6fgqx8TL6Cdgdc2XAejdmpLGuxnrfVo7j1IWIhF28UWxYyn1nmOlPDvy1DHBkwJSEgF+4fAZIM0iY48SUATXUKFubA6glAuSh6gBaNwf00wFb7RzcQ5ipAU15qB4A6xEBHXQo2xpCXRcwlCP0jwFeMoBtV8FpRAg7XUBTHoV1VmHegFFWgEeKHcC3JHxBcK4H1AEsHxfA5ufVZUBYXQrg7HzQUs6AVjpgnAzwlYCeDFipAZ8QGAnzvwV0EwGueQ4I1YCeLsC6IeCQI4CfAyq6gFANKKUDFp43/jb4FgpGEJRJWAcnX/QTMFYDIIwuBlQ0Affpoku/lWVAF8LkeoD/1ICqLqAhA+y/BVQSAe27Avz/ZcC4wIAPEjw1YKUL4E8I6GcEOP/fgMEfA0wANmmVx5OWZfUP1VnAsgMqmoCOLiBML0KTNKZDG5JVXzwkwMgdEH1yKMyl+8oAz0bKaJ8nYP6QgB2ymCEpwqwA6xEBK2Qz1VVv3BQwzB+wVL6U44e5fkVAhePEWk5dxiLvZ0H23ecHuBaOzBn7uSZwsntoQCkrYImj0hf9UuOI8ejZAW4JMXNKii2OevkD5G71WwIGOOpQQhMx270poHNzwBCxf4wSFiZi3RwB3v0BbI7YWPuAevLcgDbHN9+llBCxf88N2CDWICnZ1v8VENJv5YsBVQiBGmClAwy51tPsxONpA0Y6YK4LmECYXg0IEXMog38lwJUnaHx/wBdiTUpjpvwJNAH8/HH3/oAIsRGl7blchJoA854AnxSuLyduUg2xpj7APqcP7g+gA2I77WuirTaAWefrp6IGLC8F9Ek1Q8xeUIKHGF9oA2gJ8IFcylW510wXsAK4R6oFR+zASBH5p+2kD6BKbX36JF8AGbUpJTVx1GRK1weOKumAtCBXgMaa46ixIMmwIAdxjoCNDBjfHkA7nPjLYwLbDLm8KcwVsOBKQE3e6W7yBLgtnPHWsDdpWJBm+ptSxQSY7+VE2KoBhg3s6ILIgkaVcgawgVcmORE6agBFtZAuWpeQqcnyBkghhLEakEPUQhp3GN0cEEAIbw4g1+FIsCpEtwes5bsyB8Kacls3lQR/WaZ7AtgnMGIkLEbyHOYUzUYmYnYjXlLpgC5dxTZTl2Is2NOtyvugEgZ7V7fAulSoSvEBYypUF17RAR0qlIctFaqDHhXKQZ8K9QGEVCADwAejwrARhAkVZoWYw6gYO5w0IipA9AmJN8fRot0ul8uuwI7ogdiRK4gvabcXUbdpQsEFU2Gf+KU0K0MpzbdPTAUXkO3trVROm+Fus3La/HIApdVwtxqlWbjEf35ACZeYzw/wLwe4Dw2YaZ4U6vE2pexwtxWllDkuMtLJI9ytzyjpC5c1GCV4+IMOJX3iimqiILDxB7ah+1uB3qj+W4/jT/ik/lsLb29vb29vSf8BGVGXt/uCbeIAAAAASUVORK5CYII=\"/>    \n<style>\n    body,a,li,button {font:normal 0.95em/1.7em verdana; margin:0.5em;}\n    body,a,li {background:#666; color:white;}\n    a{text-decoration:none;}\nbody {padding-top:3rem !important;}    \n#info{\n    z-index: 4;\n    background: #ccc;\n    font-size: 0.86em;\n    color: #222;\n    position: fixed;\n    width: 100%;\n    min-height: 3rem;\n    top: 0;\n    left: 0;\n    padding:0.2em;\n}\n\n</style>\n\n<link rel=\"stylesheet\" href=\"/cdn/_/style.css\">\n<script src=\"/cdn/_/script.js\"></script>\n\n<title>Radio-Red-MPD</title>\n\n<script>\nfunction $(e){return document.getElementById(e)}\n\nfunction ajx(u){\n\tif(u){\n\t    console.log(u)\n\t\tvar request=new Request(u,{method:\"POST\",mode:\"cors\",redirect:\"follow\",headers:new Headers({\"Content-Type\":\"text/plain\"})});\n\t\tfetch(u,request).then(function(e){\n\t\t\treturn e.text()\n\t\t}).then(function(out){\n\t\t\tif(out){\n\t\t\t\tconsole.log(out)\n\t\t\t\t$(\"info\").innerHTML=out;\n\t\t\t}\n\t\t});\n\t}\n}\n\n//setTimeout(function(){ajx('info')},5000);\n//setInterval(function(){ajx('info')},30000);\n\n</script>\n</head>\n<body>\n    <div id=\"info\" ></div>\n\n\n\n<div>\n\n    <button onClick=\"ajx('/mpd/currentsong/!')\">Info</button>  \n\n    <button onClick=\"ajx('/mpd/stop/!')\">Stop</button>  \n    <button onClick=\"ajx('/mpd/play/!')\">Play</button>\n    <button onClick=\"ajx('/mpd/pause/!')\">Pause</button>\n    <button onClick=\"ajx('/mpd/next/!')\">Next</button>\n    <button onClick=\"ajx('/mpd/previous/!')\">Prev</button>\n</div>\n<div>\n    <button onClick=\"ajx('/mpd/vol/--')\">Vol --</button>\n    <button onClick=\"ajx('/mpd/vol/-')\">Vol -</button>\n    <button onClick=\"ajx('/mpd/setvol/85')\">Vol =</button>\n    <button onClick=\"ajx('/mpd/vol/+')\">Vol +</button>  \n\n</div>\n\n<div>\n{{#payload.buttons}}\n<button onClick=\"ajx('/mpd/play/{{n}}')\" title=\"{{n}}\" class=\"c{{c}}\">{{t}}</button>\n{{/payload.buttons}}\n</div>\n\n</body>\n</html>\n","x":463.33326721191406,"y":672.6667366027832,"wires":[["8f219ec4.d105b"]]},{"id":"81ae9a50.1e3528","type":"function","z":"35d29dc3.91efd2","name":"klawisze","func":"var radios = JSON.parse(msg.payload);\n \nvar buttons =[];\nvar nr=0;\nradios.forEach(function(k,i){\n    //if (i>0) \n    {\n        buttons.push({t:k.title,n:nr,c:i%20});\n        nr++;\n    }\n});\nmsg.payload = {};\nmsg.payload.buttons = buttons;\nmsg.headers = {'Content-Type':'text/html;charset=utf-8'};\nreturn msg;","outputs":1,"noerr":0,"x":299.33326721191406,"y":620.6667366027832,"wires":[["bbe53c4c.33954"]]},{"id":"9e353b19.bef8e8","type":"debug","z":"35d29dc3.91efd2","name":"","active":true,"console":"false","complete":"false","x":604.333251953125,"y":802.6667499542236,"wires":[]},{"id":"779b0a41.de0b94","type":"function","z":"35d29dc3.91efd2","name":"Raport MPD","func":"var info = '';\n \nif (msg.payload[0].Name) {\n    var arr = msg.payload[0];\n    if (arr.Name) info =  arr.Name+' ';\n    if (arr.Title) info += arr.Title+' ';\n    //if (arr.Id) info += arr.Id+' ';\n    //if (arr.file) info += arr.file;\n    global.set(\"mpd_title\",info);\n}\n\nmsg.payload = info;\n//msg.headers = {'Content-Type':'text/html;charset=utf-8'};\nreturn msg;\n\n\n\n\n/***********************************************\nvar info = 'Current: ';\n\nvar cur = msg.payload[0];\nvar sta = msg.payload[0];\n\n//var cur = msg.payload.currentsong;\n//var sta = msg.payload.status;\n\n//if (sta.song) info += sta.song+'. ';\nif (sta.songid) info += sta.songid+'. ';\nif (cur.Name) info += ' #'+cur.Name;\n\nif (cur.Album) info += ' '+cur.Album;\nif (cur.Artist) info += ' = '+cur.Artist;\nif (cur.Title) info += ' - '+cur.Title;\n\nif (cur.Pos) info += ' #'+cur.Pos;\nif (sta.volume) info += ' %'+sta.volume;\nif (sta.random) info += ' RND:'+sta.random;\nif (sta.file) info += ' ='+sta.file;\n\n//if (sta.bitrate) info += ' b'+sta.bitrate;\n\nmsg.payload = info;\n\nreturn msg;\n*/","outputs":1,"noerr":0,"x":512.333251953125,"y":1021.6667499542236,"wires":[["e3da7601.675828"]]},{"id":"e3da7601.675828","type":"debug","z":"35d29dc3.91efd2","name":"","active":true,"console":"false","complete":"false","x":611.333251953125,"y":937.6667499542236,"wires":[]},{"id":"8ea8f87.898e808","type":"comment","z":"35d29dc3.91efd2","name":"http://192.168.1.104:1880/mpd","info":"","x":170,"y":555.0000019073486,"wires":[]},{"id":"28585029.d0b8d","type":"function","z":"35d29dc3.91efd2","name":"get globals","func":"var title  = global.get(\"mpd_title\") || 'MPD';\nvar volume = global.get(\"mpd_volume\") || '.';\nmsg.payload= title + ' ' + volume + '%';\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":750.0000019073486,"wires":[["9e353b19.bef8e8","8f219ec4.d105b"]]},{"id":"963567d2.327ad8","type":"debug","z":"35d29dc3.91efd2","name":"","active":true,"console":"false","complete":"false","x":609,"y":858.0000019073486,"wires":[]},{"id":"2882fbf.8499c04","type":"mpd-server","z":"","host":"192.168.1.104","port":"6600"}]
