node-red/mqtt_test.json

[{"id":"399a6502.c615aa","type":"mqtt in","z":"e94d9d27.01eaf","name":"","topic":"zut/wi","qos":"0","broker":"2e511a80.8abdb6","x":110,"y":80,"wires":[["a2236d4e.3ff1d","8d2ef3cd.e5619"]]},{"id":"a2236d4e.3ff1d","type":"debug","z":"e94d9d27.01eaf","name":"","active":true,"console":"false","complete":"false","x":360,"y":80,"wires":[]},{"id":"8d2ef3cd.e5619","type":"debug","z":"e94d9d27.01eaf","name":"","active":false,"console":"false","complete":"false","x":510,"y":160,"wires":[]},{"id":"636195cc.50c65c","type":"function","z":"e94d9d27.01eaf","name":"randomTXT","func":"var infy=[\n'Witam',\n'Co tam słychać',\n'Jak zdrowie',\n'Czy już czas',\n'Przerwa',\n'Tylko ta robota i robota'\n];\nvar ile = infy.length;\nvar los = Math.floor(Math.random()*ile);\nvar txt = infy[los];\nvar czas = (new Date()).toLocaleString();\nmsg.payload = czas+' '+txt;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["8d2ef3cd.e5619","ea66a044.18755"]]},{"id":"9d7d16a.69bede8","type":"inject","z":"e94d9d27.01eaf","name":"co 1 min","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":120,"y":160,"wires":[["636195cc.50c65c"]]},{"id":"ea66a044.18755","type":"mqtt out","z":"e94d9d27.01eaf","name":"","topic":"zut/wi","qos":"0","retain":"","broker":"2e511a80.8abdb6","x":340,"y":240,"wires":[]},{"id":"b4a024d2.ac45f8","type":"inject","z":"e94d9d27.01eaf","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":220,"wires":[["ea66a044.18755"]]},{"id":"54af25eb.dbdf3c","type":"inject","z":"e94d9d27.01eaf","name":"","topic":"","payload":"world","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":260,"wires":[["ea66a044.18755"]]},{"id":"3aa5ba1b.06fb86","type":"function","z":"e94d9d27.01eaf","name":"PogodaJS","func":"msg.payload.zmiana = (msg.payload.delta.temperatura);\nvar pogoda = msg.payload.prognoza[0].pogoda;\npogoda += ', '+msg.payload.prognoza[0].temperatura+' °C';\nvar czas = (new Date()).toLocaleString();\nmsg.payload = czas+' '+pogoda;\nreturn msg;\n\n/*\nJSON.stringify(msg.payload);\n{\n\t\"lokalizacja\": \"Szczecin\",\n\t\"url\": \"http:\\/\\/www.yr.no\\/place\\/Poland\\/West_Pomerania\\/Szczecin\\/forecast_hour_by_hour.xml\",\n\t\"symbol_url\": \"http:\\/\\/symbol.yr.no\\/grafikk\\/sym\\/b48\\/\",\n\t\"symbol_ext\": \".png\",\n\t\"time\": 1488371702,\n\t\"created\": \"2017-03-01 13:35:02\",\n\t\"aktualne\": {\n\t\t\"czas\": \"2017-03-01T16:00:00\",\n\t\t\"stan\": \"Rain showers\",\n\t\t\"chmury\": \"Rain showers\",\n\t\t\"symbol\": \"05d\",\n\t\t\"deszcz\": \"0.8\",\n\t\t\"wiatr\": \"3.8\",\n\t\t\"temperatura\": \"6\",\n\t\t\"cisnienie\": \"998.3\",\n\t\t\"pogoda\": \"Wietrzyk, Kropi\"\n\t},\n\t\"prognoza\": [{\n\t\t\"czas\": \"2017-03-01T16:00:00\",\n\t\t\"stan\": \"Rain showers\",\n\t\t\"chmury\": \"Rain showers\",\n\t\t\"symbol\": \"05d\",\n\t\t\"deszcz\": \"0.8\",\n\t\t\"wiatr\": \"3.8\",\n\t\t\"temperatura\": \"6\",\n\t\t\"cisnienie\": \"998.3\",\n\t\t\"pogoda\": \"Wietrzyk, Kropi\"\n\t}, {\n\t\t\"czas\": \"2017-03-01T19:00:00\",\n\t\t\"stan\": \"Czysto\",\n\t\t\"chmury\": \"Czysto\",\n\t\t\"symbol\": \"mf\\/01n.10\",\n\t\t\"deszcz\": \"0\",\n\t\t\"wiatr\": \"3.8\",\n\t\t\"temperatura\": \"3\",\n\t\t\"cisnienie\": \"1000.4\"\n\t}],\n\t\"delta\": {\n\t\t\"temperatura\": \"-4.5\",\n\t\t\"deszcz\": \"-0.8\",\n\t\t\"cisnienie\": \"-498.0\",\n\t\t\"wiatr\": \"-2.0\",\n\t\t\"prognoza\": \"Zimniej bez deszczu\",\n\t\t\"led\": {\n\t\t\t\"temperatura\": \"00f\",\n\t\t\t\"deszcz\": \"00f\",\n\t\t\t\"cisnienie\": \"00f\",\n\t\t\t\"wiatr\": \"00f\"\n\t\t}\n\t},\n\t\"next\": 30,\n\t\"cheerlight\": \"white\",\n\t\"sunrise\": \"07:54\",\n\t\"sunset\": \"18:37\",\n\t\"slonce\": {\n\t\t\"time\": 1488371702,\n\t\t\"czas\": \"2017-03-01 13:35:02\",\n\t\t\"dzisiaj\": {\n\t\t\t\"wschod\": \"06:47\",\n\t\t\t\"swit\": \"06:12\",\n\t\t\t\"zachod\": \"17:39\",\n\t\t\t\"zmrok\": \"18:14\",\n\t\t\t\"dzien\": \"+10:52:54\"\n\t\t},\n\t\t\"jutro\": {\n\t\t\t\"wschod\": \"06:44\",\n\t\t\t\"swit\": \"06:09\",\n\t\t\t\"zachod\": \"17:41\",\n\t\t\t\"zmrok\": \"18:16\"\n\t\t},\n\t\t\"delta\": {\n\t\t\t\"wschod\": -2.3,\n\t\t\t\"zachod\": 1.9,\n\t\t\t\"dzien\": \"+00:04:11\",\n\t\t\t\"delta\": \"+03:09:54\",\n\t\t\t\"opis\": \"Dluzszy\"\n\t\t}\n\t}\n}\n\n*/","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["ea66a044.18755","a2160a49.68a0d8"]]},{"id":"bcb404a2.048c18","type":"http request","z":"e94d9d27.01eaf","name":"","method":"GET","ret":"obj","url":"http://zszczech.zut.edu.pl/cdn/pogoda/pogoda.porta.json.php","tls":"","x":190,"y":340,"wires":[["3aa5ba1b.06fb86"]]},{"id":"a2160a49.68a0d8","type":"debug","z":"e94d9d27.01eaf","name":"","active":true,"console":"false","complete":"false","x":450,"y":460,"wires":[]},{"id":"8bf0334d.a28b2","type":"inject","z":"e94d9d27.01eaf","name":"co 15 min","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"x":110,"y":420,"wires":[["bcb404a2.048c18"]]},{"id":"2e511a80.8abdb6","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
