node-red/mySun.json


[{"id":"899710ae.e932c","type":"inject","z":"818adcf6.c8fed","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":130,"y":80,"wires":[["dcf4e413.63e348"]]},{"id":"dcf4e413.63e348","type":"function","z":"818adcf6.c8fed","name":"weekSUN","func":"var weekSun = [\n\t\t[\"08:21\", \"15:49\"],\n\t\t[\"08:17\", \"15:59\"],\n\t\t[\"08:11\", \"16:10\"],\n\t\t[\"08:03\", \"16:23\"],\n\t\t[\"07:52\", \"16:36\"],\n\t\t[\"07:39\", \"16:50\"],\n\t\t[\"07:26\", \"17:04\"],\n\t\t[\"07:11\", \"17:18\"],\n\t\t[\"06:55\", \"17:31\"],\n\t\t[\"06:39\", \"17:45\"],\n\t\t[\"06:22\", \"17:58\"],\n\t\t[\"06:05\", \"18:11\"],\n\t\t[\"05:48\", \"18:24\"],\n\t\t[\"05:31\", \"18:36\"],\n\t\t[\"05:15\", \"18:49\"],\n\t\t[\"04:59\", \"19:01\"],\n\t\t[\"04:44\", \"19:14\"],\n\t\t[\"04:29\", \"19:26\"],\n\t\t[\"04:16\", \"19:39\"],\n\t\t[\"04:04\", \"19:50\"],\n\t\t[\"03:54\", \"20:01\"],\n\t\t[\"03:46\", \"20:10\"],\n\t\t[\"03:40\", \"20:18\"],\n\t\t[\"03:37\", \"20:24\"],\n\t\t[\"03:37\", \"20:27\"],\n\t\t[\"03:39\", \"20:28\"],\n\t\t[\"03:44\", \"20:26\"],\n\t\t[\"03:51\", \"20:21\"],\n\t\t[\"04:00\", \"20:14\"],\n\t\t[\"04:10\", \"20:05\"],\n\t\t[\"04:21\", \"19:53\"],\n\t\t[\"04:32\", \"19:40\"],\n\t\t[\"04:44\", \"19:26\"],\n\t\t[\"04:56\", \"19:11\"],\n\t\t[\"05:08\", \"18:55\"],\n\t\t[\"05:20\", \"18:39\"],\n\t\t[\"05:32\", \"18:22\"],\n\t\t[\"05:45\", \"18:05\"],\n\t\t[\"05:57\", \"17:48\"],\n\t\t[\"06:09\", \"17:31\"],\n\t\t[\"06:22\", \"17:14\"],\n\t\t[\"06:35\", \"16:58\"],\n\t\t[\"06:48\", \"16:42\"],\n\t\t[\"07:01\", \"16:27\"],\n\t\t[\"07:15\", \"16:14\"],\n\t\t[\"07:28\", \"16:02\"],\n\t\t[\"07:41\", \"15:52\"],\n\t\t[\"07:53\", \"15:44\"],\n\t\t[\"08:03\", \"15:39\"],\n\t\t[\"08:12\", \"15:37\"],\n\t\t[\"08:18\", \"15:37\"],\n\t\t[\"08:21\", \"15:41\"],\n\t\t[\"08:21\", \"15:48\"]\n];\n\nfunction onezerro(sun){\n    var d = new Date();\n    var h = d.getHours();\n    var m = d.getMinutes();\n    var nowMinuta = parseInt(m) + (60 * parseInt(h));\n    var arr = sun[0].split(':');\n    var riseMinuta = parseInt(arr[1]) + (60 * parseInt(arr[0]));\n    var ars = sun[1].split(':');\n    var ssetMinuta = parseInt(ars[1]) + (60 * parseInt(ars[0]));\n    //var info= sun[0]+' '+sun[1]+' = '+h+':'+m+' nowMinuta='+nowMinuta+' riseMinuta='+riseMinuta+' ssetMinuta='+ssetMinuta;\n    var out=0;\n    if (nowMinuta > riseMinuta) out = 1;\n    if (nowMinuta > ssetMinuta)  out = 0;\n    return out;\n}\n\nDate.prototype.getWeek = function() {\n    var dt = new Date(this.getFullYear(),0,1);\n    return Math.ceil((((this - dt) / 86400000) + dt.getDay()+1)/7);\n};\nvar now = (new Date()).toLocaleString();\nvar myDate = new Date();\nvar week = myDate.getWeek();\n\n\nvar dayState   = onezerro(weekSun[week]);\nvar nightState = (dayState ===1) ? 0:1;\n\nvar msg1 = {payload:dayState}\nvar msg2 = {payload:nightState}\n\nvar msg3 = {payload:weekSun[week][0]}\nvar msg4 = {payload:weekSun[week][1]}\n\nmsg.payload=now+' week= '+week+', \\n'+weekSun[week][0]+', \\n'+weekSun[week][1];\n\nreturn [msg1,msg2,msg3,msg4,msg];","outputs":"5","noerr":0,"x":300,"y":80,"wires":[["d67b7a42.c4ce48","efedf8db.7dd898"],["d67b7a42.c4ce48"],["94863ea4.fa766"],["94863ea4.fa766"],["94863ea4.fa766"]]},{"id":"d67b7a42.c4ce48","type":"join","z":"818adcf6.c8fed","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"::","timeout":"","count":"2","x":590,"y":40,"wires":[["cb8cd470.c1a5e8"]]},{"id":"94863ea4.fa766","type":"join","z":"818adcf6.c8fed","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" === ","timeout":"","count":"3","x":590,"y":120,"wires":[["63a876ae.782968"]]},{"id":"efedf8db.7dd898","type":"file","z":"818adcf6.c8fed","name":"pin17 Val","filename":"/sys/class/gpio/gpio17/value","appendNewline":false,"createDir":false,"overwriteFile":"true","x":600,"y":80,"wires":[]},{"id":"cb8cd470.c1a5e8","type":"debug","z":"818adcf6.c8fed","name":"","active":true,"console":"false","complete":"false","x":750,"y":40,"wires":[]},{"id":"63a876ae.782968","type":"debug","z":"818adcf6.c8fed","name":"","active":true,"console":"false","complete":"false","x":750,"y":120,"wires":[]}]
