node-red/picam.json
[{"id":"928c996a.82b648","type":"exec","z":"65a20228.d9e5ac","command":"raspistill -o /usr/local/lib/node_modules/node-red/public/redphoto.jpg","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Take photo","x":396.10001373291016,"y":156.95001792907715,"wires":[[],[],[]]},{"id":"82f198ae.fa4d78","type":"inject","z":"65a20228.d9e5ac","name":"Klik","topic":" -rot 180 -w 800 -h 600","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":125.10004043579102,"y":158.25003051757812,"wires":[["928c996a.82b648"]]},{"id":"a2c13da1.ea0e7","type":"http response","z":"65a20228.d9e5ac","name":"","statusCode":"","headers":{},"x":497.2500686645508,"y":576.7501096725464,"wires":[]},{"id":"b06f4891.e91de8","type":"template","z":"65a20228.d9e5ac","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n    <title>ws</title>\n    <meta charset=\"UTF-8\">\n    <meta name=\"mobile-web-app-capable\" content=\"yes\">\n    <link rel=\"shortcut icon\" sizes=\"128x128\" href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACAAgMAAAC+UIlYAAAADFBMVEX/AAA6AMUAAP9HcEzdT1VqAAAABHRSTlOz6LMA1E37jQAAAEJJREFUeF7tyqENACAMRcFuwHQYRqxhtW5QXBGILzCEvNNnKegQdmofBgKBQOhleJm3gUAgEAhZfHsrEAgEAkGQYQHN/HVbVc8OSwAAAABJRU5ErkJggg==\" id=\"shortcut-icon\">\n<style>\n    body, button,div {font:normal 16px Verdana; margin:0.5em; padding:0.3em;}\n    img#image {min-width: 50%;max-width: 100%;}    \n</style>\n</head>\n    <body onload=\"\" onresize=\"\">\n        <div id=\"debug\"></div>\n        <div>\n            <button onClick='Klik(\"640\",\"480\")'>Klik(640x480)</button>\n            <button onClick='Klik(\"800\",\"600\")'>Klik(800x600)</button>\n            <button onClick='Klik(\"1600\",\"1200\")'>Klik(1600x1200)</button>\n        </div>\n        <div><img src=\"/redphoto.jpg\" id=\"image\"/></div>\n\n\n<script>\n    function $(id)   {return document.getElementById(id);}\n    \n\tvar wsUri    = null;\n    var ws       = null;\n    \n    function Klik(x,y) {\n        ws.send(x+','+y);\n    }\t\n    \n\tfunction writeStatus(a,b,o){\n\t    a=a||'='\n\t    b=b||'='\n        if (o) $('debug').innerHTML = a+JSON.stringify(o);\n    }\n\t\n\tdocument.addEventListener('DOMContentLoaded', function() {\n        \n        window.addEventListener('resize', function(event){  \n           \n        });\n        \n        // websocket\n        var h = String(window.location.host);\n        wsUri = \"ws://\"+h+\"/ws/picam\";\n        ws = new WebSocket(wsUri);\n        \n        ws.onopen = function(ev) {\n            writeStatus(null,null,'[Connected]');\n        };\n        \n        ws.onclose = function(ev) {\n            writeStatus(null,null,'[Disconnected]');\n        }\n\n        ws.onmessage = function(ev) {\n            console.log(ev);\n            console.log(parseInt(ev.timeStamp));\n            console.log(ev.data);\n            var time = (new Date()).getTime();\n            var czas = (new Date()).toLocaleString();\n            writeStatus(czas,' = ',ev.data);\n            \n            $('image').src=\"/redphoto.jpg?t=\"+time;\n            //var payload = JSON.parse(ev.data);\n            //console.log('payload=',payload);\n        }\n        \n        \n        \n    });\n        \n\n   \n</script>\n\n   </body>\n</html>","output":"str","x":294.25001525878906,"y":577.1501035690308,"wires":[["a2c13da1.ea0e7"]]},{"id":"751315aa.0f52ec","type":"http in","z":"65a20228.d9e5ac","name":"","url":"/picam","method":"get","upload":false,"swaggerDoc":"","x":100.25000762939453,"y":577.9501142501831,"wires":[["b06f4891.e91de8"]]},{"id":"277a0eb8.d17032","type":"websocket in","z":"65a20228.d9e5ac","name":"","server":"e62d1380.f45b3","client":"","x":108.00000762939453,"y":314.25000762939453,"wires":[["519c95a5.4fe62c","f98f256f.856b38"]]},{"id":"2813cda6.bd3232","type":"websocket out","z":"65a20228.d9e5ac","name":"","server":"e62d1380.f45b3","client":"","x":587.0000648498535,"y":336.25000762939453,"wires":[]},{"id":"519c95a5.4fe62c","type":"function","z":"65a20228.d9e5ac","name":"no sess","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":302.000057220459,"y":337.25000953674316,"wires":[["2813cda6.bd3232"]]},{"id":"76adfff5.1e20d","type":"watch","z":"65a20228.d9e5ac","name":"watch","files":"/usr/local/lib/node_modules/node-red/public/redphoto.jpg","recursive":"","x":115.10001373291016,"y":443.6500129699707,"wires":[["e238add.767085","2813cda6.bd3232"]]},{"id":"e238add.767085","type":"debug","z":"65a20228.d9e5ac","name":"","active":false,"console":"false","complete":"false","x":541.0000076293945,"y":446.25001335144043,"wires":[]},{"id":"2046963a.f1379a","type":"debug","z":"65a20228.d9e5ac","name":"","active":true,"console":"false","complete":"false","x":600.1000671386719,"y":226.4000301361084,"wires":[]},{"id":"f98f256f.856b38","type":"function","z":"65a20228.d9e5ac","name":"params","func":"var out=' -rot 180';\nvar arr = msg.payload.split(',');\nif (arr[0]) out += ' -w '+arr[0];\nif (arr[0]) out += ' -h '+arr[1];\nmsg.payload=out;\nreturn msg;","outputs":1,"noerr":0,"x":310.1000099182129,"y":259.40003299713135,"wires":[["2046963a.f1379a","928c996a.82b648"]]},{"id":"e62d1380.f45b3","type":"websocket-listener","z":"","path":"/ws/picam","wholemsg":"false"}]
