node-red/rss.json
[{"id":"c00049c5.c28688","type":"feedparse","z":"c2e2b704.56a9e8","name":"","url":"http://hackaday.com/feed/","interval":"70","x":130,"y":60,"wires":[["5a11b20d.d2cd4c"]]},{"id":"5a11b20d.d2cd4c","type":"function","z":"c2e2b704.56a9e8","name":"format RSS filename","func":"/*\nmsg.topic contains the original article link. \nmsg.payload contains the description, and \nmsg.article contains the complete article object, which has properties such as \nmsg.article.title\nmsg.article.summary\nmsg.article.date\n*/\nvar ID = function() {return '_'+ Math.random().toString(36).substr(2, 9)+'_';};\nvar nname = ID();\n\nvar link    = msg.topic;\nvar title   = msg.article.title;\nvar ntitle = title.replace(/ /g,'_');\nvar summary = msg.article.summary;\nvar date    = msg.article.date;\ndate = (new Date(date)).toLocaleString();\n\nvar strona = link.split('//')[1];\nvar arr = strona.split('.');\nvar name = '';\nif (arr[0]) name = arr[0];\nif (name == 'www') name = arr[1];\nnname = nname+name;\nvar filename = (nname+'_'+ntitle).replace(/\\//g,\"_\");\nmsg.filename = '/home/pi/red/db/rss/rss_'+filename+'.html';\n\nvar body = '<div class=\"article\">';\nbody += '<a href=\"'+link+'\"><h3>'+name+': '+title+' '+date+'</h3></a>';\nbody += '<div>'+summary+'</div>';\nbody += '</div>';\n\nmsg.payload = body;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["ccb70c7c.826","e016f646.d56c98","f5e144e8.f5ddb8"]]},{"id":"799f5448.b9843c","type":"feedparse","z":"c2e2b704.56a9e8","name":"","url":"http://radioszczecin.pl/rss.php","interval":"80","x":140,"y":100,"wires":[["5a11b20d.d2cd4c"]]},{"id":"ea075b49.4b58d8","type":"feedparse","z":"c2e2b704.56a9e8","name":"rss-PAP","url":"http://www.pap.pl/API/pl/Cms.Informations/Rss/1159/0","interval":"30","x":70,"y":140,"wires":[["5a11b20d.d2cd4c"]]},{"id":"ccb70c7c.826","type":"file","z":"c2e2b704.56a9e8","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":710,"y":120,"wires":[]},{"id":"e016f646.d56c98","type":"debug","z":"c2e2b704.56a9e8","name":"","active":true,"console":"false","complete":"filename","x":710,"y":180,"wires":[]},{"id":"f5e144e8.f5ddb8","type":"debug","z":"c2e2b704.56a9e8","name":"----------- po nic ----------------","active":false,"console":"false","complete":"payload","x":780,"y":380,"wires":[]},{"id":"db1140e6.18e7","type":"feedparse","z":"c2e2b704.56a9e8","name":"rss-ALLE","url":"http://allegro.pl/rss.php/cat?string=28mm&order=sd&id=50597&category=50597&order=qd&price_from=1&price_to=99","interval":"120","x":80,"y":180,"wires":[["5a11b20d.d2cd4c"]]},{"id":"36b2131c.91a5bc","type":"cron","z":"c2e2b704.56a9e8","name":"co 8 godz","crontab":"0 0 */8 * * *","x":100,"y":500,"wires":[["809b1a5c.a96498","d3514a29.52a238","f5e144e8.f5ddb8"]]},{"id":"4734b23a.66520c","type":"template","z":"c2e2b704.56a9e8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"pl\">\n<head>\n<title>RSSall</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"/_/malina-red.png\" id=\"shortcut-icon\">\n<style>\n    body {font:normal 1em Verdana;}\n    a {text-decoration:none;}\ndiv.article {\n    width: 31.65%;\n    float: left;\n    border: 1px solid gray;\n    margin: 0.25%;\n    padding: 0.5%;\n    min-height: 20em;\n}\n</style>\n</head>\n    <body>\n        <p>RSS {{time}}</p>\n        {{{payload}}}\n        \n    </body>\n</html>","x":370,"y":980,"wires":[["496f6ea7.c2e29","f5e144e8.f5ddb8"]]},{"id":"809b1a5c.a96498","type":"delay","z":"c2e2b704.56a9e8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":560,"wires":[["4034ca08.05c1e4"]]},{"id":"d3514a29.52a238","type":"delay","z":"c2e2b704.56a9e8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":640,"wires":[["263d8a0a.fd6216"]]},{"id":"496f6ea7.c2e29","type":"http response","z":"c2e2b704.56a9e8","name":"/rss","x":530,"y":900,"wires":[]},{"id":"bd8204a1.871258","type":"function","z":"c2e2b704.56a9e8","name":"header","func":"\nfunction decodeHTMLEntities(text) {\n    var entities = [\n        ['amp', '&'],\n        ['apos', '\\''],\n        ['#x27', '\\''],\n        ['#x2F', '/'],\n        ['#39', '\\''],\n        ['#47', '/'],\n        ['lt', '<'],\n        ['gt', '>'],\n        ['nbsp', ' '],\n        ['quot', '\"']\n    ];\n\n    for (var i = 0, max = entities.length; i < max; ++i) \n        text = text.replace(new RegExp('&'+entities[i][0]+';', 'g'), entities[i][1]);\n\n    return text;\n}\n\n\nmsg.time=(new Date()).toLocaleString();\n//msg.headers = {'Content-Type':'text/html;charset=utf-8'};\n//var html=msg.payload;\n//html = 'to jest zdanie';\n//msg.payload = {\"html\":html};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":900,"wires":[["4734b23a.66520c"]]},{"id":"4034ca08.05c1e4","type":"file in","z":"c2e2b704.56a9e8","name":"all.html","filename":"/home/pi/red/db/rss/rss_all.html","format":"utf8","x":300,"y":560,"wires":[["6f4ce6eb.0d5bc8"]]},{"id":"263d8a0a.fd6216","type":"fs-file-lister","z":"c2e2b704.56a9e8","name":"rss/*.html","start":"/home/pi/red/db/rss/","pattern":"*.html","path":true,"single":false,"depth":0,"stat":false,"x":340,"y":640,"wires":[["772298fe.870dd8"]]},{"id":"16563845.c55e38","type":"file in","z":"c2e2b704.56a9e8","name":"all.rss","filename":"/home/pi/red/db/rss/rss_all.html","format":"utf8","x":210,"y":1060,"wires":[["bd8204a1.871258"]]},{"id":"6f4ce6eb.0d5bc8","type":"function","z":"c2e2b704.56a9e8","name":"@Title","func":"msg.topic = '### WI RSS'\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":560,"wires":[["a55fd9d1.1ae598","7b2b4a4c.21fe14"]]},{"id":"efafb9c.f3cb848","type":"inject","z":"c2e2b704.56a9e8","name":"maila ślij","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":780,"wires":[["4034ca08.05c1e4"]]},{"id":"772298fe.870dd8","type":"function","z":"c2e2b704.56a9e8","name":"to filename","func":"msg.filename = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[["5daa9d9f.fb2be4","7272126.5f181ec"]]},{"id":"21c5f075.d9323","type":"inject","z":"c2e2b704.56a9e8","name":"Kasowanie RSS'ów","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":330,"y":800,"wires":[["263d8a0a.fd6216"]]},{"id":"d9d73ae7.d39e98","type":"delay","z":"c2e2b704.56a9e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":1000,"wires":[["16563845.c55e38"]]},{"id":"a55fd9d1.1ae598","type":"e-mail","z":"c2e2b704.56a9e8","server":"smtp.gmail.com","port":"465","name":"zszczech@gmail.com","dname":"@zszczech","x":690,"y":540,"wires":[]},{"id":"7b2b4a4c.21fe14","type":"debug","z":"c2e2b704.56a9e8","name":"","active":true,"console":"false","complete":"false","x":690,"y":600,"wires":[]},{"id":"5daa9d9f.fb2be4","type":"file","z":"c2e2b704.56a9e8","name":"delete all rss","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":690,"y":640,"wires":[]},{"id":"7272126.5f181ec","type":"debug","z":"c2e2b704.56a9e8","name":"","active":true,"console":"false","complete":"false","x":680,"y":700,"wires":[]},{"id":"be7f227c.f7c02","type":"http in","z":"c2e2b704.56a9e8","name":"","url":"/rss","method":"get","swaggerDoc":"","x":80,"y":920,"wires":[["6293a007.78cd9","d9d73ae7.d39e98"]]},{"id":"6293a007.78cd9","type":"fs-file-lister","z":"c2e2b704.56a9e8","name":"rss/*.html","start":"/home/pi/red/db/rss/","pattern":"*.html","path":true,"single":false,"depth":0,"stat":false,"x":300,"y":380,"wires":[["2d25d0e7.2b6c2"]]},{"id":"2d25d0e7.2b6c2","type":"function","z":"c2e2b704.56a9e8","name":"to filename","func":"msg.filename = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["38dbd1df.99a2fe"]]},{"id":"2c5ceda2.d832b2","type":"inject","z":"c2e2b704.56a9e8","name":"append to all","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":410,"y":240,"wires":[["6293a007.78cd9"]]},{"id":"ba929905.899058","type":"delay","z":"c2e2b704.56a9e8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":380,"wires":[["6293a007.78cd9"]]},{"id":"4d997b01.97a724","type":"inject","z":"c2e2b704.56a9e8","name":"rss colector","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":440,"wires":[["6293a007.78cd9"]]},{"id":"38dbd1df.99a2fe","type":"file in","z":"c2e2b704.56a9e8","name":"get content","filename":"","format":"utf8","x":510,"y":480,"wires":[["ad58d227.0562"]]},{"id":"427cb621.3e87a8","type":"cron","z":"c2e2b704.56a9e8","name":"co 1 godz","crontab":"0 0 */1 * * *","x":100,"y":320,"wires":[["ba929905.899058","618126d7.29b638"]]},{"id":"ad58d227.0562","type":"file","z":"c2e2b704.56a9e8","name":"rss to all","filename":"/home/pi/red/db/rss/rss_all.html","appendNewline":true,"createDir":true,"overwriteFile":"false","x":800,"y":480,"wires":[]},{"id":"618126d7.29b638","type":"file","z":"c2e2b704.56a9e8","name":"rss to all","filename":"/home/pi/red/db/rss/rss_all.html","appendNewline":true,"createDir":true,"overwriteFile":"delete","x":340,"y":300,"wires":[]},{"id":"4c2e4bad.2004e4","type":"inject","z":"c2e2b704.56a9e8","name":"Kasuj all","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":220,"wires":[["618126d7.29b638"]]}]
