node-red/rss.json


[{"id":"1e85c9e.edb2836","type":"e-mail","z":"c2e2b704.56a9e8","server":"smtp.gmail.com","port":"465","name":"zszczech@gmail.com","dname":"@zszczech","x":730,"y":160,"wires":[]},{"id":"178dcef9.032731","type":"function","z":"c2e2b704.56a9e8","name":"@Title","func":"msg.topic = '### WI RSS = file HackDay'\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":140,"wires":[["1e85c9e.edb2836"]]},{"id":"6cfea2be.a4fb2c","type":"function","z":"c2e2b704.56a9e8","name":"@Title","func":"msg.topic = '### WI RSS = file RadioSzczecin'\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["1e85c9e.edb2836","d6093d8d.c7845"]]},{"id":"5bbf45ba.07888c","type":"file in","z":"c2e2b704.56a9e8","name":"/hackday.html","filename":"/home/pi/red/db/rss/hackday.html","format":"utf8","x":360,"y":140,"wires":[["178dcef9.032731"]]},{"id":"6107082c.58fba8","type":"file in","z":"c2e2b704.56a9e8","name":"/radioszczecin","filename":"/home/pi/red/db/rss/radioszczecin.html","format":"utf8","x":360,"y":200,"wires":[["6cfea2be.a4fb2c"]]},{"id":"d6093d8d.c7845","type":"debug","z":"c2e2b704.56a9e8","name":"","active":false,"console":"false","complete":"false","x":710,"y":220,"wires":[]},{"id":"2b1dce02.0030b2","type":"rbe","z":"c2e2b704.56a9e8","name":"","func":"rbe","gap":"","start":"","inout":"out","x":290,"y":80,"wires":[["5bbf45ba.07888c","6107082c.58fba8"]]},{"id":"a46f4f62.e9037","type":"function","z":"c2e2b704.56a9e8","name":"format RSS","func":"/*\nmsg.topic contains the original article link. \nmsg.payload contains the description, and \nmsg.article contains the complete article object, which has properties such as \nmsg.article.title\nmsg.article.summary\nmsg.article.date\n*/\nvar link    = msg.topic;\nvar title   = msg.article.title;\nvar summary = msg.article.summary;\nvar date    = msg.article.date\nvar header = '<a href=\"'+link+'\">'+title+' '+date+'</a>';\nheader += '<div>'+summary+'</div>';\n\nmsg.payload = header + msg.payload+'<hr />';\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["fb369168.239c3","d6093d8d.c7845"]]},{"id":"8eaef8a8.0fb2b8","type":"function","z":"c2e2b704.56a9e8","name":"format RSS","func":"/*\nmsg.topic contains the original article link. \nmsg.payload contains the description, and \nmsg.article contains the complete article object, which has properties such as \nmsg.article.title\nmsg.article.summary\nmsg.article.date\n*/\nvar link    = msg.topic;\nvar title   = msg.article.title;\nvar summary = msg.article.summary;\nvar date    = msg.article.date\nvar header = '<a href=\"'+link+'\">'+title+' '+date+'</a>';\nheader += '<div>'+summary+'</div>';\n\nmsg.payload = header + msg.payload+'<hr />';\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["75a62bc.ae304d4","d6093d8d.c7845"]]},{"id":"fea919d2.5661d8","type":"scheduler","z":"c2e2b704.56a9e8","outtopic":"","outpayload1":"","outpayload2":"","name":"My Scheduler","lat":"53.37864","lon":"14.66564","start":"sunrise","end":"sunset","starttime":"855","endtime":"1425","duskoff":"0","dawnoff":"0","outtext1":"włączony kalendarz","outtext2":"wyłączony kalendarz","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":true,"atstart":true,"x":150,"y":120,"wires":[[],["2b1dce02.0030b2"],[]]},{"id":"34206175.ccf79e","type":"inject","z":"c2e2b704.56a9e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":60,"wires":[["2b1dce02.0030b2"]]},{"id":"c00049c5.c28688","type":"feedparse","z":"c2e2b704.56a9e8","name":"","url":"http://hackaday.com/feed/","interval":"60","x":190,"y":300,"wires":[["a46f4f62.e9037"]]},{"id":"fb369168.239c3","type":"file","z":"c2e2b704.56a9e8","name":"","filename":"/home/pi/red/db/rss/hackday.html","appendNewline":true,"createDir":true,"overwriteFile":"false","x":660,"y":300,"wires":[]},{"id":"799f5448.b9843c","type":"feedparse","z":"c2e2b704.56a9e8","name":"","url":"http://radioszczecin.pl/rss.php","interval":"60","x":200,"y":380,"wires":[["8eaef8a8.0fb2b8"]]},{"id":"75a62bc.ae304d4","type":"file","z":"c2e2b704.56a9e8","name":"","filename":"/home/pi/red/db/rss/radioszczecin.html","appendNewline":true,"createDir":true,"overwriteFile":"false","x":670,"y":380,"wires":[]}]
