node-red/rss_allegro.json
[{"id":"4e1b6730.8ec268","type":"feedparse","z":"183045cf.23b03a","name":"Obiektywy M42 28mm","url":"http://allegro.pl/rss.php/search?string=28mm&offer_type=2&category=50597&price_from=1&price_to=150&selected_country=1&search_type=1&postcode_enabled=1","interval":"60","x":140,"y":300,"wires":[["3aa4232f.ac5c6c"]]},{"id":"3aa4232f.ac5c6c","type":"function","z":"183045cf.23b03a","name":"format RSS filename","func":"/*\nmsg.topic contains the original article link. \nmsg.payload contains the description, and \nmsg.article contains the complete article object, which has properties such as \nmsg.article.title\nmsg.article.summary\nmsg.article.date\n*/\nvar ID = function() {return '_'+ Math.random().toString(36).substr(2, 9)+'_';};\nvar nname = ID();\n\nvar link    = msg.topic;\nvar title   = msg.article.title;\nvar ntitle = title.replace(/ /g,'_');\nvar summary = msg.article.summary;\nvar date    = msg.article.date;\ndate = (new Date(date)).toLocaleString();\n\nvar strona = link.split('//')[1];\nvar arr = strona.split('.');\nvar name = '';\nif (arr[0]) name = arr[0];\nif (name == 'www') name = arr[1];\nnname = nname+name;\nvar filename = (nname+'_'+ntitle).replace(/\\//g,\"_\");\nmsg.filename = '/home/pi/red/db/rss/rss_'+filename+'.html';\n\nvar body = '<div class=\"article\">';\nbody += '<a href=\"'+link+'\"><h3>'+name+': '+title+' '+date+'</h3></a>';\nbody += '<div>'+summary+'</div>';\nbody += '</div>';\n\nmsg.payload = body;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":420,"wires":[["faa63c4e.cbd4e","18a50cbf.e17013"]]},{"id":"faa63c4e.cbd4e","type":"file","z":"183045cf.23b03a","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":630,"y":340,"wires":[]},{"id":"18a50cbf.e17013","type":"debug","z":"183045cf.23b03a","name":"","active":true,"console":"false","complete":"filename","x":650,"y":420,"wires":[]},{"id":"fb1eb248.7313a","type":"feedparse","z":"183045cf.23b03a","name":"UID Pilarka","url":"http://allegro.pl/rss.php/user?uid=45073488","interval":"55","x":100,"y":500,"wires":[["3aa4232f.ac5c6c"]]},{"id":"61e651f4.6c419","type":"feedparse","z":"183045cf.23b03a","name":"CAT Pilarki","url":"http://allegro.pl/rss.php/search?string=pilarka+akumulat%2A&category=147655&price_from=1&price_to=150&selected_country=1&search_type=1&postcode_enabled=1","interval":"45","x":100,"y":580,"wires":[["3aa4232f.ac5c6c"]]}]
