node-red/star.json
[{"id":"6aad29b9.755d88","type":"http in","z":"3cfe44ad.dd7a1c","name":"","url":"/star","method":"get","swaggerDoc":"","x":74,"y":82,"wires":[["90ac0750.4d2618"]]},{"id":"90ac0750.4d2618","type":"template","z":"3cfe44ad.dd7a1c","name":"star.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<html>\n<head>\n<title>path start 3</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"_/star.png\" id=\"shortcut-icon\">\n<link rel=\"stylesheet\" href=\"/cdn/star.css\">\n<script src=\"/cdn/interact.js\"></script>\n\n<script>\n'use strict';\nvar starBox    = {x:500, y:500, x0:-50, y0:-50, x1:450, y1:450};\nstarBox.mx     = starBox.x0/starBox.x;\nstarBox.my     = starBox.y0/starBox.y;\nvar screenBox  = {width:320, height:320};\n</script>\n\n\n</head>\n<body>\n\n<div id=\"star-demo\" style=\"\" class=\"box\">\n\t<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n\t<svg id=\"svg-edit-demo\" viewBox=\"-50 -50 500 500\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n\t<defs>\n\t\t<circle id=\"point-handle\"\n\t\t\tr=\"10\" x=\"0\" y=\"0\"\n\t\t\tstroke-width=\"4\"\n\t\t\tfill=\"#fff\"\n\t\t\tfill-opacity=\"0.4\"\n\t\t\tstroke=\"#fff\"/>\n\t</defs>\n\t<polygon id=\"edit-star\"\n\t\tstroke=\"#29e\"\n\t\tstroke-width=\"20\"\n\t\tstroke-linejoin=\"round\"\n\t\tfill=\"none\"\n\t\tpoints=\"200,34 238,148 358,149 261,220 298,335 200,264 102,335 139,220 42,149 162,148\"\n\t/>\n\t</svg>\n</div>\n\n<dl id=\"info\"></dl>\n\n\n<script src=\"/cdn/star.js\"></script>\n\n</body>\n</html>","x":371,"y":81,"wires":[["56dbbd67.af5114","77406a15.7676d4"]]},{"id":"56dbbd67.af5114","type":"http response","z":"3cfe44ad.dd7a1c","name":"","x":645,"y":80,"wires":[]},{"id":"77406a15.7676d4","type":"debug","z":"3cfe44ad.dd7a1c","name":"po nic ---","active":false,"console":"false","complete":"payload","x":612,"y":119,"wires":[]},{"id":"3365ad34.a18f02","type":"template","z":"3cfe44ad.dd7a1c","name":"sliders.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<html>\n<head>\n<title>Sliders-interact</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"_/star.png\" id=\"shortcut-icon\">\n<style>\n/* the slider bar */\n.slider {\n  position: relative;\n  width: 100%;\n  height: 1em;\n  margin: 1.5em auto;\n  background-color: #29e;\n  border-radius: 0.5em;\n  box-sizing: border-box;\n  \n  font-size: 8vmin;\n  \n  -ms-touch-action: none;\n      touch-action: none;\n}\n\n/* the slider handle */\n.slider:before {\n  content: \"\";\n  display: block;\n  position: relative;\n  top: -0.5em;\n\n  width: 2em;\n  height: 2em;\n  margin-left: -1em;\n  border: solid 0.25em #fff;\n  border-radius: 1em;\n  background-color: inherit;\n\n  box-sizing: border-box;\n}\n\n/* display the value */\n.slider:after {\n  content: attr(data-value);\n  position: absolute;\n  top: -1.5em;\n  width: 2em;\n  line-height:1em;\n  margin-left: -1em;\n  text-align: center;\n}\n\nbody { margin: 5% 10%; }    \n    \n</style>\n<script src=\"/cdn/interact.js\"></script>\n\n<script>\ninteract('.slider')                   // target the matches of that selector\n  .origin('self')                     // (0, 0) will be the element's top-left\n  .restrict({drag: 'self'})           // keep the drag within the element\n  .inertia(true)                      // start inertial movement if thrown\n  .draggable({                        // make the element fire drag events\n    max: Infinity                     // allow drags on multiple elements\n  })\n  .on('dragmove', function (event) {  // call this function on every move\n    var sliderWidth = interact.getElementRect(event.target.parentNode).width,\n        value = event.pageX / sliderWidth;\n\n    event.target.style.paddingLeft = (value * 100) + '%';\n    event.target.setAttribute('data-value', value.toFixed(2));\n  });\n\ninteract.maxInteractions(Infinity);   // Allow multiple interactions\n</script>\n\n\n</head>\n<body>\n\n<div class=\"slider\"></div>\n<div class=\"slider\"></div>\n<div class=\"slider\"></div>\n\n</body>\n</html>","x":372,"y":164,"wires":[["2cc766d9.b0ccba","77406a15.7676d4"]]},{"id":"d9eb669e.7b4068","type":"template","z":"3cfe44ad.dd7a1c","name":"drag.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<html>\n<head>\n<title>interact drag&drop</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"_/star.png\" id=\"shortcut-icon\">\n<style>\nsvg {\n  width: 100%;\n  height: 240px;\n  background-color: #2e9;\n  \n  -ms-touch-action: none;\n      touch-action: none;\n}\n.edit-rectangle {\n  fill: #92e;\n  stroke: #fff;\n}\nbody { margin: 0; }   \n</style>\n\n<script src=\"/cdn/interact.js\"></script>\n\n</head>\n<body>\n\n<svg></svg>\n\n<script>\n\n\nvar svgCanvas = document.querySelector('svg'),\n    svgNS = 'http://www.w3.org/2000/svg',\n    rectangles = [];\n    \nconsole.log(svgCanvas);\n\n\nfunction Rectangle (x, y, w, h, svgCanvas) {\n  this.x = x;\n  this.y = y;\n  this.w = w;\n  this.h = h;\n  this.stroke = 5;\n  this.el = document.createElementNS(svgNS, 'rect');\n  \n  this.el.setAttribute('data-index', rectangles.length);\n  this.el.setAttribute('class', 'edit-rectangle');\n  rectangles.push(this);\n\n  this.draw();\n  svgCanvas.appendChild(this.el);\n}\n\nRectangle.prototype.draw = function () {\n  this.el.setAttribute('x', this.x + this.stroke / 2);\n  this.el.setAttribute('y', this.y + this.stroke / 2);\n  this.el.setAttribute('width' , this.w - this.stroke);\n  this.el.setAttribute('height', this.h - this.stroke);\n  this.el.setAttribute('stroke-width', this.stroke);\n}\n\ninteract('.edit-rectangle')\n  // change how interact gets the\n  // dimensions of '.edit-rectangle' elements\n  .rectChecker(function (element) {\n    // find the Rectangle object that the element belongs to\n    var rectangle = rectangles[element.getAttribute('data-index')];\n\n    // return a suitable object for interact.js\n    return {\n      left  : rectangle.x,\n      top   : rectangle.y,\n      right : rectangle.x + rectangle.w,\n      bottom: rectangle.y + rectangle.h\n    };\n  })\n  .inertia({\n    // don't jump to the resume location\n    // https://github.com/taye/interact.js/issues/13\n    zeroResumeDelta: true\n  })\n  .restrict({\n    // restrict to a parent element that matches this CSS selector\n    drag: 'svg',\n    // only restrict before ending the drag\n    endOnly: true,\n    // consider the element's dimensions when restricting\n    elementRect: { top: 0, left: 0, bottom: 1, right: 1 }\n  })\n  .draggable({\n    max: Infinity,\n    onmove: function (event) {\n      var rectangle = rectangles[event.target.getAttribute('data-index')];\n\n      rectangle.x += event.dx;\n      rectangle.y += event.dy;\n      rectangle.draw();\n    }\n  })\n  .resizable({\n    max: Infinity,\n    onmove: function (event) {\n      var rectangle = rectangles[event.target.getAttribute('data-index')];\n\n      rectangle.w = Math.max(rectangle.w + event.dx, 10);\n      rectangle.h = Math.max(rectangle.h + event.dy, 10);\n      rectangle.draw();\n    }\n  });\n\ninteract.maxInteractions(Infinity);\n\nfor (var i = 0; i < 5; i++) {\n  new Rectangle(50 + 100 * i, 80, 80, 80, svgCanvas);\n}\n\n\n\n</script>\n\n\n</body>\n</html>","x":372,"y":244,"wires":[["f09a7f7e.9ff64","77406a15.7676d4"]]},{"id":"d7a36a54.50a658","type":"http in","z":"3cfe44ad.dd7a1c","name":"","url":"/sliders","method":"get","swaggerDoc":"","x":75,"y":165,"wires":[["3365ad34.a18f02"]]},{"id":"2cc766d9.b0ccba","type":"http response","z":"3cfe44ad.dd7a1c","name":"","x":636,"y":163,"wires":[]},{"id":"f09a7f7e.9ff64","type":"http response","z":"3cfe44ad.dd7a1c","name":"","x":636,"y":243,"wires":[]},{"id":"1d765296.414ecd","type":"http in","z":"3cfe44ad.dd7a1c","name":"","url":"/drag","method":"get","swaggerDoc":"","x":75,"y":245,"wires":[["d9eb669e.7b4068"]]}]
