node-red/star.json
[{"id":"f1f11609.c43a18","type":"template","z":"1055d825.2d5978","name":"Menu-red","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<html>\n<head>\n<title>Menu-red</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"_/star.png\" id=\"shortcut-icon\">\n<link rel=\"stylesheet\" href=\"/cdn/style.css\">\n<style>\n    body {margin:2rem;}\n    \n</style>\n</head>\n<body>\n<p><a href=\"/star\"     target=\"_blank\">Star</a></p>\n<p><a href=\"/sliders\"  target=\"_blank\">Sliders</a></p>\n<p><a href=\"/drag\"     target=\"_blank\">Drag</a></p>\n<p><a href=\"/dragula\"  target=\"_blank\">Dragula</a></p>\n\n</body>\n</html>","x":380,"y":40,"wires":[["936634cf.c76328"]]},{"id":"aa708c69.0ccf5","type":"http in","z":"1055d825.2d5978","name":"","url":"/menu","method":"get","swaggerDoc":"","x":93,"y":41,"wires":[["f1f11609.c43a18"]]},{"id":"936634cf.c76328","type":"http response","z":"1055d825.2d5978","name":"","x":645,"y":262,"wires":[]},{"id":"1f21ed2d.558d63","type":"template","z":"1055d825.2d5978","name":"drag.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<html>\n<head>\n<title>interact drag&drop</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"_/star.png\" id=\"shortcut-icon\">\n<style>\nsvg {\n  width: 100%;\n  height: 240px;\n  background-color: #2e9;\n  \n  -ms-touch-action: none;\n      touch-action: none;\n}\n.edit-rectangle {\n  fill: #92e;\n  stroke: #fff;\n}\nbody { margin: 0; }   \n</style>\n\n<script src=\"/cdn/interact.js\"></script>\n\n</head>\n<body>\n\n<svg></svg>\n\n<script>\n\n\nvar svgCanvas = document.querySelector('svg'),\n    svgNS = 'http://www.w3.org/2000/svg',\n    rectangles = [];\n    \nconsole.log(svgCanvas);\n\n\nfunction Rectangle (x, y, w, h, svgCanvas) {\n  this.x = x;\n  this.y = y;\n  this.w = w;\n  this.h = h;\n  this.stroke = 5;\n  this.el = document.createElementNS(svgNS, 'rect');\n  \n  this.el.setAttribute('data-index', rectangles.length);\n  this.el.setAttribute('class', 'edit-rectangle');\n  rectangles.push(this);\n\n  this.draw();\n  svgCanvas.appendChild(this.el);\n}\n\nRectangle.prototype.draw = function () {\n  this.el.setAttribute('x', this.x + this.stroke / 2);\n  this.el.setAttribute('y', this.y + this.stroke / 2);\n  this.el.setAttribute('width' , this.w - this.stroke);\n  this.el.setAttribute('height', this.h - this.stroke);\n  this.el.setAttribute('stroke-width', this.stroke);\n}\n\ninteract('.edit-rectangle')\n  // change how interact gets the\n  // dimensions of '.edit-rectangle' elements\n  .rectChecker(function (element) {\n    // find the Rectangle object that the element belongs to\n    var rectangle = rectangles[element.getAttribute('data-index')];\n\n    // return a suitable object for interact.js\n    return {\n      left  : rectangle.x,\n      top   : rectangle.y,\n      right : rectangle.x + rectangle.w,\n      bottom: rectangle.y + rectangle.h\n    };\n  })\n  .inertia({\n    // don't jump to the resume location\n    // https://github.com/taye/interact.js/issues/13\n    zeroResumeDelta: true\n  })\n  .restrict({\n    // restrict to a parent element that matches this CSS selector\n    drag: 'svg',\n    // only restrict before ending the drag\n    endOnly: true,\n    // consider the element's dimensions when restricting\n    elementRect: { top: 0, left: 0, bottom: 1, right: 1 }\n  })\n  .draggable({\n    max: Infinity,\n    onmove: function (event) {\n      var rectangle = rectangles[event.target.getAttribute('data-index')];\n\n      rectangle.x += event.dx;\n      rectangle.y += event.dy;\n      rectangle.draw();\n    }\n  })\n  .resizable({\n    max: Infinity,\n    onmove: function (event) {\n      var rectangle = rectangles[event.target.getAttribute('data-index')];\n\n      rectangle.w = Math.max(rectangle.w + event.dx, 10);\n      rectangle.h = Math.max(rectangle.h + event.dy, 10);\n      rectangle.draw();\n    }\n  });\n\ninteract.maxInteractions(Infinity);\n\nfor (var i = 0; i < 5; i++) {\n  new Rectangle(50 + 100 * i, 80, 80, 80, svgCanvas);\n}\n\n\n\n</script>\n\n\n</body>\n</html>","x":381,"y":263,"wires":[["936634cf.c76328"]]},{"id":"a1cc8ae4.dd7dd8","type":"template","z":"1055d825.2d5978","name":"dragula.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n<title>interact drag&drop</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"/cdn/favicon.png\" id=\"shortcut-icon\">\n<link rel=\"stylesheet\" href=\"/cdn/dragula.css\">\n</head>\n<body>\n\n\n<img src=\"/cdn/favicon.png\" />\n<!--img src=\"/cdn/img\" id=\"obraz\" /-->\n<img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACABAMAAAAxEHz4AAAAHlBMVEUAAAB/cD8kb5oAUMAPb68QPz8ZTEl6za8PQ0iQ4K/Jlu1iAAAACnRSTlMA5vqZzOb+9frMRv5g1wAAAH5JREFUaN7t17EJgDAQQFEdwRVcwQ0kK+gGOoHgCpa2buuRAytTiAdezP+kzSPXBK4igwYNAMAb0D0KAAAAwBqw/xPrJh2AQ2DWDmnPFRgnOXmPEGd4/4JVWsJV36YLEgAAAAAAAIBjYNPiNYByge/3BQAAAAAAAIDb/gdQYZ1EPKhhVp693AAAAABJRU5ErkJggg==\" />\n<img src=\"\" id=\"obraz\" />\n<script>\n/*\n var image = document.createElement(\"img\");\n    image.src = \"http://82.145.73.33:8888/canvas/?img=abcd\"; \n    console.log(image.src);\n    document.getElementById('obraz').src=image.src;\n*/\n</script>\n\n<div class='examples'>\n\n \n  \n  <div class='parent'>\n   \n    <div class='wrapper'>\n      <div id='left-copy-1tomany' class='container'>\n        <div>When elements are copyable, they can't be sorted in their origin container</div>\n        <div>Copying prevents original elements from being dragged. A copy gets created and <em>that</em> gets dragged instead</div>\n        <div>Whenever that happens, a <code>cloned</code> event is raised</div>\n        <div>Note that the clones get destroyed if they're not dropped into another container</div>\n        <div>You'll be dragging a copy, so when they're dropped into another container you'll see the duplication.</div>\n      </div>\n      <div id='right-copy-1tomany' class='container'>\n      </div>\n    </div>\n  </div>\n  \n \n \n  \n</div>\n\n\n<script src=\"/cdn/dragula.min.js\"></script>\n\n<script>\n\n\tfunction $(id){return document.getElementById(id);}\n\n\tdragula([$('left-copy-1tomany'), $('right-copy-1tomany')], {\n\t\tcopy: function (el, source) {\n\t\t\treturn source === $('left-copy-1tomany');\n\t\t},\n\t\taccepts: function (el, target) {\n\t\t\treturn target !== $('left-copy-1tomany');\n\t\t}\n\t});\n\n\nvar u='/cdn/favicon.png';\t\t\nfetch(u).then(function(response){return response.text()})\n.then(function(tx) {\n\tconsole.log(68,tx);\n\tdocument.getElementById('obraz').src=tx;\n\tdocument.getElementById('shortcut-icon').href=tx;\n\t\n}).catch(function(e){console.log(\"ERR:\",String(e.name),String(e.message));})\t\n\n\n</script>\n","x":390,"y":340,"wires":[["936634cf.c76328"]]},{"id":"e075d667.40f078","type":"template","z":"1055d825.2d5978","name":"sliders.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<html>\n<head>\n<title>Sliders-interact</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"_/star.png\" id=\"shortcut-icon\">\n<style>\n/* the slider bar */\n.slider {\n  position: relative;\n  width: 100%;\n  height: 1em;\n  margin: 1.5em auto;\n  background-color: #29e;\n  border-radius: 0.5em;\n  box-sizing: border-box;\n  \n  font-size: 8vmin;\n  \n  -ms-touch-action: none;\n      touch-action: none;\n}\n\n/* the slider handle */\n.slider:before {\n  content: \"\";\n  display: block;\n  position: relative;\n  top: -0.5em;\n\n  width: 2em;\n  height: 2em;\n  margin-left: -1em;\n  border: solid 0.25em #fff;\n  border-radius: 1em;\n  background-color: inherit;\n\n  box-sizing: border-box;\n}\n\n/* display the value */\n.slider:after {\n  content: attr(data-value);\n  position: absolute;\n  top: -1.5em;\n  width: 2em;\n  line-height:1em;\n  margin-left: -1em;\n  text-align: center;\n}\n\nbody { margin: 5% 10%; }    \n    \n</style>\n<script src=\"/cdn/interact.js\"></script>\n\n<script>\ninteract('.slider')                   // target the matches of that selector\n  .origin('self')                     // (0, 0) will be the element's top-left\n  .restrict({drag: 'self'})           // keep the drag within the element\n  .inertia(true)                      // start inertial movement if thrown\n  .draggable({                        // make the element fire drag events\n    max: Infinity                     // allow drags on multiple elements\n  })\n  .on('dragmove', function (event) {  // call this function on every move\n    var sliderWidth = interact.getElementRect(event.target.parentNode).width,\n        value = event.pageX / sliderWidth;\n\n    event.target.style.paddingLeft = (value * 100) + '%';\n    event.target.setAttribute('data-value', value.toFixed(2));\n  });\n\ninteract.maxInteractions(Infinity);   // Allow multiple interactions\n</script>\n\n\n</head>\n<body>\n\n<div class=\"slider\"></div>\n<div class=\"slider\"></div>\n<div class=\"slider\"></div>\n\n</body>\n</html>","x":381,"y":183,"wires":[["936634cf.c76328"]]},{"id":"11dc7478.cf85ec","type":"template","z":"1055d825.2d5978","name":"star.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<html>\n<head>\n<title>path start 3</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"_/star.png\" id=\"shortcut-icon\">\n<link rel=\"stylesheet\" href=\"/cdn/star.css\">\n<script src=\"/cdn/interact.js\"></script>\n\n<script>\n'use strict';\nvar starBox    = {x:500, y:500, x0:-50, y0:-50, x1:450, y1:450};\nstarBox.mx     = starBox.x0/starBox.x;\nstarBox.my     = starBox.y0/starBox.y;\nvar screenBox  = {width:320, height:320};\n</script>\n\n\n</head>\n<body>\n\n<div id=\"star-demo\" style=\"\" class=\"box\">\n\t<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n\t<svg id=\"svg-edit-demo\" viewBox=\"-50 -50 500 500\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n\t<defs>\n\t\t<circle id=\"point-handle\"\n\t\t\tr=\"10\" x=\"0\" y=\"0\"\n\t\t\tstroke-width=\"4\"\n\t\t\tfill=\"#fff\"\n\t\t\tfill-opacity=\"0.4\"\n\t\t\tstroke=\"#fff\"/>\n\t</defs>\n\t<polygon id=\"edit-star\"\n\t\tstroke=\"#29e\"\n\t\tstroke-width=\"20\"\n\t\tstroke-linejoin=\"round\"\n\t\tfill=\"none\"\n\t\tpoints=\"200,34 238,148 358,149 261,220 298,335 200,264 102,335 139,220 42,149 162,148\"\n\t/>\n\t</svg>\n</div>\n\n<dl id=\"info\"></dl>\n\n\n<script src=\"/cdn/star.js\"></script>\n\n</body>\n</html>","x":380,"y":100,"wires":[["936634cf.c76328"]]},{"id":"96023898.0ffb28","type":"http in","z":"1055d825.2d5978","name":"","url":"/drag","method":"get","swaggerDoc":"","x":84,"y":264,"wires":[["1f21ed2d.558d63"]]},{"id":"40e4c1cb.e7c67","type":"http in","z":"1055d825.2d5978","name":"","url":"/dragula","method":"get","swaggerDoc":"","x":93,"y":341,"wires":[["a1cc8ae4.dd7dd8"]]},{"id":"51acdcca.afc054","type":"http in","z":"1055d825.2d5978","name":"","url":"/sliders","method":"get","swaggerDoc":"","x":93,"y":181,"wires":[["e075d667.40f078"]]},{"id":"a8e4bfd7.7d3e5","type":"http in","z":"1055d825.2d5978","name":"","url":"/star","method":"get","swaggerDoc":"","x":83,"y":101,"wires":[["11dc7478.cf85ec"]]}]
