node-red/star.json
[{"id":"6aad29b9.755d88","type":"http in","z":"3cfe44ad.dd7a1c","name":"","url":"/star","method":"get","swaggerDoc":"","x":74,"y":82,"wires":[["90ac0750.4d2618"]]},{"id":"90ac0750.4d2618","type":"template","z":"3cfe44ad.dd7a1c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<html>\n<head>\n<title>path start 3</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"_/star.png\" id=\"shortcut-icon\">\n<link rel=\"stylesheet\" href=\"/cdn/star.css\">\n<script src=\"/cdn/interact.min.js\"></script>\n\n<script>\n'use strict';\nvar starBox    = {x:500, y:500, x0:-50, y0:-50, x1:450, y1:450};\nstarBox.mx     = starBox.x0/starBox.x;\nstarBox.my     = starBox.y0/starBox.y;\nvar screenBox  = {width:320, height:320};\n</script>\n\n\n</head>\n<body>\n\n<div id=\"star-demo\" style=\"\" class=\"box\">\n\t<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n\t<svg id=\"svg-edit-demo\" viewBox=\"-50 -50 500 500\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n\t<defs>\n\t\t<circle id=\"point-handle\"\n\t\t\tr=\"10\" x=\"0\" y=\"0\"\n\t\t\tstroke-width=\"4\"\n\t\t\tfill=\"#fff\"\n\t\t\tfill-opacity=\"0.4\"\n\t\t\tstroke=\"#fff\"/>\n\t</defs>\n\t<polygon id=\"edit-star\"\n\t\tstroke=\"#29e\"\n\t\tstroke-width=\"20\"\n\t\tstroke-linejoin=\"round\"\n\t\tfill=\"none\"\n\t\tpoints=\"200,34 238,148 358,149 261,220 298,335 200,264 102,335 139,220 42,149 162,148\"\n\t/>\n\t</svg>\n</div>\n\n<dl id=\"info\"></dl>\n\n\n<script src=\"/cdn/star.js\"></script>\n\n</body>\n</html>","x":361,"y":81,"wires":[["56dbbd67.af5114"]]},{"id":"56dbbd67.af5114","type":"http response","z":"3cfe44ad.dd7a1c","name":"","x":645,"y":80,"wires":[]}]
