node-red/suwacz.json
[{"id":"36d53b71.71e184","type":"inject","z":"1b8010e1.5a65cf","name":"Start 10s","topic":"","payload":"10000","payloadType":"num","repeat":"","crontab":"","once":false,"x":120,"y":140,"wires":[["20454ed8.94e9f2"]]},{"id":"20454ed8.94e9f2","type":"function","z":"1b8010e1.5a65cf","name":"Suwak","func":"global.set(\"akcja\",msg.payload); \n\nvar czasPracy = msg.payload;\nvar okres     = 150; // [ms]\n\n\nvar kierunek  = 1;  // +1 or -1\nvar licznik   = 0;\nvar uchwyt    = null;\n\nString.prototype.pad = function()  {return (\"00000000\" + this).slice(-8);}\n\nfunction suwacz() {\n    if (global.get(\"akcja\")){\n        uchwyt = setTimeout(function(){\n            if (licznik > 7) {\n                licznik=0;\n                val=0;\n                kierunek = kierunek * -1;\n            }\n            var val = 0;\n            if (kierunek===1 ) val =  1   << licznik;\n            if (kierunek===-1) val =  128 >> licznik;\n            licznik++;\n    \t\tvar out = val.toString(2).pad();\n    \t\tnode.send([{payload:val},{payload:out}]);\n            suwacz();\n        }, okres);\n    }\n}\n\nsuwacz();\n\nsetTimeout(function(){\n\tclearTimeout(uchwyt);\n},czasPracy);\n\n//return msg;","outputs":2,"noerr":0,"x":350,"y":100,"wires":[["a427bd75.23bca"],["825900dc.32095","9ed469ab.638028"]]},{"id":"a427bd75.23bca","type":"debug","z":"1b8010e1.5a65cf","name":"Number","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":60,"wires":[]},{"id":"1630789a.3d0b47","type":"inject","z":"1b8010e1.5a65cf","name":"Long start","topic":"","payload":"3600000","payloadType":"num","repeat":"","crontab":"","once":false,"x":120,"y":60,"wires":[["20454ed8.94e9f2"]]},{"id":"366e048a.10702c","type":"inject","z":"1b8010e1.5a65cf","name":"STOP","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":260,"wires":[["20454ed8.94e9f2"]]},{"id":"4c5b5642.8ec8b8","type":"http in","z":"1b8010e1.5a65cf","name":"","url":"/suwacz","method":"get","upload":false,"swaggerDoc":"","x":370,"y":340,"wires":[["7bcc6c92.407ae4"]]},{"id":"fc8d25cf.643778","type":"http response","z":"1b8010e1.5a65cf","name":"","x":850,"y":340,"wires":[]},{"id":"4a117784.7d2dd8","type":"websocket in","z":"1b8010e1.5a65cf","name":"bitSuwacz","server":"89a21a07.67ec68","client":"","x":380,"y":240,"wires":[[]]},{"id":"9ed469ab.638028","type":"function","z":"1b8010e1.5a65cf","name":"no sess","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":620,"y":240,"wires":[["cec08ef0.639b"]]},{"id":"cec08ef0.639b","type":"websocket out","z":"1b8010e1.5a65cf","name":"","server":"89a21a07.67ec68","client":"","x":820,"y":240,"wires":[]},{"id":"7bcc6c92.407ae4","type":"template","z":"1b8010e1.5a65cf","name":"HTML-suwacz","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<html>\n<head>\n<title>Suwacz</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACAAgMAAAC+UIlYAAAADFBMVEX/AAA6AMUAAP9HcEzdT1VqAAAABHRSTlOz6LMA1E37jQAAAEJJREFUeF7tyqENACAMRcFuwHQYRqxhtW5QXBGILzCEvNNnKegQdmofBgKBQOhleJm3gUAgEAhZfHsrEAgEAkGQYQHN/HVbVc8OSwAAAABJRU5ErkJggg==\" id=\"shortcut-icon\">\n\n<style>\n\tbody {font-size:16px; font-family:Verdana; margin:1rem; padding:0;background:#444; color:white;}\n\t.box{ font-size:2rem;letter-spacing: 0.86rem;}\n\t#blok span{float:left; width:2rem; height:2rem; background:#222; border:1px solid white;font-size:2rem;border-radius:1rem;}\n</style>\n</head>\n<body>\n    \n<div class=\"\" id=\"info\"></div>\n<div class=\"box\" id=\"box\"></div>\n<div class=\"\" id=\"blok\">\n    \n\t<span id=\"10000000\"></span>\n\t<span id=\"01000000\"></span>\n\t<span id=\"00100000\"></span>\n\t<span id=\"00010000\"></span>\n\t<span id=\"00001000\"></span>\n\t<span id=\"00000100\"></span>\n\t<span id=\"00000010\"></span>\n\t<span id=\"00000001\"></span>\n\n</div>\n\n\n<script>\n\n    function $(id){return document.getElementById(id);}\n    const $$=(y)=>document.querySelectorAll(y);\n\n    function writeStatus(x,y,tx){\n        $('info').innerHTML = tx;\n        //console.log(scale,x,y,tx)\n        //sendXY(x,y);\n    }\n\n\n\n\nvar wsUri = \"ws://{{req.headers.host}}/ws/suwacz\";\nvar ws = new WebSocket(wsUri);\n\n\n\n\n    function sendXY(x,y) {\n        //ws.send(JSON.stringify({x:x,y:y}));\n    }\n    \n    ws.onopen = function(ev) {\n        writeStatus(null,null,'[Connected]');\n    };\n    \n    ws.onclose = function(ev) {\n        writeStatus(null,null,'[Disconnected]');\n    }\n\n    ws.onmessage = function(ev) {\n        $$('#blok span').forEach(function(b){\n            b.style.background=\"#222\";\n        })\n        //console.log(ev.data);\n        $('box').innerHTML = ev.data;\n        $(ev.data).style.background=\"#f4f4f4\";\n        return;\n    }\n \n</script>\n\n</body>\n</html>\n","x":600,"y":340,"wires":[["fc8d25cf.643778"]]},{"id":"825900dc.32095","type":"debug","z":"1b8010e1.5a65cf","name":"String bits","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":120,"wires":[]},{"id":"89a21a07.67ec68","type":"websocket-listener","z":"","path":"/ws/suwacz","wholemsg":"false"}]
