node-red/suwacz.json
[{"id":"dbb9276d.f00148","type":"inject","z":"eba3352b.cc4be8","name":"Start 10s","topic":"","payload":"10000","payloadType":"num","repeat":"","crontab":"","once":false,"x":180,"y":200,"wires":[["9b8b8bdb.9fd6a8"]]},{"id":"9b8b8bdb.9fd6a8","type":"function","z":"eba3352b.cc4be8","name":"Suwak","func":"global.set(\"akcja\",msg.payload); \n\nvar czasPracy = msg.payload;\nvar okres     = 150; // 100 ms\nvar kierunek  = 1;  // +1 or -1\nvar licznik   = 0;\nvar uchwyt    = null;\n\nString.prototype.pad = function()  {return (\"00000000\" + this).slice(-8);}\n\nfunction suwacz() {\n    //console.log(global.get(\"akcja\"));\n    if (global.get(\"akcja\")){\n        uchwyt = setTimeout(function(){\n            if (licznik > 7) {\n                licznik=0;\n                val=0;\n                kierunek = kierunek * -1;\n            }\n            var val = 0;\n            if (kierunek===1 ) val =  1   << licznik;\n            if (kierunek===-1) val =  128 >> licznik;\n            licznik++;\n    \t\tvar out = val.toString(2).pad();\n    \t\tnode.send({payload:out});\n    \t\t//node.send({payload:val});\n            suwacz();\n        }, okres);\n    }\n}\n\nsuwacz();\n\nsetTimeout(function(){\n\tclearTimeout(uchwyt);\n\t//node.send({payload:'00000000'});\n},czasPracy);\n\n//return msg;","outputs":1,"noerr":0,"x":385.9999885559082,"y":175.99995803833008,"wires":[["d22d41de.12edb","e71dee49.f7f51","a82fe784.d35398"]]},{"id":"d22d41de.12edb","type":"debug","z":"eba3352b.cc4be8","name":"","active":false,"console":"false","complete":"false","x":603.0000457763672,"y":173.99995803833008,"wires":[]},{"id":"2b79f7d8.ff2518","type":"inject","z":"eba3352b.cc4be8","name":"Start 5s","topic":"","payload":"5000","payloadType":"num","repeat":"","crontab":"","once":false,"x":171.89998626708984,"y":143.99996089935303,"wires":[["9b8b8bdb.9fd6a8"]]},{"id":"c9721e97.f819e","type":"inject","z":"eba3352b.cc4be8","name":"One shot","topic":"","payload":"1800","payloadType":"num","repeat":"","crontab":"","once":false,"x":179.89998626708984,"y":43.99996376037598,"wires":[["9b8b8bdb.9fd6a8"]]},{"id":"717d1b5f.29d234","type":"inject","z":"eba3352b.cc4be8","name":"Two shot","topic":"","payload":"3500","payloadType":"num","repeat":"","crontab":"","once":false,"x":179.89998245239258,"y":93.99995994567871,"wires":[["9b8b8bdb.9fd6a8"]]},{"id":"7eec9d92.fffd14","type":"inject","z":"eba3352b.cc4be8","name":"Long start","topic":"","payload":"3600000","payloadType":"num","repeat":"","crontab":"","once":false,"x":160,"y":320,"wires":[["9b8b8bdb.9fd6a8"]]},{"id":"e71dee49.f7f51","type":"ui_text","z":"eba3352b.cc4be8","group":"233cb023.b4479","order":3,"width":"0","height":"0","name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":613.8999710083008,"y":258.999942779541,"wires":[]},{"id":"b44b534d.76593","type":"inject","z":"eba3352b.cc4be8","name":"STOP on 0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":173.8999786376953,"y":419.99995517730713,"wires":[["9b8b8bdb.9fd6a8"]]},{"id":"4cbec8fa.f96278","type":"inject","z":"eba3352b.cc4be8","name":"STOP on false","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":187.8999786376953,"y":466.99995613098145,"wires":[["9b8b8bdb.9fd6a8"]]},{"id":"b1be6de0.543cb","type":"http in","z":"eba3352b.cc4be8","name":"","url":"/suwacz","method":"get","upload":false,"swaggerDoc":"","x":330,"y":680,"wires":[["cb5bda67.228ef8"]]},{"id":"3b002938.b4f8c6","type":"http response","z":"eba3352b.cc4be8","name":"","x":810,"y":720,"wires":[]},{"id":"2398edc3.2b8c92","type":"websocket in","z":"eba3352b.cc4be8","name":"bitSuwacz","server":"f4311a67.883848","client":"","x":330,"y":620,"wires":[[]]},{"id":"a82fe784.d35398","type":"function","z":"eba3352b.cc4be8","name":"no sess","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":600,"y":620,"wires":[["1f91afe.c56c15"]]},{"id":"1f91afe.c56c15","type":"websocket out","z":"eba3352b.cc4be8","name":"","server":"f4311a67.883848","client":"","x":820,"y":620,"wires":[]},{"id":"b0b7bf02.ca483","type":"template","z":"eba3352b.cc4be8","name":"HTML-suwacz","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<html>\n<head>\n<title>Touch-move</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACAAgMAAAC+UIlYAAAADFBMVEX/AAA6AMUAAP9HcEzdT1VqAAAABHRSTlOz6LMA1E37jQAAAEJJREFUeF7tyqENACAMRcFuwHQYRqxhtW5QXBGILzCEvNNnKegQdmofBgKBQOhleJm3gUAgEAhZfHsrEAgEAkGQYQHN/HVbVc8OSwAAAABJRU5ErkJggg==\" id=\"shortcut-icon\">\n\n<style>\n\tbody {font-size:16px; font-family:Verdana; margin:1rem; padding:0;}\n\t.box{ font-size:2rem;}\n\t#blok span{float:left; width:2rem; height:2rem; background:#444; border:1px solid white;font-size:2rem;}\n</style>\n</head>\n<body>\n    \n<div class=\"\" id=\"info\"></div>\n<div class=\"box\" id=\"box\"></div>\n<div class=\"\" id=\"blok\">\n    \n    <span id=\"00000001\"></span>\n    <span id=\"00000010\"></span>\n    <span id=\"00000100\"></span>\n    <span id=\"00001000\"></span>\n    <span id=\"00010000\"></span>\n    <span id=\"00100000\"></span>\n    <span id=\"01000000\"></span>\n    <span id=\"10000000\"></span>\n</div>\n\n\n<script>\n\n    function $(id){return document.getElementById(id);}\n    const $$=(y)=>document.querySelectorAll(y);\n\n    function writeStatus(x,y,tx){\n        $('info').innerHTML = tx;\n        //console.log(scale,x,y,tx)\n        //sendXY(x,y);\n    }\n\n\n\n\nvar wsUri = \"ws://{{req.headers.host}}/ws/suwacz\";\nvar ws = new WebSocket(wsUri);\n\n\n\n\n    function sendXY(x,y) {\n        //ws.send(JSON.stringify({x:x,y:y}));\n    }\n    \n    ws.onopen = function(ev) {\n        writeStatus(null,null,'[Connected]');\n    };\n    \n    ws.onclose = function(ev) {\n        writeStatus(null,null,'[Disconnected]');\n    }\n\n    ws.onmessage = function(ev) {\n        $$('#blok span').forEach(function(b){\n            b.style.background=\"#444\";\n        })\n        //console.log(ev.data);\n        $('box').innerHTML = ev.data;\n        $(ev.data).style.background=\"#ddd\";\n        return;\n    }\n \n</script>\n\n</body>\n</html>\n","x":620,"y":720,"wires":[["3b002938.b4f8c6"]]},{"id":"cb5bda67.228ef8","type":"function","z":"eba3352b.cc4be8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":760,"wires":[["b0b7bf02.ca483"]]},{"id":"233cb023.b4479","type":"ui_group","z":"","name":"Polska","tab":"4b37f382.4d56cc","order":2,"disp":true,"width":"6"},{"id":"f4311a67.883848","type":"websocket-listener","z":"","path":"/ws/suwacz","wholemsg":"false"},{"id":"4b37f382.4d56cc","type":"ui_tab","z":"","name":"Informacje","icon":"dashboard","order":1}]
