node-red/suwacz.json
[{"id":"9d2cb355.b6ae4","type":"comment","z":"67cb59e.07d11a8","name":"V 2018-04-18","info":"","x":203.10000610351562,"y":115.00000286102295,"wires":[]},{"id":"b58bd2be.c6243","type":"inject","z":"67cb59e.07d11a8","name":"Start 10s","topic":"","payload":"10000","payloadType":"num","repeat":"","crontab":"","once":false,"x":188,"y":271,"wires":[["678cd3c6.dbce9c"]]},{"id":"678cd3c6.dbce9c","type":"function","z":"67cb59e.07d11a8","name":"Suwak","func":"global.set(\"akcja\",parseInt(msg.payload)); \n\nvar czasPracy = parseInt(msg.payload);\nvar okres     = 120; // [ms]\n\n\nvar kierunek  = 1;  // +1 or -1\nvar licznik   = 0;\nvar uchwyt    = null;\n\nString.prototype.pad = function()  {return (\"00000000\" + this).slice(-8);}\n\nfunction suwacz() {\n    if (global.get(\"akcja\")){\n        uchwyt = setTimeout(function(){\n            if (licznik > 7) {\n                licznik=0;\n                val=0;\n                kierunek = kierunek * -1;\n            }\n            var val = 0;\n            if (kierunek===1 ) val =  1   << licznik;\n            if (kierunek===-1) val =  128 >> licznik;\n            licznik++;\n    \t\tvar out = val.toString(2).pad();\n    \t\tnode.send([{payload:val},{payload:out}]);\n            suwacz();\n        }, okres);\n    }\n}\n\nsuwacz();\n\nsetTimeout(function(){\n\tclearTimeout(uchwyt);\n},czasPracy);\n\n//return msg;","outputs":2,"noerr":0,"x":418,"y":231,"wires":[["68ac5878.b68e18"],["fa9a964c.0eb248","d2766a00.7553f8"]]},{"id":"68ac5878.b68e18","type":"debug","z":"67cb59e.07d11a8","name":"Number","active":false,"console":false,"complete":"payload","x":628,"y":191,"wires":[]},{"id":"59afc738.f2cb78","type":"inject","z":"67cb59e.07d11a8","name":"Long start","topic":"","payload":"3600000","payloadType":"num","repeat":"","crontab":"","once":false,"x":188,"y":191,"wires":[["678cd3c6.dbce9c"]]},{"id":"306e3681.96642a","type":"inject","z":"67cb59e.07d11a8","name":"STOP","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":178,"y":391,"wires":[["678cd3c6.dbce9c"]]},{"id":"d77807fa.f16b18","type":"http in","z":"67cb59e.07d11a8","name":"","url":"/suwacz","method":"get","upload":false,"swaggerDoc":"","x":438,"y":471,"wires":[["a226ad9e.404bb"]]},{"id":"7f7f5324.c0c7cc","type":"http response","z":"67cb59e.07d11a8","name":"","x":918,"y":471,"wires":[]},{"id":"4e4724aa.66172c","type":"websocket in","z":"67cb59e.07d11a8","name":"bitSuwacz","server":"b5f7b100.4d01","client":"","x":234.00003051757812,"y":548.0000171661377,"wires":[["e2fa2597.12f1f8","678cd3c6.dbce9c"]]},{"id":"d2766a00.7553f8","type":"function","z":"67cb59e.07d11a8","name":"no sess","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":688,"y":371,"wires":[["c60f747d.119eb8"]]},{"id":"c60f747d.119eb8","type":"websocket out","z":"67cb59e.07d11a8","name":"","server":"b5f7b100.4d01","client":"","x":888,"y":371,"wires":[]},{"id":"a226ad9e.404bb","type":"template","z":"67cb59e.07d11a8","name":"HTML-suwacz","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<html>\n<head>\n<title>Suwacz</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAADACAMAAABlApw1AAAAmVBMVEX///+w0S6tzi2ZtS2TqzWVrzCjwSz19vGvuYSerGScuSzv8enm6NvV2sPIzq6ptXuTpkioxyygviz5+vbo6t7h5NPQ1brL0bTCyaS3wJOisG6XqFOUp0yTpkSSp0CYsy6Ysi6bty2ryyylxCyeuyzq7OHi5dalsnOSqDqTrDOqyiyeuizy8+zk59nZ3sm9xZ27w5m0vo+bql8KPu0DAAADK0lEQVR42uzZZ26kQBAF4Ho0eSKTSEMYPNnZ9z/c7mq18h9rZaCj1d8JQND1HgVZlmVZlmVZlmVZlmVZlvVTrKdpXpS167UsfjweH2PWem5dFnk6XZPuJruwdJnf4Qudz9wy3E1IW9v3vec7+C/H9/bvW9LQOazjDt/SxXV4Jq0E2fLgoAfnsMwC0sVmcUvQW3JbbEgH24g5GMRhkfrT8BzFGCGOnkmlpwvDSOzyRMq8eeDAeyM1ttUdXNyrLSkQxuAmDkm2TeWAI6fakFQZA2csI4mKBNwlBckSVBCiCkiK6Q2C3KYkwYxBGDYj4dIVBFqlJNjch1D+nISaP0Cwhzl9MvD6xd7BzocE/o4EeTlCiuMLCXFqIElzIgHWLqRx18TfHhLtibuFA4mcBf1m2gAVOUwnLSRrJ8TTEtItiaO8g3RdTtxMGRRgUzMnqIBZmiVQIsmIi8CFIm5gYITxj7NNA2WaDY0XQaGIRjsfoNDhbPYDACIzM4xjml2g2IVGmXhQzJvQGPkdit1zGqOGcjWNMFtBudWMhiuggcLEGsep0qU+NOCnpqbwP5HZbxDgBgbPoFFzKHSgBSc0Zxn0taWpPeizD2n8P+Y7/J3RR2DwISihjZIGWF+hjeua+ju10EZ7MjjGBkfZawJtJK9GbRQ57Rg/oJEPk4vE0DKh0RQFrtSfJh8Df7nUnzZV7g+P+mugkYb6+9XevZ0wDMNgFLahpZASKNkgkLfsv19n8FP0STor5GJb1n90zkCcY51tBmIb69wzEPdY55qBuCo+Af4b4P9C/DrAr8T8XojfjfLnAf5Exp+J+aoEXxfiK3N8bZSvTvv3A/wNDX9HFmcz8at6TxxlKTv2qr0SfLeK3y8U4x16fer2zIX4Dx175b5Rv3P3+f3Q+1u7e93PDww9weFnaPgUk58j45N8fpaST7P6eWI/0c1n6n2rge+V4M0evlvFt9v4fiHe8OQ7tnzLme+Z801/vmvRt136vlHf+Oo7d33rcQLvtG/+9t3rCez3/vyBBBMg/BkcCaagJJhDk2ASUIJZTBmmYWWYR5ZhIlzTNE3TNE3TNE1ThT9BIW+Ji6tqQAAAAABJRU5ErkJggg==\" id=\"shortcut-icon\">\n\n<style>\n\tbody {font-size:16px; font-family:monospace; margin:1rem; padding:0;background:#444; color:white;}\n\t.box {font-size:2rem; letter-spacing: 1.33rem; margin-left: 0.5rem; display:block;}\n\t#blok span{float:left; width:2rem; height:2rem; background:#fff; margin:0.2rem; font-size:2rem;border-radius:1rem;}\n</style>\n</head>\n<body>\n<div>\n    <button onClick=\"wyslij(0)\">Stop 0</button>\n    <button onClick=\"wyslij(5000)\">Start 5s</button>\n    <button onClick=\"wyslij(15000)\">Start 15s</button>\n    <button onClick=\"wyslij(3600000)\">Start 1h</button>\n</div>    \n<div class=\"\" id=\"info\"></div>\n<div class=\"box\" id=\"box\"></div>\n<div class=\"\" id=\"blok\">\n    \n\t<span id=\"10000000\"></span>\n\t<span id=\"01000000\"></span>\n\t<span id=\"00100000\"></span>\n\t<span id=\"00010000\"></span>\n\t<span id=\"00001000\"></span>\n\t<span id=\"00000100\"></span>\n\t<span id=\"00000010\"></span>\n\t<span id=\"00000001\"></span>\n\n</div>\n\n\n<script>\n\n    function $(id){return document.getElementById(id);}\n    const $$=(y)=>document.querySelectorAll(y);\n\n\nvar wsUri = \"ws://{{req.headers.host}}/ws/suwacz\";\nvar ws = new WebSocket(wsUri);\n\n    ws.onmessage = function(ev) {\n        $$('#blok span').forEach(function(b){\n            //b.style.background=\"#222\";\n            b.style.opacity=\"0.1\";\n        })\n        //console.log(ev.data);\n        $('box').innerHTML = ev.data;\n        //$(ev.data).style.background=\"#f4f4f4\";\n        $(ev.data).style.opacity=\"1\";\n        return;\n    }\n\n\n    function wyslij(x){\n       ws.send(x);\n    }\n\n    function sendXY(x,y) {\n        //ws.send(JSON.stringify({x:x,y:y}));\n    }\n    \n    ws.onopen = function(ev) {\n        writeStatus(null,null,'[Connected]');\n    };\n    \n    ws.onclose = function(ev) {\n        writeStatus(null,null,'[Disconnected]');\n    }\n\n    function writeStatus(x,y,tx){\n        $('info').innerHTML = tx;\n        //console.log(scale,x,y,tx)\n        //sendXY(x,y);\n    }\n \n</script>\n\n</body>\n</html>\n","x":668,"y":471,"wires":[["7f7f5324.c0c7cc"]]},{"id":"fa9a964c.0eb248","type":"debug","z":"67cb59e.07d11a8","name":"String bits","active":false,"console":false,"complete":"payload","x":628,"y":251,"wires":[]},{"id":"e2fa2597.12f1f8","type":"debug","z":"67cb59e.07d11a8","name":"","active":true,"console":"false","complete":"false","x":621.1000366210938,"y":546,"wires":[]},{"id":"b5f7b100.4d01","type":"websocket-listener","z":"","path":"/ws/suwacz","wholemsg":"false"}]
