node-red/ws.radio-chat.json
[{"id":"8372bad5.857448","type":"http in","z":"8a9d7bfa.5ad8d8","name":"","url":"/myapp","method":"get","swaggerDoc":"","x":130,"y":260,"wires":[["6b9a09c5.a95a48","17499dd8.0f3dd2"]]},{"id":"d5929a72.b07e88","type":"http response","z":"8a9d7bfa.5ad8d8","name":"","x":570,"y":260,"wires":[]},{"id":"c672e225.ca0a","type":"websocket in","z":"8a9d7bfa.5ad8d8","name":"","server":"a0ca4c0b.b3ae5","client":"","x":140,"y":160,"wires":[["31b94eb6.c412c2","76608f1e.ba561"]]},{"id":"31b94eb6.c412c2","type":"function","z":"8a9d7bfa.5ad8d8","name":"no sess","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["4d77c407.33a59c"]]},{"id":"4d77c407.33a59c","type":"websocket out","z":"8a9d7bfa.5ad8d8","name":"","server":"a0ca4c0b.b3ae5","client":"","x":540,"y":160,"wires":[]},{"id":"6b9a09c5.a95a48","type":"debug","z":"8a9d7bfa.5ad8d8","name":"","active":false,"console":"false","complete":"false","x":340,"y":240,"wires":[]},{"id":"76608f1e.ba561","type":"debug","z":"8a9d7bfa.5ad8d8","name":"","active":false,"console":"false","complete":"false","x":330,"y":80,"wires":[]},{"id":"17499dd8.0f3dd2","type":"template","z":"8a9d7bfa.5ad8d8","name":"CSS","field":"payload","fieldType":"msg","format":"css","syntax":"plain","template":"\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n\n","x":260,"y":380,"wires":[["42a0be50.dcd59","22fd855a.181b7a"]]},{"id":"42a0be50.dcd59","type":"template","z":"8a9d7bfa.5ad8d8","name":"HTML-sliders","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n    <meta name=\"mobile-web-app-capable\" content=\"yes\">\n    <link rel=\"shortcut icon\" sizes=\"16x16\" href=\"data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREAAAAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAAAAAAA\">\n    <title>myApp</title>\n    <link rel=\"shortcut icon\" href=\"data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREAAAAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAAAAAAA\"/>\n    <style type=\"text/css\">{{payload}}</style>\n  \n<script type=\"text/javascript\">\n//\"use strict\";\nfunction $(id){return document.getElementById(id);}\ndocument.addEventListener('DOMContentLoaded', function() {\n});\n\nvar wsUri = \"ws://{{req.headers.host}}/ws/myapp\";\nvar ws = new WebSocket(wsUri);\nvar color='red';\nvar radio = 1;\nvar slider=50;\n\n    function getSlider(val){\n        slider = val;\n        $('radio'+radio).textContent=slider;\n        ws.send(JSON.stringify({slider:slider,radio:radio,color:color}));\n        console.time('slide');\n    }\n    \n    function getRadio(that){\n        radio = that.value;\n        //console.log(radio);\n    }\n    \n    function sendColor(vcolor) {\n        color=vcolor;\n        ws.send(JSON.stringify({radio:radio,color:color}));\n    }\n    \n    \n    function sendMessage() {\n        var user = document.getElementById('user');\n        var message = document.getElementById('message');\n        var payload = {\n            message: message.value,\n            user: user.value,\n            ts: (new Date()).getTime()\n        };\n        ws.send(JSON.stringify(payload));\n        message.value = \"\";\n    }\n\n\n    function createSystemMessage(message) {\n        var message = document.createTextNode(message);\n        var messageBox = document.createElement('p');\n        messageBox.className = 'system';\n        messageBox.appendChild(message);\n        var chat = document.getElementById('chat_box');\n        chat.appendChild(messageBox);\n    }\n    \n    function createUserMessage(user, message) {\n        var user = document.createTextNode(user + ': ');\n        var userBox = document.createElement('span');\n        userBox.className = 'username';\n        userBox.appendChild(user);\n        var message = document.createTextNode(message);\n        var messageBox = document.createElement('p');\n        messageBox.appendChild(userBox);\n        messageBox.appendChild(message);\n        var chat = document.getElementById('chat_box');\n        chat.appendChild(messageBox);\n    }\n    \n    ws.onopen = function(ev) {\n        createSystemMessage('[Connected]');\n    };\n    \n    ws.onclose = function(ev) {\n        createSystemMessage('[Disconnected]');\n    }\n\n    ws.onmessage = function(ev) {\n        var payload = JSON.parse(ev.data);\n        //console.log('payload=',payload);\n        if (payload.message){\n            createUserMessage(payload.user, payload.message);\n            var chat = document.getElementById('chat_box');\n            chat.scrollTop = chat.scrollHeight;\n        }\n        if (payload.color){\n            $('field').style.background=payload.color;   \n            $('radio'+payload.radio).style.background=payload.color;   \n            $('slider_ret').value=payload.slider;\n            console.timeEnd('slide');\n            //console.log('payload=',payload.slider);\n        }\n    }\n\n</script>\n\n</head>\n\n<body>\n    \n    <div id=\"radiocheck\">\n        1<input type=\"radio\" name=\"auto\" value=1 onChange=\"getRadio(this)\" checked/> &nbsp;\n        2<input type=\"radio\" name=\"auto\" value=2 onChange=\"getRadio(this)\" /> &nbsp;\n        3<input type=\"radio\" name=\"auto\" value=3 onChange=\"getRadio(this)\" /> &nbsp;\n        \n    </div>\n    <div id=\"radios\">\n        <span id=\"radio1\">radio 1</span>\n        <span id=\"radio2\">radio 2</span>\n        <span id=\"radio3\">radio 3</span>\n    </div>\n    <div id=\"field\">\n        <button onClick=\"sendColor('#ff0000')\">Red</button>\n        <button onClick=\"sendColor('green')\">Green</button>\n        <button onClick=\"sendColor('blue')\">Blue</button>\n    </div>\n    <br />\n    \n    <div id=\"slider\">\n        <input type=\"range\" id=\"slider_1\" value=\"50\" min=\"0\" max=\"100\" onChange=\"getSlider(this.value)\" style=\"width:50%;min-width:240px;\" />\n    </div>\n    <br />\n    <div id=\"slider2\">\n        <input type=\"range\" id=\"slider_2\" value=\"50\" min=\"0\" max=\"100\" onInput=\"getSlider(this.value)\" style=\"width:50%;min-width:240px;\" />\n    </div>\n    <hr />\n    <div id=\"slideret\">\n        <input type=\"range\" id=\"slider_ret\" value=\"50\" min=\"0\" max=\"100\" onInput=\"getSlider(this.value)\" style=\"width:50%;min-width:240px;\" />\n    </div>\n    <br />\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n\n","x":410,"y":440,"wires":[[]]},{"id":"22fd855a.181b7a","type":"template","z":"8a9d7bfa.5ad8d8","name":"HTML-touch","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<html>\n<head>\n<title>Touch-move</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACAAgMAAAC+UIlYAAAADFBMVEX/AAA6AMUAAP9HcEzdT1VqAAAABHRSTlOz6LMA1E37jQAAAEJJREFUeF7tyqENACAMRcFuwHQYRqxhtW5QXBGILzCEvNNnKegQdmofBgKBQOhleJm3gUAgEAhZfHsrEAgEAkGQYQHN/HVbVc8OSwAAAABJRU5ErkJggg==\" id=\"shortcut-icon\">\n<style>\n\tbody {font-family:Verdana; margin:0; padding:0;}\n</style>\n\n<script>\nvar margines  = 0; \nvar szerokosc = 300;\nvar scale = szerokosc/100;\nvar statusdiv = null;\n\n\nfunction $(id){return document.getElementById(id);}\nvar arrow=$('arrow');\n\ndocument.addEventListener('DOMContentLoaded', function() {\n/* start of touch-move        */    \n    statusdiv = $('statusdiv');\n    $('container').style.width  = szerokosc+'px';\n    $('container').style.height = szerokosc+'px';\n    $('box1').style.width  = szerokosc+'px';\n    $('box1').style.height = szerokosc+'px';\n    \n    var box1 = document.getElementById('box1');\n    \n    var startx = 0;\n    var starty = 0;\n\n    function writeStatus(x,y,tx){\n        if (x && y){\n            x = Math.round(x/scale);\n            y = Math.round(y/scale);\n            //console.log(scale,x,y,tx)\n            statusdiv.innerHTML = x + ' / '+y+' px '+tx;\n            sendXY(x,y);\n        } else {\n            statusdiv.innerHTML = tx;\n        }\n    }\n\n\n    box1.addEventListener('touchstart', function(e){\n        var touchobj = e.changedTouches[0];\n        var startX = parseInt(touchobj.clientX);\n        var startY = parseInt(touchobj.clientY);\n        writeStatus(startX,startY,'Touchstart');\n        e.preventDefault();\n    }, false);\n \n    box1.addEventListener('touchmove', function(e){\n        var touchobj = e.changedTouches[0];\n        var X = parseInt(touchobj.clientX)-margines;// - startx;\n        var Y = parseInt(touchobj.clientY)-margines;// - starty;\n        X=X<0?0:X;\n        Y=Y<0?0:Y;\n        X=X>szerokosc?szerokosc:X;\n        Y=Y>szerokosc?szerokosc:Y;\n        writeStatus(X,Y,'Touchmove');\n        e.preventDefault();\n    }, false);\n\n\n    box1.addEventListener('touchend', function(e){\n        var touchobj = e.changedTouches[0];\n        var X = parseInt(touchobj.clientX);\n        var Y = parseInt(touchobj.clientY);\n        writeStatus(X,Y,'Touchend');\n        e.preventDefault();\n    }, false);\n    \n\n     box1.addEventListener('mousemove', function(e){\n        var touchobj = e;\n        var X = parseInt(touchobj.clientX)-margines;// - startx;\n        var Y = parseInt(touchobj.clientY)-margines;// - starty;\n        X=X<0?0:X;\n        Y=Y<0?0:Y;\n        X=X>szerokosc?szerokosc:X;\n        Y=Y>szerokosc?szerokosc:Y;\n        writeStatus(X,Y,'Mousemove');\n        e.preventDefault();\n    }, false);   \n    \n    \n/* end of touch-move        */\n\n\n/* start of socked        */\n/* ========================================================= */\n\n\nvar wsUri = \"ws://{{req.headers.host}}/ws/myapp\";\nvar ws = new WebSocket(wsUri);\nvar color='red';\nvar radio = 1;\nvar slider=50;\n\n\n    function sendXY(x,y) {\n        ws.send(JSON.stringify({x:x,y:y}));\n    }\n    \n    ws.onopen = function(ev) {\n        writeStatus(null,null,'[Connected]');\n    };\n    \n    ws.onclose = function(ev) {\n        writeStatus(null,null,'[Disconnected]');\n    }\nvar deg2rad = Math.PI/180;\nvar rad2deg = 180/Math.PI;\n\n    ws.onmessage = function(ev) {\n        var payload = JSON.parse(ev.data);\n        //console.log('payload=',payload);\n        var arrow = $('arrow');\n            //var deg = payload.x - 50;\n            var x = payload.x-50;\n            var y = 50 - payload.y;\n            var tanges = x/y;\n            var deg = Math.atan(tanges) * rad2deg;\n            //console.log(0,x,y,'tan='+tanges,'deg='+Math.round(deg))\n            if(y<0) deg -=180;\n            //console.log(1,x,y,'tan='+tanges,'deg='+Math.round(deg))\n        \n        var siz = 2*Math.round(Math.sqrt((x*x)+(y*y))) ;\n        arrow.style.fontSize = siz + 'px';\n        arrow.style.webkitTransform = \"rotate(\"+deg+\"deg)\";\n\n    }\n\n\n\n/* end of socked        */\n    \n}); \n\n \n</script>\n\n</head>\n<body>\n\t<div id=\"container\" style=\"position:relative; margin:0px; width:240px; height:240px;\" >\n\t\t<div class=\"box\" id=\"box1\" style=\"border:1px; position:absolute;top:0; left:0; width:240px; height:240px; background:#ddd;\">\n\t\t</div>\n\t</div>\n\t\n\t<h3 id=\"statusdiv\">Touch and move</h3>\n\t<div style=\"position:relative\">\n\t    <div id=\"arrow\" style=\"position:absolute; left:3rem; top:1rem; font-size:5rem; transform:rotate(0deg);\">&uarr;</div>\n    </div>\t    \n\t\n\t\n</body>\n</html>\n","x":410,"y":320,"wires":[["d5929a72.b07e88"]]},{"id":"a0ca4c0b.b3ae5","type":"websocket-listener","z":"","path":"/ws/myapp","wholemsg":"false"}]
