node-red/ws.radio-chat.json
[{"id":"4ffa104c.583f6","type":"http in","z":"66314fa.7e674b","name":"","url":"/myapp","method":"get","swaggerDoc":"","x":90,"y":260,"wires":[["6d15f0c6.6ee75","48c0b21f.e730ac"]]},{"id":"5f847204.30cb2c","type":"http response","z":"66314fa.7e674b","name":"","x":530,"y":260,"wires":[]},{"id":"a86bca5d.5f8038","type":"websocket in","z":"66314fa.7e674b","name":"","server":"7c9a18e2.88dca8","client":"","x":100,"y":160,"wires":[["4d7cad1a.1e4614","c4d2c040.3ecde"]]},{"id":"4d7cad1a.1e4614","type":"function","z":"66314fa.7e674b","name":"no sess","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["cce9094a.5be288"]]},{"id":"cce9094a.5be288","type":"websocket out","z":"66314fa.7e674b","name":"","server":"7c9a18e2.88dca8","client":"","x":500,"y":160,"wires":[]},{"id":"1b3e6389.f28bbc","type":"template","z":"66314fa.7e674b","name":"muapp tmpl","field":"","fieldType":"msg","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>myApp</title>\n  <style type=\"text/css\">{{payload}}</style>\n  \n<script type=\"text/javascript\">\n//\"use strict\";\nfunction $(id){return document.getElementById(id);}\ndocument.addEventListener('DOMContentLoaded', function() {\n});\n\nvar wsUri = \"ws://{{req.headers.host}}/ws/myapp\";\nvar ws = new WebSocket(wsUri);\nvar color='red';\nvar radio = 1;\nvar slider=50;\n\n\n    function getSlider(val){\n        slider = val;\n        $('radio'+radio).textContent=slider;\n        ws.send(JSON.stringify({slider:slider,radio:radio,color:color}));\n    }\n    \n    function getRadio(that){\n        radio = that.value;\n        //console.log(radio);\n    }\n    \n    function sendColor(vcolor) {\n        color=vcolor;\n        ws.send(JSON.stringify({radio:radio,color:color}));\n    }\n    \n    \n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  }\n\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n    messageBox.appendChild(message);\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n    var message = document.createTextNode(message);\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    //console.log('payload=',payload);\n    if (payload.message){\n        createUserMessage(payload.user, payload.message);\n        var chat = document.getElementById('chat_box');\n        chat.scrollTop = chat.scrollHeight;\n    }\n    if (payload.color){\n        $('field').style.background=payload.color;   \n        $('radio'+payload.radio).style.background=payload.color;   \n    }\n  }\n\n</script>\n\n</head>\n\n<body>\n    \n    <div id=\"radiocheck\">\n        1<input type=\"radio\" name=\"auto\" value=1 onChange=\"getRadio(this)\" checked/> &nbsp;\n        2<input type=\"radio\" name=\"auto\" value=2 onChange=\"getRadio(this)\" /> &nbsp;\n        3<input type=\"radio\" name=\"auto\" value=3 onChange=\"getRadio(this)\" /> &nbsp;\n        \n    </div>\n    <div id=\"radios\">\n        <span id=\"radio1\">radio 1</span>\n        <span id=\"radio2\">radio 2</span>\n        <span id=\"radio3\">radio 3</span>\n    </div>\n    <div id=\"field\">\n        <button onClick=\"sendColor('#ff0000')\">Red</button>\n        <button onClick=\"sendColor('green')\">Green</button>\n        <button onClick=\"sendColor('blue')\">Blue</button>\n    </div>\n    <br />\n    \n    <div id=\"slider\">\n        <input type=\"range\" id=\"slider_1\" value=\"50\" min=\"0\" max=\"100\" onChange=\"getSlider(this.value)\" style=\"width:50%;min-width:240px;\" />\n    </div>\n    <br />\n    <div id=\"slider2\">\n        <input type=\"range\" id=\"slider_2\" value=\"50\" min=\"0\" max=\"100\" onInput=\"getSlider(this.value)\" style=\"width:50%;min-width:240px;\" />\n    </div>\n    <br />\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n\n","x":350,"y":320,"wires":[["5f847204.30cb2c"]]},{"id":"6d15f0c6.6ee75","type":"template","z":"66314fa.7e674b","name":"css","field":"","fieldType":"msg","format":"css","syntax":"plain","template":"\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n\n","x":190,"y":320,"wires":[["1b3e6389.f28bbc"]]},{"id":"48c0b21f.e730ac","type":"debug","z":"66314fa.7e674b","name":"","active":false,"console":"false","complete":"false","x":300,"y":240,"wires":[]},{"id":"c4d2c040.3ecde","type":"debug","z":"66314fa.7e674b","name":"","active":true,"console":"false","complete":"false","x":290,"y":80,"wires":[]},{"id":"7c9a18e2.88dca8","type":"websocket-listener","z":"","path":"/ws/myapp","wholemsg":"false"}]
