node-red/ws.radio-chat.json
[{"id":"5cb0a51e.d64cac","type":"http in","z":"66314fa.7e674b","name":"","url":"/myapp","method":"get","swaggerDoc":"","x":110,"y":240,"wires":[["b445113d.b69fd","a6af5722.d1bd18"]]},{"id":"f282c629.418d08","type":"http response","z":"66314fa.7e674b","name":"","x":550,"y":240,"wires":[]},{"id":"7101877.e89bd78","type":"websocket in","z":"66314fa.7e674b","name":"","server":"7c9a18e2.88dca8","client":"","x":120,"y":140,"wires":[["2889df0d.a9fc8","f810d8c4.914cd8"]]},{"id":"2889df0d.a9fc8","type":"function","z":"66314fa.7e674b","name":"no sess","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["608b9674.87d938"]]},{"id":"608b9674.87d938","type":"websocket out","z":"66314fa.7e674b","name":"","server":"7c9a18e2.88dca8","client":"","x":520,"y":140,"wires":[]},{"id":"b445113d.b69fd","type":"debug","z":"66314fa.7e674b","name":"","active":false,"console":"false","complete":"false","x":320,"y":220,"wires":[]},{"id":"f810d8c4.914cd8","type":"debug","z":"66314fa.7e674b","name":"","active":false,"console":"false","complete":"false","x":310,"y":60,"wires":[]},{"id":"a6af5722.d1bd18","type":"template","z":"66314fa.7e674b","name":"CSS","field":"payload","fieldType":"msg","format":"css","syntax":"plain","template":"\n  * {\n    font-family: 'Palatino Linotype', 'Book Antiqua', Verdana,Palatino, serif;\n    \n    font-size: 1.2em;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n\nbutton {\n  border: solid 1px #ccc;\n  border-radius: 8px;\n  color: #fff;\n  background-image: linear-gradient(#5187c4, #1c2f45);\n  background-size: auto 200%;\n  background-position: 0 100%;\n  transition: background-position 0.5s;\n    font-size:0.95rem;\n    color:#eee;\n    background-image: linear-gradient(#5187c4, #1c2f45);\n    background-size: auto 200%;\n    background-position: 0 100%;\n    transition: background-position 0.5s;\n    padding:0.33rem;\n    margin:0.25rem;\n    min-width:2rem;  \n    line-height:1.5em;\n}\nbutton:hover {\n    color:#fff;\n    background-position: 0 0;\n}\n\n:focus {\noutline: 0;\n}\n\n\ntr {margin:0; padding:0;}\ntd {margin:0; padding:0;}\ntable button {margin:0;}","x":240,"y":360,"wires":[["56ae765a.309378","4622f4f3.c0195c"]]},{"id":"56ae765a.309378","type":"template","z":"66314fa.7e674b","name":"HTML-sliders","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n    <meta name=\"mobile-web-app-capable\" content=\"yes\">\n    <link rel=\"shortcut icon\" sizes=\"16x16\" href=\"data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREAAAAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAAAAAAA\">\n    <title>myApp</title>\n    <link rel=\"shortcut icon\" href=\"data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREAAAAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAD//wAA//8AAP//AAAAAAAA\"/>\n    <style type=\"text/css\">{{payload}}</style>\n  \n<script type=\"text/javascript\">\n//\"use strict\";\nfunction $(id){return document.getElementById(id);}\ndocument.addEventListener('DOMContentLoaded', function() {\n});\n\nvar wsUri = \"ws://{{req.headers.host}}/ws/myapp\";\nvar ws = new WebSocket(wsUri);\nvar color='red';\nvar radio = 1;\nvar slider=50;\n\n    function getSlider(val){\n        slider = val;\n        $('radio'+radio).textContent=slider;\n        ws.send(JSON.stringify({slider:slider,radio:radio,color:color}));\n        console.time('slide');\n    }\n    \n    function getRadio(that){\n        radio = that.value;\n        //console.log(radio);\n    }\n    \n    function sendColor(vcolor) {\n        color=vcolor;\n        ws.send(JSON.stringify({radio:radio,color:color}));\n    }\n    \n    \n    function sendMessage() {\n        var user = document.getElementById('user');\n        var message = document.getElementById('message');\n        var payload = {\n            message: message.value,\n            user: user.value,\n            ts: (new Date()).getTime()\n        };\n        ws.send(JSON.stringify(payload));\n        message.value = \"\";\n    }\n\n\n    function createSystemMessage(message) {\n        var message = document.createTextNode(message);\n        var messageBox = document.createElement('p');\n        messageBox.className = 'system';\n        messageBox.appendChild(message);\n        var chat = document.getElementById('chat_box');\n        chat.appendChild(messageBox);\n    }\n    \n    function createUserMessage(user, message) {\n        var user = document.createTextNode(user + ': ');\n        var userBox = document.createElement('span');\n        userBox.className = 'username';\n        userBox.appendChild(user);\n        var message = document.createTextNode(message);\n        var messageBox = document.createElement('p');\n        messageBox.appendChild(userBox);\n        messageBox.appendChild(message);\n        var chat = document.getElementById('chat_box');\n        chat.appendChild(messageBox);\n    }\n    \n    ws.onopen = function(ev) {\n        createSystemMessage('[Connected]');\n    };\n    \n    ws.onclose = function(ev) {\n        createSystemMessage('[Disconnected]');\n    }\n\n    ws.onmessage = function(ev) {\n        var payload = JSON.parse(ev.data);\n        //console.log('payload=',payload);\n        if (payload.message){\n            createUserMessage(payload.user, payload.message);\n            var chat = document.getElementById('chat_box');\n            chat.scrollTop = chat.scrollHeight;\n        }\n        if (payload.color){\n            $('field').style.background=payload.color;   \n            $('radio'+payload.radio).style.background=payload.color;   \n            $('slider_ret').value=payload.slider;\n            console.timeEnd('slide');\n            //console.log('payload=',payload.slider);\n        }\n    }\n\n</script>\n\n</head>\n\n<body>\n    \n    <div id=\"radiocheck\">\n        1<input type=\"radio\" name=\"auto\" value=1 onChange=\"getRadio(this)\" checked/> &nbsp;\n        2<input type=\"radio\" name=\"auto\" value=2 onChange=\"getRadio(this)\" /> &nbsp;\n        3<input type=\"radio\" name=\"auto\" value=3 onChange=\"getRadio(this)\" /> &nbsp;\n        \n    </div>\n    <div id=\"radios\">\n        <span id=\"radio1\">radio 1</span>\n        <span id=\"radio2\">radio 2</span>\n        <span id=\"radio3\">radio 3</span>\n    </div>\n    <div id=\"field\">\n        <button onClick=\"sendColor('#ff0000')\">Red</button>\n        <button onClick=\"sendColor('green')\">Green</button>\n        <button onClick=\"sendColor('blue')\">Blue</button>\n    </div>\n    <br />\n    \n    <div id=\"slider\">\n        <input type=\"range\" id=\"slider_1\" value=\"50\" min=\"0\" max=\"100\" onChange=\"getSlider(this.value)\" style=\"width:50%;min-width:240px;\" />\n    </div>\n    <br />\n    <div id=\"slider2\">\n        <input type=\"range\" id=\"slider_2\" value=\"50\" min=\"0\" max=\"100\" onInput=\"getSlider(this.value)\" style=\"width:50%;min-width:240px;\" />\n    </div>\n    <hr />\n    <div id=\"slideret\">\n        <input type=\"range\" id=\"slider_ret\" value=\"50\" min=\"0\" max=\"100\" onInput=\"getSlider(this.value)\" style=\"width:50%;min-width:240px;\" />\n    </div>\n    <br />\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n\n","x":390,"y":420,"wires":[[]]},{"id":"4622f4f3.c0195c","type":"template","z":"66314fa.7e674b","name":"HTML-touch","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<html>\n<head>\n<title>Touch-move</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no\">\n<meta name=\"mobile-web-app-capable\" content=\"yes\">\n<link rel=\"shortcut icon\" sizes=\"128x128\" href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACAAgMAAAC+UIlYAAAADFBMVEX/AAA6AMUAAP9HcEzdT1VqAAAABHRSTlOz6LMA1E37jQAAAEJJREFUeF7tyqENACAMRcFuwHQYRqxhtW5QXBGILzCEvNNnKegQdmofBgKBQOhleJm3gUAgEAhZfHsrEAgEAkGQYQHN/HVbVc8OSwAAAABJRU5ErkJggg==\" id=\"shortcut-icon\">\n <style type=\"text/css\">{{payload}}</style>\n<style>\n\tbody {font-size:16px; font-family:Verdana; margin:0; padding:0;}\n\t#arrow{line-height:0; }\n.box{ \n    background: radial-gradient(at 50% 50%, #ffffff 1%, #000000 90%);\n\n}\n</style>\n\n<script>\nvar margines  = 0; \nvar szerokosc = 300;\nvar scale = szerokosc/100;\nvar statusdiv = null;\nvar wss=null;\n\nfunction $(id){return document.getElementById(id);}\nvar arrow=$('arrow');\n\ndocument.addEventListener('DOMContentLoaded', function() {\n/* start of touch-move        */    \n    statusdiv = $('statusdiv');\n    $('container').style.width  = szerokosc+'px';\n    $('container').style.height = szerokosc+'px';\n    $('box1').style.width  = szerokosc+'px';\n    $('box1').style.height = szerokosc+'px';\n    $(\"arrow\").style.top  = (szerokosc/2)+'px';\n    $(\"arrow\").style.left = (szerokosc/2)+'px';\n    var box1 = document.getElementById('box1');\n    \n    var startx = 0;\n    var starty = 0;\n\n    function writeStatus(x,y,tx){\n        if (x && y){\n            x = Math.round(x/scale);\n            y = Math.round(y/scale);\n            //console.log(scale,x,y,tx)\n            statusdiv.innerHTML = x + ' / '+y+' px '+tx;\n            sendXY(x,y);\n        } else {\n            statusdiv.innerHTML = tx;\n        }\n    }\n\n\n    box1.addEventListener('touchstart', function(e){\n        var touchobj = e.changedTouches[0];\n        var startX = parseInt(touchobj.clientX);\n        var startY = parseInt(touchobj.clientY);\n        writeStatus(startX,startY,'Touchstart');\n        e.preventDefault();\n    }, false);\n \n    box1.addEventListener('touchmove', function(e){\n        var touchobj = e.changedTouches[0];\n        var X = parseInt(touchobj.clientX)-margines;// - startx;\n        var Y = parseInt(touchobj.clientY)-margines;// - starty;\n        X=X<0?0:X;\n        Y=Y<0?0:Y;\n        X=X>szerokosc?szerokosc:X;\n        Y=Y>szerokosc?szerokosc:Y;\n        writeStatus(X,Y,'Touchmove');\n        e.preventDefault();\n    }, false);\n\n\n    box1.addEventListener('touchend', function(e){\n        var touchobj = e.changedTouches[0];\n        var X = parseInt(touchobj.clientX);\n        var Y = parseInt(touchobj.clientY);\n        writeStatus(X,Y,'Touchend');\n        e.preventDefault();\n    }, false);\n    \n\n     box1.addEventListener('mousemove', function(e){\n        var touchobj = e;\n        var X = parseInt(touchobj.clientX)-margines;// - startx;\n        var Y = parseInt(touchobj.clientY)-margines;// - starty;\n        X=X<0?0:X;\n        Y=Y<0?0:Y;\n        X=X>szerokosc?szerokosc:X;\n        Y=Y>szerokosc?szerokosc:Y;\n        writeStatus(X,Y,'Mousemove');\n        e.preventDefault();\n    }, false);   \n    \n    \n/* end of touch-move        */\n\n\n/* start of socked        */\n/* ========================================================= */\n\n\nvar wsUri = \"ws://{{req.headers.host}}/ws/myapp\";\nvar ws = new WebSocket(wsUri);\nwss=ws;\nvar color='red';\nvar radio = 1;\nvar slider=50;\n\n\n    function sendXY(x,y) {\n        ws.send(JSON.stringify({x:x,y:y}));\n    }\n    \n    ws.onopen = function(ev) {\n        writeStatus(null,null,'[Connected]');\n    };\n    \n    ws.onclose = function(ev) {\n        writeStatus(null,null,'[Disconnected]');\n    }\nvar deg2rad = Math.PI/180;\nvar rad2deg = 180/Math.PI;\n\n    ws.onmessage = function(ev) {\n        var payload = JSON.parse(ev.data);\n        //console.log('payload=',payload);\n        var arrow = $('arrow');\n            //var deg = payload.x - 50;\n            var x = payload.x-50;\n            var y = 50 - payload.y;\n            var tanges = x/y;\n            var deg = Math.atan(tanges) * rad2deg;\n            //console.log(0,x,y,'tan='+tanges,'deg='+Math.round(deg))\n            if(y<0) deg -=180;\n            //console.log(1,x,y,'tan='+tanges,'deg='+Math.round(deg))\n        //arrow.style.webkitTransform = \"rotate(\"+deg+\"deg)\";\n        \n        var siz = 2*Math.round(Math.sqrt((x*x)+(y*y))) ;\n        //arrow.style.fontSize = siz + 'px';\n        var s= siz/10;\n        arrow.style.webkitTransform = \"rotate(\"+deg+\"deg) scale(\"+s+\")\";\n        //arrow.style.webkitTransform = \"translateX(\"+size+\"px)\";\n        //arrow.style.webkitTransform = \"translateY(\"+size+\"px)\";\n\n\n        //arrow.style.left = (100-(siz)+(siz/2)) + 'px';\n        //arrow.style.top  = (100-(siz)-(siz/2)) + 'px';\n        //arrow.style.left = ((100-siz)) + 'px';\n        //arrow.style.top  = ((100-siz)) + 'px';\n\n    }\n\n/* end of socked        */\n    \n}); \n\nfunction buttonClick(that){\n    console.log(that.dataset.x,that.dataset.y);\n    wss.send(JSON.stringify({x:that.dataset.x,y:that.dataset.y}));\n}\n \n</script>\n\n</head>\n<body>\n\t<div id=\"container\" style=\"position:relative; margin:0px; width:240px; height:240px;\" >\n\t\t<div class=\"box\" id=\"box1\" style=\"border:1px; position:absolute;top:0; left:0; width:240px; height:240px; opacity:0.75;\">\t\t</div>\n\t    <div id=\"arrow\" style=\"position:absolute; left:100px;top:100px;font-size:15px; transform:rotate(0deg);\">&uarr;</div>\n\t</div>\n\t\n\t<h3 id=\"statusdiv\">Touch and move</h3>\n\t<div id=\"arr\" style=\"position:relative; left:100px; top:10px; \" >\n    <table>\n\t    <tr>\n\t        <td><button onClick=\"buttonClick(this)\" data-x=10 data-y=10>&nwarr;</button></td>\n\t        <td><button onClick=\"buttonClick(this)\" data-x=50 data-y=10>&uarr;</button></td>\n\t        <td><button onClick=\"buttonClick(this)\" data-x=90 data-y=10>&nearr;</button></td>\n\t    </tr>\n\t    <tr>\n\t        <td><button onClick=\"buttonClick(this)\" data-x=10 data-y=50>&larr;</button></td>\n\t        <td><button onClick=\"buttonClick(this)\" data-x=51 data-y=51>&equals;</button></td>\n\t        <td><button onClick=\"buttonClick(this)\" data-x=90 data-y=50>&rarr;</button></td>\n\t    </tr>\n\t    <tr>\n    \t    <td><button onClick=\"buttonClick(this)\" data-x=10 data-y=90>&swarr;</button></td>\n    \t    <td><button onClick=\"buttonClick(this)\" data-x=50 data-y=90>&darr;</button></td>\n\t        <td><button onClick=\"buttonClick(this)\" data-x=90 data-y=90>&searr;</button></td>\n\t    </tr>\n    </table>\n    </div>\t    \n\t\n\t\n</body>\n</html>\n","x":390,"y":300,"wires":[["f282c629.418d08"]]},{"id":"7c9a18e2.88dca8","type":"websocket-listener","z":"","path":"/ws/myapp","wholemsg":"false"}]
